@model LightStreamWeb.Models.ApplicationStatus.ApprovedPageModel
@{
  string ListItem = this.ViewData.ContainsKey("ListIndex") ? this.ViewData["ListIndex"].ToString() + "." : "";
}
    <div class="row" ng-class="{ 'ruled' : !(LoanAcceptance.PaymentIsSameAsFunding === false || LoanAcceptance.FundingRoutingNumberInvalidForDebits)}">
    <div class="medium-12 columns">
        <h3 class="brand">@(ListItem) Payment Account</h3>
        <p>Please select an account for your ACH monthly loan payments. Payments can be made from an account with any bank or credit union in the United States, as long as the account permits ACH withdrawals. Please note that we do not accept credit card payments.</p>

        <input type="radio" name="PaymentIsSameAsFunding" id="PaymentIsSameAsFundingYes" ng-required="true" ng-model="LoanAcceptance.PaymentIsSameAsFunding" ng-value="true"><label for="PaymentIsSameAsFundingYes">Same as Funding Account</label>
        <input type="radio" name="PaymentIsSameAsFunding" id="PaymentIsSameAsFundingNo" ng-required="true" ng-model="LoanAcceptance.PaymentIsSameAsFunding" ng-value="false"><label for="PaymentIsSameAsFundingNo">Different Account</label>
    </div>
</div>
<div class="row ruled" ng-if="LoanAcceptance.PaymentIsSameAsFunding === false || LoanAcceptance.FundingRoutingNumberInvalidForDebits" ng-cloak ng-form="Act_Approved_ActNmbrFlds">
    <div class="medium-6 columns">
        <div class="row">
            <div class="medium-12 columns">
                <label>Authorized Signer(s) on Account</label>
                @Html.NgDropDownList(
                            ngModel: "LoanAcceptance.PaymentAccount.AuthorizedSigner",
                            name: "PaymentAccountAuthorizedSigner",
                            ariaLabel: "Select Authorized Signers on Account",
                            items: Model.AuthorizedSignerList,
                            attributes: new { @ng_disabled = (Model.ApplicationType == FirstAgain.Domain.Lookups.FirstLook.ApplicationTypeLookup.ApplicationType.Individual).ToString().ToLower() })


            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <label>9 Digit Institution Routing Number</label>
                @LSForm.NumberString("PaymentAccountRoutingNumber", "LoanAcceptance.PaymentAccount.RoutingNumber", true, minLength: 9, maxLength: 9, attributes: "ls-routing-number")

                <div class="formalert" ng-show="LoanAcceptance.IsWire && LoanAcceptance.PaymentAccount.IsRoutingNumberInvalid" ng-cloak="">
                    <p>The institution routing number that you have entered is for wire transfers. For your monthly loan payments we require an ACH routing number, which is different. This can generally be found on your check (see example above). If you are not sure, please contact your financial institution to get the appropriate ACH routing number of your designated payment account. Please correct the number to avoid a returned payment.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <label>Account Number </label>
                @LSForm.BankAccountNumber("PaymentAccountNumber", "LoanAcceptance.PaymentAccount.AccountNumber", true, formName: "Act_Approved_ActNmbrFlds")
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <label>Re-enter Account Number</label>
                @LSForm.BankAccountNumber("ConfirmPaymentAccountNumber", "LoanAcceptance.PaymentAccount.ConfirmAccountNumber", true, formName: "Act_Approved_ActNmbrFlds", attributes: "ls-password-match='LoanAcceptance.PaymentAccount.AccountNumber'")
            </div>
        </div>
        <div class="row">
            <div class="medium-3 columns">
                <label>Account Type</label>
            </div>
            <div class="medium-9 columns">

                <input type="radio" name="PaymentAccountType" id="PaymentAccountTypeChecking" ng-required="true" ng-model="LoanAcceptance.PaymentAccount.IsCheckingAccount" ng-value="true"><label for="FundingAccountTypeChecking">Checking</label>
                <input type="radio" name="PaymentAccountType" id="PaymentAccountTypeSavings" ng-required="true" ng-model="LoanAcceptance.PaymentAccount.IsCheckingAccount" ng-value="false"><label for="FundingAccountTypeSavings">Savings</label>

            </div>
        </div>
    </div>

    @*<div class="medium-6 columns">

        </div>*@
</div>

