@model LightStreamWeb.Models.ApplicationStatus.ApprovedPageModel

<section class="row">
	<div class="large-12 columns">
        <h3>@Model.ApplicantNamesText, </h3>

        <p>@Html.Raw(Model.WelcomeMessage)</p>
        @if (Model.LastNLTRWasDeclined)
        {
            if (Model.HasDeclineNotice())
            {
                <p>To view the reasons your new loan terms request was not approved, <a data-href="/enotices/modal" data-suppress="CreditScoreDisclosureHtml" data-popup="true">click here</a>.</p>
            }
            else
            {
                <p id="WaitingForDeclineNotice"><img src="@Model.CdnBaseUrl/ajax-loader.gif" alt="waiting" /></p>
                <p id="DeclineNoticeHasBeenFound" style="display:none">To view the reasons your new loan terms request was not approved, <a data-href="/enotices/modal" data-suppress="CreditScoreDisclosureHtml" data-popup="true">click here</a>.</p>
            }

        }

        <p>@Html.Raw(Model.SameDayFundingMessage)</p>

        @Html.Partial("~/Views/ApplicationStatus/Approved/_SecuredAuto.cshtml", Model.GetPurposeOfLoan())
	</div>
</section>

@if (Model.CanSwitchToAutoPay())
{
    <section class="row">
        <div class="medium-6 columns tip">
            <strong>Tip: </strong><a href="/appstatus/switchtoautopay" id="SwitchToAutoPay">Click here</a> to switch to AutoPay and reduce your interest by 0.50 pts.
        </div>
    </section>
}
<section class="row ruled">
        <div class="large-6 columns">
            <div class="offerTermsTable" id="OfferTermsTable">

                <div class="medium-12 columns ">
                    <div class="grid-x">
                        @if (Model.LastNLTRWasCancelled || Model.LastNLTRWasDeclined)
                        {
                            <div class="cell small-6 coltitle brand hide-for-small-only" id="PreviousApprovedTermsColTitle">Previous Approved Terms</div>
                            <div class="cell small-6 coltitle coltitle-last brand hide-for-small-only" id="PreviousApprovedTermsValueColTitle">&nbsp;</div>
                        }
                        else
                        {
                            <div class="cell small-6 coltitle brand hide-for-small-only" id="LoanTermsColTitle">Loan Terms</div>
                            <div class="cell small-6 coltitle coltitle-last brand hide-for-small-only" id="ApprovedColTitle">Approved</div>
                        }
                    </div>
                    <div class="grid-x">
                        <div class="cell small-6 brand" id="LoanAmount">Loan Amount</div>
                        <div class="cell small-6" id="LoanAmountValue">
                            @Model.LoanTerms.LoanAmountMinusFees.ToString("C")  @if (Model.LoanTerms.FloridaDocStampTax.HasValue)
                            { @:<super><a href="" data-flash="FloridaDocStampDisclosure" id="FloridaDocStampDisclosureFlag">**</a></super>
                                    }
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell small-6 brand" id="LoanTerm">Loan Term</div>
                        <div class="cell small-6" id="LoanTermValue">@Model.LoanTerms.LoanTerm months</div>
                    </div>
                    <div class="grid-x">
                        <div class="cell small-6 brand" id="InterestRate">Interest Rate/APR</div>
                        <div class="cell small-6 " id="InterestRateValue">@Model.LoanTerms.InterestRate</div>
                    </div>
                    <div class="grid-x">
                        <div class="cell small-6 brand" id="MonthlyPayment">Monthly Payment</div>
                        <div class="cell small-6" id="MonthlyPaymentValue">@Model.LoanTerms.MonthlyPayment</div>
                    </div>
                    <div class="grid-x">
                        <div class="cell small-6 brand" id="PaymentMethod">Payment method</div>
                        <div class="cell small-6" id="PaymentMethodValue">@Model.LoanTerms.PaymentMethod</div>
                    </div>
                    <p>This offer expires on @Model.OfferCutOffDate.ToShortDateString()</p>
                </div>

                @if (Model.LoanTerms.FloridaDocStampTax.HasValue)
                {
                    <div class="medium-12 columns loannotes" id="FloridaDocStampDisclosure">
                        <p><super>**</super> @Html.Raw(string.Format(Resources.FAMessages.FloridaDocStampDisclosure, "/partial/florida-doc-stamp-info", Model.LoanTerms.FloridaDocStampTax.Value))</p>
                    </div>
                }
            </div>
        </div>
        <div class="large-6 columns">
            <div class="large-12 columns">
                <h3 style="padding-top:5px">Loan Terms Okay?</h3>
            </div>

            <div class="large-12 columns">
                @if (Model.LastNLTRWasCancelled || Model.LastNLTRWasDeclined)
                {
                    <a href="#/LoanAgreement" class="button button-medium" id="ContinueWithPreviousTerms">Continue with Previous Terms</a>
                }
                else
                {
                    <a href="#/LoanAgreement" class="button button-medium" id="ProceedToLoanAgreement">Proceed to Loan Agreement</a>
                }
                <br />
                <br />
            </div>
            <div class="large-12 columns">
                <h3>Other Options:</h3>
                @if (Model.CanRequestNLTR())
                { 
                <p><a href="#/ChangeLoanTerms" id="ChangeLoanTerms">Change Loan Terms</a></p>
                }

                @if (Model.AddCoApplicantIsEnabled())
                {
                    <p><a href="/apply/joint/start" id="SubmitJointApplication">Submit Joint Application</a></p>
                }

                <p><a href="/appstatus/cancelloan" id="CancelLoanApplication">Cancel Loan Application</a></p>
            </div>
        </div>

    </section>

