@model LightStreamWeb.Models.ApplicationStatus.ApprovedPageModel

<section class="row ruled">
	<div class="large-12 columns">
        <h3 class="brand">Verification</h3>

        <p>
            For your security and ours, we require that you provide us with information from your "personal" Visa or Mastercard credit card.
            We use this information for verification purposes only, we do <b>not</b> charge your credit card.
        </p>

        <p><strong>Please note, the following are NOT acceptable for verification purposes: a business credit card, or a check card/debit                
        card that is tied to your bank account, such as a Visa Check Card or Debit Mastercard.</strong></p>
	</div>
</section>

<section class="row">
	<div class="large-12 columns">
        <h3 class="brand">Personal Credit Card Information</h3>
	</div>
</section>

<form name="AccountVerificationForm" novalidate ls-validate-on-submit on-success="submitFinal()">
<section>
    <div class="row">
        <div class="medium-6 columns">
            <label class="left"><sup>*</sup>Credit Card Holder</label>
            @Html.NgDropDownList(
                    ngModel: "LoanAcceptance.Verification.CardholderName", 
                    name: "CardholderName", 
                    ariaLabel: "Select cardholder name.",
                    items: Model.AuthorizedSignerList,
                    required: true,
                    attributes: new { @ng_disabled = (Model.ApplicationType == FirstAgain.Domain.Lookups.FirstLook.ApplicationTypeLookup.ApplicationType.Individual).ToString().ToLower() } )
        </div>
    </div>

    <div class="row">
        <div class="medium-6 columns">
            <label class="left"><sup>*</sup>Billing Address (change if different)</label>
            <input id="BillingAddress" type="text" 
                ng-model="LoanAcceptance.Verification.Address.BillingAddress" 
                required
                maxlength="50"
                ng-pattern="/^[\d|r]/i"
                ls-proper-case="true">    
        </div>
	    <div class="medium-2 columns small-6">
	        <label>Apt, etc.</label>
            @(Html.NgDropDownSelectList(
                "LoanAcceptance.Verification.Address.SecondaryUnitType", 
                "SecondaryUnitType",
                "Select unit type.",
                FirstAgain.Domain.Lookups.FirstLook.PostalAddressSecondaryUnitTypeLookup.GetFilteredList(FirstAgain.Domain.Lookups.FirstLook.PostalAddressSecondaryUnitTypeLookup.FilterType.Home),
                "false"))
	    </div>
	    <div class="medium-2 columns small-6 medium-pull-2">
	        <label>&nbsp;</label>
            <input id="SecondaryUnitValue" type="text" 
                maxlength="10"
                ng-show="LoanAcceptance.Verification.Address.SecondaryUnitType && LoanAcceptance.Verification.Address.SecondaryUnitType != 'NotSelected'"
                ng-model="LoanAcceptance.Verification.Address.SecondaryUnitValue"
                ng-required="LoanAcceptance.Verification.Address.SecondaryUnitType && LoanAcceptance.Verification.Address.SecondaryUnitType != 'NotSelected'"
                />    
	    </div>
    </div>

    <div class="row">
	    <div class="medium-6 columns">
	        <label><sup>*</sup>City</label>
            <input type="text" 
                id="City" 
                ng-model="LoanAcceptance.Verification.Address.City" 
                maxlength="50" ls-proper-case="true"
                required>    
	    </div>
	    <div class="medium-2 columns">
	        <label><sup>*</sup>State</label>
                @(Html.NgDropDownEnumList(
                        "LoanAcceptance.Verification.Address.State", 
                        "State", 
                        "Select state.",
                        FirstAgain.Domain.Lookups.FirstLook.StateLookup.GetFilteredBindingSource(FirstAgain.Domain.Lookups.FirstLook.StateLookup.FilterType.Inbusiness),
                        true))
	    </div>
	    <div class="large-2 medium-3 columns medium-pull-1 large-pull-2">
	        <label><sup>*</sup>Zip Code</label> 
            @LSForm.ZipCode(nameAndId: "ZipCode", 
                            ariaLabel: "Enter zip zode.",
                            ngModel: "LoanAcceptance.Verification.Address.ZipCode", 
                            required: true)
	    </div>
    </div>
    <div class="row ruled">
	    <div class="medium-6 columns">
	        <label><sup>*</sup>Credit Card Number (no check or debit cards)</label>

            <input type="text" 
                id="CreditCardNumber" 
                ls-credit-card-number
                ng-model="LoanAcceptance.Verification.CreditCardNumber" 
                maxlength="16" ng-minlength="16" ng-maxlength="16" ls-numbers-only
                required>    
            <div>
                <img src="/content/images/visa.gif" style="display: inline;" alt="Visa">&nbsp;&nbsp;<img src="/content/images/mastercard.gif" style="display: inline;" alt="MasterCard">
            </div>
	    </div>
        <div class="medium-5 columns medium-pull-1 large-4 large-pull-2">
            <div class="row">
                <div class="medium-6 columns">
                    <label>Expiration Date</label>
                    @Html.NgDropDownList(
                            ngModel: "LoanAcceptance.Verification.ExpirationMonth",
                            name: "ExpirationMonth",
                            ariaLabel: "Select expiration month.",
                            items: Model.CCMonthsList,
                            required: true)
                </div>
                <div class="medium-6 columns">
                    <label>&nbsp;</label>
                    @Html.NgDropDownList(
                        ngModel: "LoanAcceptance.Verification.ExpirationYear",
                        name: "ExpirationYear",
                        ariaLabel: "Select expiration year.",
                        items: Model.CCYearsList,
                        required: true)
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns" ng-cloak ng-show="AccountVerificationForm.ExpirationMonth.$dirty && AccountVerificationForm.ExpirationYear.$dirty && !hasValidExpirationDate()">
                    <div class="formalert">
                        <p>Please enter a valid date</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="medium-12 columns">
            <input type="submit" value="Submit" id="SubmitAccountVerification" class="button" ng-disabled="!hasValidExpirationDate() || Waiting" />
            <img src="@Model.CdnBaseUrl/ajax-loader.gif" ng-cloak ng-show="Waiting" />
        </div>
    </div>
</section>
</form>