@model LightStreamWeb.Models.PublicSite.LandingPageModel
@using LightStreamWeb.Helpers
@using LightStreamWeb.Models.PublicSite
@using LightStreamWeb.Models.Components;
@using FirstAgain.Domain.SharedTypes.ContentManagement

@section metaTags {
    @Html.Partial("~/Views/PublicSite/Partials/_LandingPageMetaTags.cshtml")
}

@{
    Layout = "~/Views/Layouts/_RedesignBase.cshtml";
    Model.NavClass = "bluetint";
    Model.NavAutoLabel = "Auto";
    LightStreamWeb.Models.Components.RateCalculatorModel calculator =
        new LightStreamWeb.Models.Components.RateCalculatorModel()
        {
            DisplayCalculator = true,
            FirstAgainCodeTrackingId = Model.FirstAgainCodeTrackingId,
            DisplayItsEasyToFindYourRate = true,
            PurposeOfLoan = (FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan)Model.PurposeOfLoan
        };

    var ctaBarModel = new CTABarModel()
    {
        CTABarDescriptions = Model.Content.CTABarDescriptions,
        ShowCTAWhyLightStreamLink = Model.Content.ShowCTAWhyLightStreamLink
    };

    var useDefaultNav = Model.Content.TemplateComponents != null
        && Model.Content.TemplateComponents.Any(c => c.TemplateComponentType == TemplateComponentType.DefaultNav);

    var usePartnerNav = Model.Content.TemplateComponents != null
        && Model.Content.TemplateComponents.Any(c => c.TemplateComponentType == TemplateComponentType.PartnerNav);

    var useEventBanner = Model.Content.TemplateComponents != null
        && Model.Content.TemplateComponents.Any(c => c.TemplateComponentType == TemplateComponentType.EventBanner);

    var usePaidSearchBanner = Model.Content.TemplateComponents != null
        && Model.Content.TemplateComponents.Any(c => c.TemplateComponentType == TemplateComponentType.PaidSearchBanner);

    var useRateRangeBanner = Model.Content.TemplateComponents != null
        && Model.Content.TemplateComponents.Any(c => c.TemplateComponentType == TemplateComponentType.RateRangeBanner);

    BlogModel blogModel = null;

    if (Model.Content.Blog != null)
    {
        blogModel = new BlogModel
        {
            BlogHostName = Model.BloggerURL,
            BlogTestUrl = Model.Content.Blog.BlogTestUrl,
            Urn = Model.Content.Blog.Urn,
        };
    }

    int openTextArrayIndex = -1;
}

@Styles.Render("~/bundles/redesign-landing-page-styles")

@if (Model.FeatureBullets != null && Model.FeatureBullets.Count() == 3)
{
    @Styles.Render("~/bundles/three-feature-bullets")
}

@if (!string.IsNullOrWhiteSpace(Model.Content.CustomCSS))
{
    <style>
        @Html.Raw(Model.Content.CustomCSSMinified)
    </style>
}

<div ng-app="LightStreamApp" id="lsAppDiv">


    @section header{

        @if (useDefaultNav)
        {
            @Html.Partial("~/Views/Components/Navbar/DefaultDesktopNav.cshtml", Model)
        }
        else if (usePartnerNav)
        {
            @Html.Partial("~/Views/Components/Navbar/PartnerNav.cshtml", Model)
        }

        @if (useDefaultNav || usePartnerNav)
        {
            @Html.Partial("~/Views/Components/Navbar/DefaultMobileMenu.cshtml", Model)
        }

    <header id="header" class="row widerow">

        @if (useDefaultNav)
        {
            @Html.Partial("~/Views/Components/Navbar/DefaultMobileNav.cshtml", Model)
        }

        @if (usePartnerNav)
        {
            @Html.Partial("~/Views/Components/Navbar/PartnerNavMobile.cshtml", Model)
        }

        @Html.Partial("~/Views/PublicSite/Partials/_Video.cshtml", Model.VideoUrl ?? "https://www.youtube.com/embed/YYuxezlgMIg")

        <div class="banner-container cms">
            <img src="@Model.Content.CenterGraphic.ToImageUrl()" class="hide-for-small-only banner" alt="@(Model.Content.CenterGraphic.Alt ??  "" )" align="right" />
            <img src="@Model.Content.MobileCenterGraphic.ToImageUrl()" alt="@(Model.Content.MobileCenterGraphic.Alt ?? "")" class="mobile-banner cms">
        </div>


        @if (usePartnerNav)
        {
            <style>
                @@media screen and (min-width: 726px) {
                    .loan-aggregator-page.component-template-page #header .rate-banner-container {
                        top: 200px !important;
                    }
                }

                @@media screen and (max-width: 725px) {
                    .loan-aggregator-page.component-template-page #header .rate-banner-container {
                        top: 130px !important;
                    }
                }
            </style>
        }

        @if (useRateRangeBanner)
        {
            <style>
                .loan-aggregator-page #header > div.headline.hide-for-small-only.home3Headline h2 {
                    font-size: 48px !important;
                    text-transform: uppercase;
                }
                @@media screen and (max-width: 725px) {
                    .banner-container {
                        height: 95px !important;
                    }
                }

                @@media screen and (max-width: 725px) {
                    body.home #header .headline h2, body.home #header .headline div span.mobileSpan {
                        text-shadow: 1px 1px 20px black;
                    }
                }
                @@media screen and (max-width: 725px) {
                    body.home #header .headline h2 {
                        text-transform: uppercase;
                    }
                }
                .discounted-rate {
                    font-size: 48px;
                    font-weight: bold;
                    color: #A7A9AC !important;
                    text-shadow: -6px 1px 8px #2e2e2e;
                }
                strike {
                    color: #FF5E17;
                }
            </style>
        }
        @if (useEventBanner)
        {
            @Html.Partial("~/Views/Components/EventBanner.cshtml")
        }
        else if (usePaidSearchBanner)
        {
            <div id="paid-search-banner-container">
                @Html.Partial("~/Views/Components/PaidSearchBanner.cshtml")
            </div>
        }
        else if (useRateRangeBanner)
        {
            @Html.Partial("~/Views/Components/RateRangeBanner.cshtml")
        }
        else
        {
            @Html.Partial("~/Views/Components/RateBanner.cshtml")
        }
    </header>
    }

    @foreach (var component in Model.Content.TemplateComponents.OrderBy(c => c.ComponentOrder))
    {
        ComponentUrlSetting componentSetting = Model.ComponentUrlSettings.FirstOrDefault(c => c.TemplateComponentType.ToString() == component.TemplateComponentType.ToString());
        if (componentSetting != null)
        {
            var url = componentSetting.Url;
            switch (componentSetting.TemplateComponentType)
            {
                case TemplateComponentType.ComparativeTable:
                    if (Model.Content.DisplayComparativeTable)
                    {
                        @Html.Partial(url)
                    }
                    break;
                case TemplateComponentType.ComparativeTableAuto:
                    if (Model.Content.DisplayComparativeTable)
                    {
                        @Html.Partial(url)
                    }
                    break;
                case TemplateComponentType.RateCalculator:
                    var calcAuto = Model.ComponentUrlSettings.FirstOrDefault(c => c.TemplateComponentType == TemplateComponentType.RateCalculatorAuto);
                    <div ng-controller="RateCalculator" ng-init="init('@calculator.PurposeOfLoan', '@calculator.Discount.ToString()', @calculator.IsSuntrustApplication.ToString().ToLower(), @Json.Encode(calculator.CustomRateDisclosureContent))" id="rates">
                        @if (Model.Content.TypeOfRateTableCalculator == LandingPageContent.RateTableCalculatorType.Default)
                        {
                            @Html.Partial(url, calculator)
                        }
                        else
                        {
                            if (calcAuto != null)
                            {
                                @Html.Partial(calcAuto.Url, calculator)
                            }
                        }
                    </div>
                    break;
                case TemplateComponentType.OpenText:
                    openTextArrayIndex += 1;
                    if (Model.OpenTexts != null
                        && Model.OpenTexts.Count >= openTextArrayIndex + 1
                        && Model.OpenTexts[openTextArrayIndex] != null)
                    {
                        @Html.Partial(url, Model.OpenTexts[openTextArrayIndex])
                    }
                    break;
                case TemplateComponentType.ApplyInMinutes:
                    if (Model.Content.DisplayApplyInMinutes)
                    {
                        var aimMobile = Model.ComponentUrlSettings.FirstOrDefault(c => c.TemplateComponentType == TemplateComponentType.ApplyInMinutesMobile);
                        @Html.Partial(url)
                        if (aimMobile != null)
                        {
                            @Html.Partial(aimMobile.Url)
                        }
                    }
                    break;
                case TemplateComponentType.CTABar:
                    var mobile = Model.ComponentUrlSettings.FirstOrDefault(c => c.TemplateComponentType == TemplateComponentType.CTABarMobile);
                    @Html.Partial(url, ctaBarModel)
                    if (mobile != null)
                    {
                        @Html.Partial(mobile.Url, ctaBarModel)
                    }
                    break;
                case TemplateComponentType.OneClickDisclosure:
                    @Html.Partial(url, Model.DisplayRate, new ViewDataDictionary() { { "isOneClickDisclosure", true } })
                    break;
                case TemplateComponentType.BlogRSSFeed:
                    if (blogModel != null)
                    {
                        @Html.Partial(url, blogModel)
                    }
                    break;
                case TemplateComponentType.UnderwriteSection:
                    var underwriteSectionData = new Tuple<List<FeatureBullet>, FeatureBulletSectionCustomizations>
                    (Model.Content.UnderwriteBullets, Model.Content.UnderwriteSectionCustomizations);
                    @Html.Partial(url, underwriteSectionData)
                    break;
                default: //These are handled at the top
                    if (componentSetting.TemplateComponentType == TemplateComponentType.DefaultNav
                    || componentSetting.TemplateComponentType == TemplateComponentType.PartnerNav
                    || componentSetting.TemplateComponentType == TemplateComponentType.EventBanner
                    || componentSetting.TemplateComponentType == TemplateComponentType.RateRangeBanner
                    || componentSetting.TemplateComponentType == TemplateComponentType.PaidSearchBanner)
                    {
                        continue;
                    }
                    @Html.Partial(url)
                    break;
            }
        }
    }

    @section APRDisclosure1 {
        @Html.Partial("~/Views/Components/APRDisclosureShort.cshtml", Model.DisplayRate, new ViewDataDictionary() { { "showPaymentExample", true } })
    }

    @section APRDisclosure {
        <br />
        @Html.Raw(@ADAHelper.PreventMultipleBRsRepeatingBlank(Model.Content.DisclosureCopy))
    }

    @Html.Partial("~/Views/PublicSite/Modals/VideoModal.cshtml", String.IsNullOrWhiteSpace(Model.VideoUrl) ? "https://www.youtube.com/embed/YYuxezlgMIg" : Model.VideoUrl)

    <section class="row ruled homeloanuses">
        @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
    </section>
</div>


@if (usePaidSearchBanner) //placed here as opposed to the top for ordering / browser style selection reasons
{
    @Styles.Render("~/bundles/paidsearch")
    @Styles.Render("~/bundles/paidsearchbanner-tweaks")
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts-template-redesign")
    @Scripts.Render("~/bundles/scripts-blog")

    @if (useEventBanner)
    {
        @Scripts.Render("~/bundles/youtube-video")
        <script src="~/Scripts/app/eventbanner.youtube.js"></script>
    }

    <script type="text/javascript">
        @if (Model.Content.TemplateType == LandingPageContent.VerticalMarketTemplateType.ComponentTemplate)
        {
          <text>SC._t({ pageName: '@Model.CustomOmniHierarchy', hier1: '@Model.CustomOmniHierarchy', products: ';AnythingLoan', events: 'prodView' });</text>
        }
        else
        {
          <text>SC._t({ pageName: '@Model.OmniPageName', hier1: '@Model.OmniHierarchy', products: ';AnythingLoan', events: 'prodView'  });</text>
        }
    </script>
}
