@model LightStreamWeb.Models.PublicSite.LandingPageModel
@using LightStreamWeb.Helpers
@using LightStreamWeb.Models.PublicSite
@using LightStreamWeb.Models.Components;
@{
    Layout = "~/Views/Layouts/_RedesignBase.cshtml";

    Model.NavClass = "bluetint";

    BlogModel blogModel = null;

    if (Model.Content.Blog != null)
    {
        blogModel = new BlogModel
        {
            BlogHostName = Model.BloggerURL,
            BlogTestUrl = Model.Content.Blog.BlogTestUrl,
            Urn = Model.Content.Blog.Urn,
        };
    }
}

@section metaTags {
    @Html.Partial("~/Views/PublicSite/Partials/_LandingPageMetaTags.cshtml")
}

@Styles.Render("~/bundles/redesign-landing-page-styles")

@if (Model.FeatureBullets != null && Model.FeatureBullets.Count() == 3)
{
    @Styles.Render("~/bundles/three-feature-bullets");
}

@if (!string.IsNullOrWhiteSpace(Model.Content.CustomCSS))
{
    <style>
        @Html.Raw(Model.Content.CustomCSSMinified)
    </style>
}

<div ng-app="LightStreamApp">

    @section hero {
        <!-- Banner -->
        <div class="banner-container cms">
            <img src="@Model.Content.CenterGraphic.ToImageUrl()" class="banner desktop-banner" alt="@Model.Content.CenterGraphic.Alt" align="right" />
            <img src="@Model.Content.MobileCenterGraphic.ToImageUrl()" alt="@Model.Content.MobileCenterGraphic.Alt" class="mobile-banner cms">
        </div>
        <!-- /Banner -->

        @Html.Partial("~/Views/Components/EventBanner.cshtml", Model)
    }

    <!-- Copy -->
    <div class="widget event-widget-copy row row-fluid">
        <div class="widget-header">
            <h2 class="widget-headline-title">Our dream: Waste less paper. Grow more trees. Help you do the things you want.</h2>
        </div>
        <div class="widget-body">
            <p>
                Not long ago, a typical loan generated a small mountain of paperwork. LightStream has changed all that. As the nation’s premier online consumer lender, we pioneered the virtually paperless online loan. This was revolutionary when we started, so we looked around for a way to celebrate. Planting a tree with each loan seemed like a natural fit.
            </p>
            <p>
                We connected with American Forests, the oldest conservation organization in the U.S., and began to support their restoration efforts by donating a tree for every funded loan. So far, we’ve planted more than 1,000 acres of trees, helping reforestation and wildlife protection efforts across the country.
            </p>
            <p>
                The exciting thing is, we’re really just getting started. And the forests we’ve planted have grown to be so much more than a symbol of our effectively paperless process. Each tree represents the fulfillment of a customer’s dream, while being an asset that’s essential to the well-being of our planet.
            </p>
            <p>
                To our customers, we say: Thank you for allowing us to make a difference. By eliminating paper almost entirely from the LightStream loan process, we not only save our natural resources but we save on expenses as well, better enabling us to offer you highly competitive interest rates.
            </p>
        </div>
    </div>
    <!-- /Copy -->

    @if (Model.Content.Event != null && Model.Content.Event.IsNextStepsBarDisplayed)
    {
        <!-- Forest of Dreams Banner-->
        <div class="row" id="lendingUncomplicatedSection">
            <div class="columns large-12">
                <img class="lazy" data-src="/Content/images/forest.jpg" >
                <div id="ludiv">
                    <h2>
                        <span class="top-title">Get your free</span>
                        <span class="middle-title">"Forest of Dreams"</span>
                        <span class="bottom-title">Times Square Virtual Photo</span>
                    </h2>
                    <a href="https://www.lightstreamforests.com" class="button"
                       data-jump="true" data-popup="true" data-name="AboutAmericanForest"
                       data-width="580" data-height="480"
                       onclick="SC.main.banner.lendingUncomplicated();$(window).scrollTop(0);">
                        Get Started
                    </a>
                </div>
            </div>
        </div>
        <!-- /Forest of Dreams Banner-->
    }

    <!-- Jumbo Tiles -->
    <div class="widget event-widget-jumbo-tiles row row-fluid">
        <div class="widget-body">
            <div class="event-widget-jumbo-tile-container">
                <div class="large-6 medium-6 small-12 columns columns-fluid">
                    <div class="event-widget-jumbo-tile">
                        <div class="event-widget-jumbo-tile-content">
                            <div class="event-widget-jumbo-tile-copy">
                                <h2 tabindex="0">About LightStream</h2>
                                <p tabindex="0">
                                    Do you have a dream in mind? It might be a car, a boat, a swimming pool, or a new kitchen. It could be taking care of medical needs,
                                    funding an adoption or undergoing fertility treatments. With LightStream, almost anything is possible!
                                </p>
                                <p tabindex="0">
                                    When you come to LightStream with a dream — and a strong credit history — we can help make those plans come true. Today the LightStream
                                    loan is not only virtually paperless, it’s refreshingly simple. That’s why we call it Lending Uncomplicated.&reg;
                                </p>
                            </div>
                            <p class="event-widget-jumbo-tile-actions">
                                <a class="btn btn-jumbo-tile" href="https://www.lightstream.com/" onclick="SC.main.jumboTiles()">
                                    Learn More
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="large-6 medium-6 small-12 columns columns-fluid">
                    <div class="event-widget-jumbo-tile">
                        <div class="event-widget-jumbo-tile-content">
                            <div class="event-widget-jumbo-tile-copy">
                                <h2 tabindex="0">About American Forests</h2>
                                <p tabindex="0">
                                    Founded in 1875, American Forests is the oldest national nonprofit conservation organization in the country.
                                </p>
                                <p tabindex="0">
                                    Since 1990, American Forests has planted more than 50 million trees in forests throughout the U.S. and in nearly 50 countries, resulting in cleaner air and drinking water, restored habitat for wildlife and fish, and the removal of millions of tons of carbon dioxide from the atmosphere.
                                </p>
                            </div>
                            <p class="event-widget-jumbo-tile-actions">
                                <a class="btn btn-jumbo-tile"
                                   href="https://www.americanforests.org/about-us/mission/"
                                   data-jump="true" target="_blank" data-name="AboutAmericanForest">
                                    Learn More
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Jumbo Tiles -->

    @Html.Partial("~/Views/Redesign/_FeatureBullets.cshtml", Model)

    <!-- Articles -->
    <div class="widget image-article-widget row row-fluid">
        <div class="widget-header">
            <h2 class="widget-headline-title" tabindex="0">More about our support of American Forests</h2>
        </div>
        <div class="widget-body">
            <div class="medium-4 small-12 columns">
                <div class="image-article-widget-container">
                    <div class="image-article-widget-item">
                        <iframe id="grizzliesVideo"
                                width="100%" height="100%"
                                frameborder="0"
                                tabindex="0"
                                allowfullscreen="1"
                                gesture="media"
                                allow="encrypted-media"
                                src="https://www.youtube.com/embed/NBMtiZX6pIU?controls=1&rel=0&showinfo=0&autoplay=0&modestbranding=0&enablejsapi=1&fs=0"></iframe>
                        <h3 tabindex="0">Grizzlies need healthy forests</h3>
                        <p tabindex="0">
                            Yellowstone National Park is home to many species who need protection, including the iconic grizzly bear. By planting 300,000 trees in Yellowstone since 1999, American Forests is supporting the resurgence of the grizzly, and many other species.
                        </p>
                    </div>
                </div>
            </div>
            <div class="medium-4 small-12 columns">
                <div class="image-article-widget-container">
                    <div class="image-article-widget-item">
                        <a href="/customer-testimonials">
                            <img src="/content/cmsfile?id=11038" class="experienceImage" alt="What our customers are saying about LightStream" />
                        </a>

                        <h3 tabindex="0">What people are saying</h3>
                        <div tabindex="0">
                            <p>
                                “Thanks for being an environmentally conscious company and for going the extra mile.  It was totally unexpected that you would do this.  On top of your great loan rates, this is another reason I will recommend your service.”
                            </p>
                            <h4>- T.M. from Taylors, SC</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="medium-4 small-12 columns">
                <div class="image-article-widget-container">
                    <div class="image-article-widget-item">
                        <iframe id="rioGrandeVideo"
                                width="100%" height="100%"
                                frameborder="0"
                                tabindex="0"
                                allowfullscreen="1"
                                gesture="media"
                                allow="encrypted-media"
                                src="https://www.youtube.com/embed/Sw160Ef-4L4?controls=1&rel=0&showinfo=0&autoplay=0&modestbranding=0&enablejsapi=1&fs=0"></iframe>

                        <h3 tabindex="0">Saving the Lower Rio Grande</h3>
                        <p tabindex="0">
                            American Forests has planted millions of trees in the Lower Rio Grande Valley in southern Texas, one of the most biologically diverse areas in the country. Now, several rare and endangered species have a chance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Articles -->
</div>
@section scripts {
    @Scripts.Render("~/bundles/youtube-video")
    <script src="~/Scripts/app/eventbanner.youtube.js"></script>
    <script type="text/javascript">
        @if (Model.Content.TemplateType == FirstAgain.Domain.SharedTypes.ContentManagement.LandingPageContent.VerticalMarketTemplateType.Event)
        {
            <text>SC._t({ pageName: '@Model.CustomOmniHierarchy', hier1: '@Model.CustomOmniHierarchy', products: ';AnythingLoan', events: 'prodView' });</text>
        }
        else
        {
            <text>SC._t({ pageName: '@Model.OmniPageName', hier1: '@Model.OmniHierarchy', products: ';AnythingLoan', events: 'prodView'  });</text>
        }
    </script>
}

@section footer {
    <!-- Footer -->
    <footer class="row">
        <article class="large-12 columns legalcopy">
            <p class="cms" id="Footer" tabindex="0">@{ Html.RenderAction("Footer", "Components"); }</p>
        </article>
        <div class="large-12 columns footer_images">
            <a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="@Model.CdnBaseUrl/plant-a-tree-small.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>
            <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.lightstream.com&lang=en" data-jump="true" data-popup="true" data-name="NortonSecured" data-width="580" data-height="480"><img src="@Model.CdnBaseUrl/norton.png" alt="Norton Security Badge" width="132" height="68" /></a>
        </div>
    </footer>
    <!-- /Footer -->
}