@using FirstAgain.Domain.SharedTypes.ContentManagement;
@using LightStreamWeb.Models.PublicSite;

@model  LandingPageModel

@section metaTags {
    @Html.Partial("~/Views/PublicSite/Partials/_LandingPageMetaTags.cshtml")
}


@section styles
{
    @Styles.Render("~/bundles/styles-rate-calculator")
    @Styles.Render("~/bundles/css-template-redesign")
    @Styles.Render("~/bundles/paidsearch")
}

@section header
{

    @Html.Partial("~/Views/Components/Navbar/PaidSearchNav.cshtml", Model)

<header id="header" class="row widerow">
    <div class="banner-container" aria-hidden="true">
        <img src="@Model.Content.CenterGraphic.ToImageUrl()" alt="@Model.Content.CenterGraphic.Alt" class="banner cms" id="heroBanner">
        <img src="@Model.Content.MobileCenterGraphic.ToImageUrl()" alt="@Model.Content.MobileCenterGraphic.Alt" class="mobileBanner cms">
    </div>

    @Html.Partial("~/Views/Components/PaidSearchBanner.cshtml", Model)
    <div class="mobile row apr-disclosure-row blue-bar">
    </div>

    <div id="paid-search-desktop-disclosure">
        @Html.Partial("~/Views/Components/APRDisclosureShort.cshtml", Model.DisplayRate, new ViewDataDictionary() { { "templateName", Model.TemplateName }, { "isOneClickDisclosure", true } })
    </div>
</header>

    <div id="paid-search-mobile-disclosure">
        @Html.Partial("~/Views/Components/APRDisclosureShort.cshtml", Model.DisplayRate, new ViewDataDictionary() { { "templateName", Model.TemplateName}, { "isOneClickDisclosure", true } })
    </div>

}

<article class="rate-calculator">
    @Html.Partial("~/Views/Components/RateCalculator.cshtml", Model.Calculator)
</article>

@section experience
{
    <div class="row">
        <div class="columns medium-12">
            <h2 class="thatBlueFontTho" tabindex="0">The LightStream experience</h2>
        </div>
    </div>

    <div class="row desktop" id="LSExperienceLarge">
        <div class="columns medium-4" id="videoColumn">
            @Html.Partial("/Views/Redesign/_WhyWereDifferent.cshtml", Model.Content.LightStreamExperienceVideoUrl ?? "https://www.youtube.com/embed/YWLqSduuIho")
        </div>
        <div class="columns medium-4">
            @Html.Action("FeaturedTestimonialRedesign", "Components", new
       {
           testimonialGraphicUrl = @Model.Content.TestimonialCommentsGraphic.ToImageUrl(),
           mobileTestimonialGraphicUrl = Model.Content.MobileTestimonialCommentsGraphic.ToImageUrl(),
           purpose = Model.PurposeOfLoan,
           owlCarouselId = "customerCommentsCarouselLarge",
       })
        </div>
        <div class="columns medium-4" id="mediaCoverage">
            @Html.Action("MediaCoverageRedesign", "Components", new
       {
           mediaGraphicUrl = @Model.Content.MediaCoverageGraphic.ToImageUrl(),
           mobileMediaGraphicUrl = Model.Content.MobileMediaCoverageGraphic.ToImageUrl(),
           purpose = Model.PurposeOfLoan,
           owlCarouselId = "mediaCarouselLarge",
       })
        </div>
    </div>

    <div class="row mobile" id="LSExperienceLarge">
        <div class="columns small-12" id="videoColumn">
            @Html.Partial("/Views/Redesign/_WhyWereDifferent.cshtml", Model.Content.LightStreamExperienceVideoUrl ?? "https://www.youtube.com/embed/YWLqSduuIho")
        </div>
        <div class="columns small-12" id="customerComments">
            @Html.Action("FeaturedTestimonialRedesign", "Components", new
       {
           testimonialGraphicUrl = @Model.Content.TestimonialCommentsGraphic.ToImageUrl(),
           mobileTestimonialGraphicUrl = Model.Content.MobileTestimonialCommentsGraphic.ToImageUrl(),
           purpose = Model.PurposeOfLoan,
           owlCarouselId = "customerCommentsCarouselSmall",
       })
        </div>
        <div class="columns small-12" id="mediaCoverage">
            @Html.Action("MediaCoverageRedesign", "Components", new
       {
           mediaGraphicUrl = @Model.Content.MediaCoverageGraphic.ToImageUrl(),
           mobileMediaGraphicUrl = Model.Content.MobileMediaCoverageGraphic.ToImageUrl(),
           purpose = Model.PurposeOfLoan,
           owlCarouselId = "mediaCarouselSmall",
       })
        </div>
    </div>
}

@section homeloanuses
{
    <section class="row ruled homeloanuses"></section>
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts-template-redesign")
    @Scripts.Render("~/bundles/scripts-rate-calculator")
}
