@model LightStreamWeb.Models.PublicSite.LandingPageModel

@section metaTags {
    @Html.Partial("~/Views/PublicSite/Partials/_LandingPageMetaTags.cshtml")
}

@section hero {
<div class="row headline">
    <div class="headline-graphic" class="cms">
	    @Model.Content.HeadlineGraphic.ToImageTag()
    </div>


    <div class="legacy-landing-page-hero-container partner-option-3">
        <div class="partner-graphic" style="background-image:url('@Model.Content.PartnerLogo.ToImageUrl()'); background-repeat:no-repeat;">
            <p class="cms bullets" style="color:@Model.Content.BulletHeaderColor">@Html.Raw(Model.Content.BulletHeader)</p>
            <ul class="cms bullets" style="color:@Model.Content.BulletColor">
                @foreach (var b in Model.Content.Bullets) {
                    <li>@Html.Raw(b)</li>
                }
            </ul>
        </div>
        <div class="center-graphic" style="background-image:url('@Model.Content.CenterGraphic.ToImageUrl()')">
        </div>	
	    <div class="heroaction">
	        <div class="ratedetails">
	        <p>Fixed rates as low as </p>
	        <h3 class="ratepercentage">@Html.FormatRateWithDataAttributes(Model.DisplayRate)</h3>
	        <p>APR with AutoPay</p>
	        </div>
	
	        <a href="/apply" class="button" onclick="SC.main.banner.applyNow()">Apply Now</a>
	
	        <p class="seeratesandterms"><a href="/rates-loan-calculator" onclick="SC.main.banner.ratesAndTerms()">See Rates & Terms &raquo;</a></p>
	    </div>
    </div>
</div>   
}

<div class="row">
    <a href="/components/howitworks" data-open="AjaxModal" data-reveal-ajax="true" ><img src="/Assets/Images/home_page_guaranteed.png?v=20130618" alt="Your best experience guaranteed!" width="510" height="30" class="center" /></a>
</div>

<div class="row" class="cms">
    <article>
        @if (!string.IsNullOrWhiteSpace(Model.Content.ArticleText)) {
            <h1 class="center">@Model.Content.ArticleTitle</h1>

            @Html.Raw(Model.Content.ArticleText)
        }
    </article>
</div>

