@model LightStreamWeb.Models.PublicSite.LandingPageModel

@section metaTags {
    @Html.Partial("~/Views/PublicSite/Partials/_LandingPageMetaTags.cshtml")
}


@section hero {
<img src="@Model.Content.CenterGraphic.ToImageUrl()" class="hide-for-small-only banner" alt="@Model.Content.CenterGraphic.Alt"  />

<div class="row headline">
	<h2 class="cms">@Html.Raw(Model.Title)</h2>
    <h3 class="sub cms">@Html.Raw(Model.Content.PageSubTitle)</h3>
</div>   
}

@Html.Partial("~/Views/Components/BestLoanExperienceGuaranteeRow.cshtml")
