@model LightStreamWeb.Models.PublicSite.LandingPageModel

@section metaTags {
    @Html.Partial("~/Views/PublicSite/Partials/_LandingPageMetaTags.cshtml")
}


@section header {
    @Html.Partial("~/Views/Components/Navbar/PartnerNav.cshtml", Model)
    @Html.Partial("~/Views/Components/Navbar/DefaultMobileMenu.cshtml", Model)

    @if (!string.IsNullOrWhiteSpace(Model.Content.PageAnnouncement))
    {
        <div class="row partner_disclaimer">
            <div class="small-12 small-centered columns">
                <p>@Html.Raw(Model.Content.PageAnnouncement)</p>
            </div>
        </div>
    }
    <header id="header" class="rpo1 row widerow">
        <img src="@Model.Content.CenterGraphic.ToImageUrl()" class="banner ls-desktop" alt="@Model.Content.CenterGraphic.Alt" />

        <div ng-controller="LandingPageController">

            <div class="row headline ls-desktop">
                @* desktop out of scope, so leave in tact until there's a pbi to change it. *@
                <h2 class="cms" tabindex="0">@Html.Raw(Model.Title)</h2>
                <h4 class="cms" tabindex="0">@Html.Raw(Model.Content.PageSubTitle ?? "&nbsp;")</h4>

                <div class="heroaction clearfix">
                    <div class="ratedetails" tabindex="0">
                        <p>Fixed rates as low as </p>
                        <h3 class="ratepercentage">@Html.FormatRateWithDataAttributes(Model.DisplayRate)</h3>
                        <p class="ratenote">APR with AutoPay</p>
                    </div>
                    <a href="/apply" class="button" onclick="SC.main.banner.applyNow()" ng-click="applyFor('@Model.PurposeOfLoan');">Apply Now</a>

                    <p class="seeratesandterms"><a href="#rates" target="_self" onclick="SC.main.banner.ratesAndTerms()">See Rates & Terms &raquo;</a></p>
                </div>
            </div>

            <div class="row headline ls-mobile">
                <p>

                    @if (@Model.Content.PartnerLogo != null && Model.Content.PartnerLogo.IsValid)
                    {
                        if (String.IsNullOrEmpty(Model.Content.PartnerLogo.Hyperlink))
                        {
                            <img class="partnerlogo partner-option1" src="@Model.Content.PartnerLogo.ToImageUrl()" alt="@Model.Content.PartnerLogo.Alt">
                        }
                        else
                        {
                            <a href="@Model.Content.PartnerLogo.Hyperlink" data-jump="true"><img class="partnerlogo partner-option1" src="@Model.Content.PartnerLogo.ToImageUrl()" alt="@Model.Content.PartnerLogo.Alt"></a>
                        }
                    }
                    <span class="heading cms">@Html.Raw(Model.Title)</span>
                    <br />
                    <span class="sub-heading cms">@Html.Raw(Model.Content.PageSubTitle)</span>
                </p>

                @Html.Partial("~/Views/Components/RateBannerMobile.cshtml", Model.DisplayRate)
            </div>
        </div>
    </header>
}

@Html.Partial("~/Views/Components/BestLoanExperienceGuaranteeMobile.cshtml")
@Html.Partial("~/Views/Components/APRDisclosureShort.cshtml", Model.DisplayRate, new ViewDataDictionary() { { "isOneClickDisclosure", true } })

@if (Model.IfAnyFeatureBulletsDefined())
{
    @Html.Partial("~/Views/Components/FeatureBulletAccordion.cshtml")
}

@if (Model.Content.DisplayCustomerTestimonialRow)
{
    <div class="ls-desktop">
        @Html.Action("FeaturedTestimonial", "Components", new { purpose = Model.PurposeOfLoan })
    </div>
}

<div class="row page-article">
    <article class="cms">
        @if (!string.IsNullOrEmpty(Model.Content.ArticleTitle))
            {
            @:<h1 tabindex="0">@Html.Raw(Model.Content.ArticleTitle)</h1>
        }

        <span tabindex="0">
            @Html.Raw(Model.Content.ArticleText)
        </span>
    </article>
</div>

<article class="rate-calculator">
    @Html.Partial("~/Views/Components/RateCalculator.cshtml", Model.Calculator)
</article>

<section class="small-12 columns zeromargins ls-mobile">
    <div class="general-ad-mobile">
        <p>Lending Uncomplicated<sup>&reg;</sup></p>
        <a class="button" href="/apply">Apply Now</a>
    </div>
</section>