@model LightStreamWeb.Models.PublicSite.AboutPagesModel


@section bodyTag {
<body class="@Model.BodyClass"
      @if (!string.IsNullOrWhiteSpace(Model.NgApp)) { @: ng-app="@Model.NgApp"
       @: id="ng-app"
      }>
}

@section hero {
    <img src="@Model.Banner.ToImageUrl()" alt="@ViewBag.BannerImageAlt" align="right" class="banner hide-for-small-only cms" />

    <div class="small-12 columns headline">
        @if (Model.SingleTabMode)
        {
            <h2 class="cms" tabindex="0">@Model.Title</h2>
        }
        else
        {
            <h2 class="cms" tabindex="0">About Us</h2>
            <h3 class="sub cms" tabindex="0">Consider the possibilities with a LightStream loan</h3>
        }
    </div>
}

@Html.Partial("_BasicAccordianPage", Model)


@section scripts {
    <script type="text/javascript">
        $(function () {
            SC._t({ pageName: '@Model.OmniPageName', hier1: '@Model.OmniHierarchy' });
        });
    </script>
}
