@model LightStreamWeb.Models.PublicSite.FAQLandingPageModel

@section hero {
      <div class="row headline">
        <h2>FAQs</h2>
      </div>
}

<div class="main row">

    <div class="medium-8 columns">

      <div>
          <h3>@Model.PageHeader</h3>
      </div>

      <div class="cms">
          @for (int i = 0; i < Model.FAQs.Count; i++) {
            @:<p>
              @:<a href="#FAQ_Number_@i" class="no-track">@Model.FAQs[i].Question</a>
            @:</p>
          }
      </div>

      <div class="cms">
          @for (int i = 0; i < Model.FAQs.Count; i++)
          {
            @:<p id="FAQ_Number_@i">
              @:<h4>@Model.FAQs[i].Question</h4>
              @:<div class="content">@Html.Raw(@Model.FAQs[i].Answer)</div>
            @:</p>
          }
      </div>

    </div>

    <div class="medium-4 columns">
        <p>Did you know the LightStream loan can be used to finance:</p>
        <ul>
            @foreach (var l in Model.VerticalLinks)
            {
                <li><a href="/@l.QueryParameterValue">@l.DisplayText</a></li>
            }
        </ul>
             
        <p><i>or Anything else!</i></p>  
    </div>

  </div>

@section scripts {
    <script type="text/javascript">
        SC._t({ pageName: '@Model.OmniPageName', hier1: '@Model.OmniHierarchy' });
    </script>
}
