@model LightStreamWeb.Models.PublicSite.RateMatchPageModel

@section hero {
    <img src="@Model.Banner.ToImageUrl()" class="hide-for-small-only banner" alt="@Model.Banner.Image.Alt" />
    <div class="small-12 columns headline">
        <h2 tabindex="0">@Model.PageTitle</h2>
    </div>
}

<div class="main row ruled">
    <div class="rate-match-content medium-8 columns">
        <h2 class="rate-match-content-title cms" tabindex="0">@Model.Heading</h2>

        <div class="rate-match-features cms" tabindex="0">
            @Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(Model.RateMatchCopy))
        </div>
        
    </div>
    <div class="medium-4 columns">
        @Html.Partial("~/Views/Components/AdObject.cshtml", Model.GetFirstAdObject())
        @Html.Partial("~/Views/Components/AdObject.cshtml", Model.GetSecondAdObject())
    </div>
</div>

<section class="row ruled rate-match-testimonials">
    <div class="small-12 columns" style="padding-bottom: 15px;">
        <div class="row">
            <a class="rate-match-testimonal-image small-12 medium-3 columns" href="/customer-testimonials">
                <img src="/content/images/testimonialchat.png" alt="Customers are Saying" width="242" height="142">
            </a>

            <p class="small-12 medium-9 columns quote" style="padding-top: 26px;">
                Our interest rates are very competitive. But don't take our word for it. See what our customers have to say.
            </p>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <ul class="testimonials ">
                    <li>
                        &quot;First, I wanted to say thank you for the painless loan process and approval speed. This is the easiest loan process my wife and I have ever been a part of. I wish all loan applications were this easy. I can't thank you enough. Your rates were the same as my credit union, but I can do this in the comfort of my own home. I am highly recommending your bank to all my friends and family. No more visits to my local bank or credit union for the type of loans you offer. Super highly recommended.&quot;
                        <cite class="brand">- H.R. from Mission, TX</cite>
                    </li>
                    <li>
                        &quot;I had read a lot of positive things about SunTrust and the LightStream Loan, but I was still a little skeptical. 24 hours later and I am a believer. Best rates, best customer service and an UNHEARD OF turn-around time. Simply the best of the best. I hardly ever write to THANK a company for their service and product, but you guys were a pleasure to deal with, so thank you.&quot;
                        <cite class="brand">- T.A. and B.A. from Endicott, NY</cite>
                    </li>
                    <li>
                        &quot;Let me say Thank You, Thank You, for the most hassle free loan I have ever had. The approval and funding service was incredible. The interest rate for a personal loan is 2nd to none. It was very easy to get set up and set to pay back this loan will save over $5,000.00 when I pay off my existing travel trailer loan set at 9.5% versus the loan you gave me at 2.99%. Again thank you so.&quot;
                        <cite class="brand">- L.L. from Stuart, VA</cite>
                    </li>
                    <li>
                        &quot;Just wanted to let you know how impressed I am with LightStream. The process is unbelievably simple and lightning fast. The rates are very competitive and everything, from start to finish, was efficient and professional. I could not be more impressed and will recommend LightStream, without reservation, to my friends and family.&quot;
                        <cite class="brand">- S.E. from Laguna Niguel, CA</cite>
                    </li>
                    <li>
                        &quot;Your loan was the absolute lowest interest I was quoted! I am canceling my credit union account and possibly my [other bank] account and moving over to SunTrust. Your reps were a pleasure to speak with, professional and knowledgeable — wonderful, all three of them. I will tell all of my family and friends about LightStream, (I am) 100% highly satisfied. Please keep up the excellent work. Thank you for such a streamlined process…. I will be driving my 2006 Honda S2000 home from Tampa on Saturday. You have made me a very happy woman.&quot;
                        <cite class="brand">- K.S. from Orlando, FL</cite>
                    </li>
                    <li>
                        &quot;Great service, great rates, thank you.&quot;
                        <cite class="brand">- J.G. from McAlester, OK</cite>
                    </li>
                    <li>
                        &quot;Just wanted to let you know what an outstanding and seamless loan process you have. Not only did you have the best rate, but also the easiest loan application I have ever seen. Thanks again for the awesome experience.&quot;
                        <cite class="brand">- J.H. from Nacogdoches, TX</cite>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>


@section scripts {
    <script type="text/javascript">
        $(function () {
            SC.main.rateMatch();
        });
    </script>
}