@model LightStreamWeb.Models.PublicSite.SiteMapPageModel
@using FirstAgain.Domain.Common; 

@if(Request.QueryString["xml"] == "1") {
        {
            Response.Write("<?xml version='1.0' encoding='UTF-8' ?>");
            Layout = null;
            Response.ContentType = "text/xml";
        }
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <url><loc>https://www.lightstream.com/</loc><priority>1.00</priority></url>
    <url><loc>https://www.lightstream.com/who-we-are</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/about-us</loc><priority>0.70</priority></url>
    <url><loc>https://www.lightstream.com/customer-testimonials</loc><priority>0.70</priority></url>
    <url><loc>https://www.lightstream.com/affiliate-program</loc><priority>0.70</priority></url>
    <url><loc>https://www.lightstream.com/press-releases</loc><priority>0.70</priority></url>
    <url><loc>https://www.lightstream.com/business-partners</loc><priority>0.70</priority></url>
    <url><loc>https://www.lightstream.com/rates-loan-calculator</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/apply</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/rates-loan-calculator</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/privacy-security</loc><priority>0.70</priority></url>
    <url><loc>https://www.lightstream.com/faq</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/customer-sign-in</loc><priority>0.80</priority></url>
    @if (AppSettingsHelper.IsRatchMatchOfferEnabled())
    {
        <url><loc>https://www.lightstream.com@{ @Url.RouteUrl("RateBeat") } </loc><priority>0.80</priority></url>
    }
    <url><loc>https://www.lightstream.com/the-anything-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/meet-lightstream</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/in-the-news</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/privacy-security</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/annual-home-improvement</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/smart-debt-consolidation</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/philanthropy</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/consumer-loans</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/auto-loans</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/adoption-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/aircraft-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/new-car-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/lease-buyout</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/auto-refinance</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/basement-remodels</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/bath-remodel-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/boat-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/classic-car-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/destination-club-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/debt-consolidation</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/dental-loans</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/k12-student-loans</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/ivf-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/home-improvement-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/horse-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/hot-tub-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/jewelry-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/kitchen-remodel-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/land-purchase</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/landscape-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/medical-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/motorcycle-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/other-loans-refinancing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/private-party-auto-loans</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/rv-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/solar-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/swimming-pool-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/timeshare-loans</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/tiny-houses</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/used-car-loans</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/wedding-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/suntrust-credit-consol-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/suntrust-unsecured-loan</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/barn-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/horse-trailer</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/boat-repair-financing</loc><priority>0.80</priority></url>
    <url><loc>https://www.lightstream.com/roofing-loans</loc><priority>0.80</priority></url>
</urlset>
} else {
    <style>
        #header {
            overflow: visible !important
        }
    </style>

    if (Model.AlertHeading != "") {
    <div class="row" style="margin-top: 120px" id="alertHeading">
        <div class="medium-10 columns medium-push-1 panel">
            <h3>@Model.AlertHeading</h3>
            <p>@Model.AlertMessage</p>
        </div>
    </div>
    }
    <div class="main row">

        <h1 tabindex="0">Site Map</h1>

        <div class="medium-5 columns">
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="/who-we-are">About Us</a>
                    <ul>
                        @if (BusinessConstants.Instance.IsNewCompanyDate())
                        {
                            <li><a href="/merger-info">LightStream A Division Of Truist</a></li>
                        }
                        <li><a href="/who-we-are">Who We Are</a></li>
                        <li><a href="/about-us">Our Mission and LightStream Loans</a></li>
                        <li><a href="/customer-testimonials">What Our Customers Say</a></li>
                        <li><a href="/our-team">Our Team</a></li>
                        <li><a href="/affiliate-program">Affiliate Program</a></li>
                        <li>
                            <a href="/pr-media">Media Room</a>
                            <ul>
                                <li><a href="press-releases">Press Releases</a></li>
                            </ul>
                        </li>
                        <li><a href="business-partners">Business Partners</a></li>
                    </ul>
                </li>
                <li><a href="/rates-loan-calculator">Rates/Terms</a></li>
                <li><a href="/apply">Apply</a></li>
                @if (AppSettingsHelper.IsRatchMatchOfferEnabled()) {
                    <li class="rate-match"><a href="@Url.RouteUrl("RateBeat")">Rate Beat</a></li>
                }
                <li><a href="/privacy-security">Privacy/Security</a></li>
                <li><a href="/contact-us">Questions?</a></li>
                <li><a href="/faq">FAQs</a></li>
                <li><a href="/customer-sign-in">Sign In</a></li>
            </ul>
        </div>

        <div class="medium-4 columns medium-pull-3">
            <ul>
                @foreach (var l in Model.LandingPageLinks) {
                    <li><a href="/@l.QueryParameterValue">@l.DisplayText</a></li>
                }
                <li style="padding-top:1em; font-style:italic;"><a href="/">Anything else!</a></li>
            </ul>
        </div>
    </div>

    @section scripts {
    <script type="text/javascript">
        $(function() {
            if(window.location.pathname == "/site-map"){
                SC.main.siteMap();
                $("#alertHeading").hide();
            }
            else {
                SC.main.errorPage();
            }
        });
    </script>
    }
}
