@model LightStreamWeb.Models.Apply.AccountServicesApplyPageModel

@Html.Partial("~/Views/Apply/Partials/_ProgressBar.cshtml", new LightStreamWeb.Models.Apply.ProgressBarModel(1))

<section class="row">
	<div class="large-12 columns">
		<p class="note"><sup>*</sup>indicates required field</p>
	</div>
</section>

<section class="row">
	<div class="large-12 columns panel">
	    <p>@Html.Raw(Model.AccountServicesIntro)</p>
	</div>
</section>

@LoanApplicationForm.StartForm("nextStep('/apply/accountservices/personalinfo', 1)")
    <div ng-if="LoanApp.MoreThanOneSSNExists">
        @Html.Partial("~/Views/Apply/Partials/_AccountServices_ApplicationType.cshtml")		
    </div>
    <div ng-if="!LoanApp.MoreThanOneSSNExists" ng-init="LoanApp.ReApplyApplicationType = 'NotSelected'">
	    @Html.Partial("~/Views/Apply/Partials/_ApplicationType.cshtml")		
    </div>

    @Html.Partial("~/Views/Apply/Partials/_PurposeOfLoan.cshtml")		

    @Html.Partial("~/Views/Apply/Partials/_ZipAndState.cshtml")		

    @Html.Partial("~/Views/Apply/Partials/_LoanAmountAndTerm.cshtml")		
		
    @Html.Partial("~/Views/Apply/Partials/_LoanPaymentType.cshtml")		
		
    @Html.Partial("~/Views/Apply/Partials/_RateAndEstimatedMonthlyPayment.cshtml")		

	<div class="row">
        <div class="medium-6 columns">	
		    <input type="submit" id="Continue" class="button" value="Continue" />
		</div>
	</div>
</form>

@section scripts {
    <script type="text/javascript">
        $(function () {
            SC.isAcctSvc = true;
            SC.apply.loanInfo();
            SC.apply.basicClick();

            $('form').on('submit', function () {
                SC.apply.loanInfo(true);
            });
        });
    </script>
}