@model LightStreamWeb.Models.Apply.ApplyPageModel

<section class="row">
    <div class="large-6 columns">
        <h1>Loan Application</h1>
        <p class="hide-for-small-only">&nbsp;</p>
    </div>
</section>

@Html.Partial("~/Views/Apply/Partials/_ProgressBar.cshtml", new LightStreamWeb.Models.Apply.ProgressBarModel(2))

<section class="row">
    <div class="large-12 columns">
        <p class="note"><sup>*</sup>indicates required field</p>
    </div>
</section>

@LoanApplicationForm.StartForm("nextStep('" + @Url.Action("Confirm") + "', 2)")

<section class="row">
    <div class="large-12 columns">
        <h2>Your Information</h2>
    </div>
</section>


@Html.Partial("~/Views/Apply/Partials/_Applicant.cshtml", FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Primary)

<span ng-show="LoanApp.ApplicationType == 'Joint'">
    <section class="row">
        <div class="large-12 columns">
            <h2>Co-Applicant Information</h2>
        </div>
    </section>

    @Html.Partial("~/Views/Apply/Partials/_Applicant.cshtml", FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Secondary)
</span>

<section class="row">
    <div class="large-12 columns">
        <h2>Other Financial Information</h2>
    </div>
</section>

@Html.Partial("~/Views/Apply/Partials/_OtherAnnualIncome.cshtml")

@Html.Partial("~/Views/Apply/Partials/_OtherFinancialInformation.cshtml")


<span ng-if="LoanApp.PurposeOfLoan.IsHomeImprovement">
    <section class="row">
        <div class="large-12 columns">
            <h2>Information for Property being Improved</h2>
            <label><input type="checkbox" ng-model="LoanApp.SubjectPropertySameAsResidentAddress" /> Same as resident address</label>
        </div>
    </section>

    @Html.Partial("~/Views/Apply/Partials/_PropertyBeingImproved.cshtml")
</span>

<section class="row">
    <div class="large-12 columns">
        <p class="note">
            Important Note: Federal law requires all financial institutions to notify applicants that they will obtain,
            verify and record information that identifies each person who opens an account or applies for a loan. When you open an account
            or apply for a loan we are required to ask your name, address, date of birth, and other information that will allow you to be
            identified as the account or loan applicant. In addition, we may ask for identifying documents in order to verify this information.
        </p>
    </div>
</section>

@LoanApplicationForm.EndForm()

@section scripts {
    <script type="text/javascript">
        $(function () {
            SC.apply.loanInfo(null, true);
            SC.apply.personalInfo();
        });
    </script>
}