@{
    Layout = null;
}
@model LightStreamWeb.Models.AccountServices.AmortizationScheduleModel
<!doctype html> 
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amortization Schedule for Account: @Model.ApplicationId. @DateTime.Now.ToLongDateString()</title>

    <link rel="shortcut icon" href="/favicon.ico" /> 
    <link rel="apple-touch-icon" href="/content/images/apple-touch-icon.png">

    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.4.7/css/foundation.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/normalize/2.1.3/normalize.min.css" />
    <link type="text/css" rel="stylesheet"  href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    @Styles.Render("~/bundles/css-responsive-main")
    <script type="text/javascript" src="https://use.typekit.net/aap2qni.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <style type="text/css">
        table {
            border:1px solid black;
        }
    </style>
</head>
<body>
    <div class="row" >
        <div class="medium-12 columns">
            <h2 class="brand">Amortization Schedule</h2>
        </div>
        <div class="medium-6 columns">
            
        </div>
    </div>         

    <p>This loan amortization schedule below assumes that all monthly payments and any scheduled extra payments are made on the dates listed below.</p>
    <table class="records account-history" id="AmortizationPopupTable">
    <thead>
        <tr>
        <th>Date</th>
        <th>Starting Principal Balance</th>
        <th>Payment Amount</th>
        <th>Allocated to Interest</th>
        <th>Allocated to Principal</th>
        <th>Ending Principal Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Items)  
        {
            <tr class="expanded">
            <td>@row.TransactionDate.ToString()</td>
            <td>@row.StartingPrincipalBalance.ToString("C")</td>
            <td>@row.TransactionAmount.ToString("C")</td>
            <td>@row.InterestAmount.ToString("C")</td>
            <td>@row.PrincipalAmount.ToString("C")</td>
            <td>@row.EndingPrincipalBalance.ToString("C")</td>
            </tr>
        }
    </tbody>
    </table>
</body>
</html>
