@using Ninject;
@model FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType
@{
    int index = 0;
    string idPrefix = "Applicant";
    string displayIf = "true";
    if (Model == FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Secondary)
    {
        index = 1;
        idPrefix = "CoApplicant";
        displayIf = " LoanApp.ApplicationType == 'Joint'";
    }
    string ngAccountServicesDisabled = "LoanApp.IsAccountServices && LoanApp.ApplicantIsPrePopulated[" + index + "]";
    string cdnBaseUrl = LightStreamWeb.App_Start.NinjectWebCommon.Bootstrapper.Kernel.Get<LightStreamWeb.Models.Middleware.IAppSettings>().CdnBaseUrl; ;

}

<div ng-if="@displayIf">
    <input type="hidden" ng-model="LoanApp.Applicants[@index].Type" value="@Model">

    <fieldset ng-disabled="@index == 0 && LoanApp.IsAddCoApplicant">
        <div class="row" id="@(idPrefix)Section">
            <div class="medium-3 columns">
                <label for="@(idPrefix)FirstName">
                    <sup>*</sup>First
                </label>
                <input id="@(idPrefix)FirstName" tabindex="0" type="text"
                       ng-model="LoanApp.Applicants[@index].FirstName"
                       ng-disabled="@ngAccountServicesDisabled"
                       aria-label="Enter your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")first name."
                       ng-pattern="/^([A-Za-z]+[\']?[\.]?[\-]?[ ]?)*$/"
                       maxlength="30" required ls-proper-case="true">
            </div>
            <div class="medium-1 columns">
                <label for="@(idPrefix)MiddleInitial">
                    MI
                </label>
                <input id="@(idPrefix)MiddleInitial" tabindex="0" type="text"
                       maxlength="1"
                       ng-model="LoanApp.Applicants[@index].MiddleInitial"
                       ls-restrict-to-pattern ls-proper-case="upper"
                       aria-label="Enter your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")middle initial."
                       ng-disabled="@ngAccountServicesDisabled"
                       ng-pattern="/[A-Za-z]/">
            </div>
            <div class="medium-3 columns medium-pull-5">
                <label for="@(idPrefix)LastName">
                    <sup>*</sup>Last
                </label>
                <input id="@(idPrefix)LastName" tabindex="0" type="text"
                       ng-model="LoanApp.Applicants[@index].LastName"
                       ng-disabled="@ngAccountServicesDisabled"
                       aria-label="Enter your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")last name."
                       ng-pattern="/^([A-Za-z]+[\']?[\.]?[\-]?[ ]?)*$/"
                       maxlength="30" required ls-proper-case="true">
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="@(idPrefix)EmailAddress">
                    <sup>*</sup>Email Address
                </label>
                <input id="@(idPrefix)EmailAddress"
                       name="@(idPrefix)EmailAddress"
                       tabindex="0" type="email" maxlength="50"
                       ng-model="LoanApp.Applicants[@index].EmailAddress"
                       ng-pattern="/@(@"^(?!.*([\.])\1)[a-z0-9_\-\.\+]{2,}@[a-z0-9_\-\.]{1,}\.[a-z]{2,}$/i")"
                       ng-blur="validateEmail(@index)"
                       aria-label="Enter your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")email address."
                       required ls-track-visited>
                <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApplication.@(idPrefix)EmailAddress.$hasVisited && LoanApplication.@(idPrefix)EmailAddress.$error.email">
                    <p>Please enter a valid email address.</p>
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="aside down">
                    <span ng-cloak ng-show="LoanApp.Applicants[@index].EmailValidation.isValidating">
                        <img src="@cdnBaseUrl/ajax-loader.gif" alt="email validation wait spinner" alt="loading">
                        <span>Please wait while we verify your email.</span>
                    </span>
                    <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApp.Applicants[@index].EmailValidation.hasValidationFailed">
                        <p>There may be an issue with the email provided.<br />Please review and correct, or continue.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                @if (Model == FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Secondary)
                {
                    <label for="CoApplicantSameAddress" class="left" ng-show="!LoanApp.IsAccountServices || !(@ngAccountServicesDisabled)"><input type="checkbox" id="CoApplicantSameAddress" ng-model="LoanApp.CoApplicantSameAddress" /> Same as above</label>
                }
            </div>
        </div>
        <div class="row">
            <div class="medium-4 columns">
                <label for="@(idPrefix)HomeStreetAddress" class="left">
                    <sup>*</sup>Home Street Address (no P.O. boxes)
                </label>
                <input id="@(idPrefix)HomeStreetAddress" type="text"
                       name="@(idPrefix)HomeStreetAddress"
                       ng-model="LoanApp.Applicants[@index].Residence.Address.AddressLine"
                       required
                       maxlength="50"
                       ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d)[\d|r].*$/"
                       ls-proper-case="true"
                       aria-label="Enter your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")home street address. No P O boxes can be accepted."
                       ls-track-visited
                       ng-disabled="@ngAccountServicesDisabled || (LoanApp.CoApplicantSameAddress && @index == 1)">
                <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApplication.@(idPrefix)HomeStreetAddress.$hasVisited && LoanApplication.@(idPrefix)HomeStreetAddress.$error.pattern">
                    <p>Please enter your complete address with both street name and number.</p>
                </div>
            </div>
            <div class="medium-2 columns small-6">
                <label>
                    Apt, etc.
                </label>
                @(Html.NgDropDownSelectList(
                  "LoanApp.Applicants[" + index + "].Residence.Address.SecondaryUnit.Type",
                  idPrefix + "HomeAddressSecondaryUnitType",
                  "If needed. Select " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "apartment, suite, unit, or leave blank.",
                  FirstAgain.Domain.Lookups.FirstLook.PostalAddressSecondaryUnitTypeLookup.GetFilteredList(FirstAgain.Domain.Lookups.FirstLook.PostalAddressSecondaryUnitTypeLookup.FilterType.Home),
                  "false",
                  new
                  {
                      @ng_disabled = string.Format("{1} || (LoanApp.CoApplicantSameAddress && {0} == 1)", index, ngAccountServicesDisabled)
                  }
                  ))
            </div>
            <div class="medium-2 columns small-6">
                <label for="@(idPrefix)HomeAddressSecondaryUnitValue">&nbsp;</label>
                <input id="@(idPrefix)HomeAddressSecondaryUnitValue" type="text"
                       maxlength="10"
                       aria-label="If needed. Enter @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")apartment, suite, or unit number."
                       ng-show="LoanApp.Applicants[@index].Residence.Address.SecondaryUnit.Type && LoanApp.Applicants[@index].Residence.Address.SecondaryUnit.Type != 'NotSelected'"
                       ng-model="LoanApp.Applicants[@index].Residence.Address.SecondaryUnit.Value"
                       ng-required="LoanApp.Applicants[@index].Residence.Address.SecondaryUnit.Type && LoanApp.Applicants[@index].Residence.Address.SecondaryUnit.Type != 'NotSelected'"
                       ng-disabled="@ngAccountServicesDisabled || (LoanApp.CoApplicantSameAddress && @index == 1)" />
            </div>
            <div class="small-12 medium-4 columns" ng-show="LoanApp.IsAccountServices" ng-cloak>
                <div class="forminfo aside down" tabindex="0">
                    <p style="font-size: small !important;">Address changed?  Please go to Account Services, then Profile, then Contact Information to update your address.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="@(idPrefix)ResidenceAddressCity">
                    <sup>*</sup>City
                </label>
                <input type="text"
                       id="@(idPrefix)ResidenceAddressCity"
                       ng-model="LoanApp.Applicants[@index].Residence.Address.City"
                       maxlength="50" ls-proper-case="true"
                       aria-label="Enter your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")city."
                       ls-restrict-to-pattern ng-pattern="/^[A-Za-z\' \-/.]+$/"
                       ng-disabled="@ngAccountServicesDisabled || (LoanApp.CoApplicantSameAddress && @index == 1)"
                       required>
            </div>
            <div class="medium-2 columns">
                <label for="@(idPrefix)ResidenceAddressState">
                    <sup>*</sup>State
                </label>
                @(Html.NgDropDownEnumList(
                  "LoanApp.Applicants[" + index + "].Residence.Address.State",
                  idPrefix + "ResidenceAddressState",
                  "Select your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "state of residence.",
                  FirstAgain.Domain.Lookups.FirstLook.StateLookup.GetFilteredBindingSource(FirstAgain.Domain.Lookups.FirstLook.StateLookup.FilterType.Inbusiness),
                  true,
                  new { @ng_disabled = string.Format("({1}) || (LoanApp.CoApplicantSameAddress && {0} == 1)", index, ngAccountServicesDisabled) }))
            </div>
            <div class="large-2 medium-3 columns medium-pull-1 large-pull-2">
                <label for="@(idPrefix)ResidenceAddressZipCode">
                    <sup>*</sup>Zip Code
                </label>
                @LSForm.ZipCode(nameAndId: idPrefix + "ResidenceAddressZipCode",
                ngModel: "LoanApp.Applicants[" + index + "].Residence.Address.ZipCode",
                ariaLabel: "Enter your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "home zip code.",
                required: true,
                ngDisabled: string.Format("{1} || (LoanApp.CoApplicantSameAddress && {0} == 1)", index, ngAccountServicesDisabled))
            </div>
        </div>

        <div class="row" ng-cloak ng-show="LoanApp.Applicants[@index].Residence.Address.State == 'Florida'">
            <div class="medium-9 columns">
                <div class="forminfo disclaimer" tabindex="0">
                    @Html.Partial("~/Views/Apply/Partials/_FloridaDocStampTax.cshtml")
                </div>
            </div>
        </div>

        <div class="row">
            @LoanApplicationForm.PhoneNumber("Home Phone (with area code)", "Enter your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "home phone number starting with area code.", ngModel: "LoanApp.Applicants[" + index + "].Residence.PhoneNumber", nameAndId: idPrefix + "ResidencePhoneNumber")

            <div class="large-3 medium-4 small-12 columns">
                @LoanApplicationForm.YearAndMonths(
                ngRequired: "true",
                label: "Time at current address",
                ariaLabelYear: "Enter the number of years at your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "current address.",
                ariaLabelMonth: "Enter the number of additional months at your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "current address.",
                nameAndId: idPrefix + "ResidenceTimeAtAddress",
                ngModel: "LoanApp.Applicants[" + index + "].Residence.TimeAtAddress")
            </div>
            <div class="large-2 medium-3 columns  large-pull-4 medium-pull-1">
                <label for="@(idPrefix)ResidenceOwnership"><sup>*</sup>Housing Status
                </label>
                @(Html.NgDropDownEnumList(
                  "LoanApp.Applicants[" + index + "].Residence.Ownership",
                  idPrefix + "ResidenceOwnership",
                  "Select your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "housing status.",
                  FirstAgain.Domain.Lookups.FirstLook.ApplicantHousingStatusLookup.BindingSource,
                  true))
            </div>
        </div>

        <div class="row">
            @if (Model == FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Secondary)
            {
                <div class="medium-4 large-3 columns">
                    @LoanApplicationForm.SocialSecurityNumber("Social Security (9 digits)", "Enter your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "9 digit social security number.", "Please enter a valid social security number (123-45-6789)", "LoanApp.Applicants[" + index + "].SocialSecurityNumber", idPrefix + "SocialSecurityNumber", doesNotMatch: "LoanApp.Applicants[0].SocialSecurityNumber", isOnFile: "(LoanApp.IsAccountServices && LoanApp.ApplicantIsPrePopulated[" + index + "]) || (LoanApp.IsGenericPartner && LoanApp.ApplicantIsPrePopulated[" + index + "])")
                </div>
            }
            else
            {
                <div class="medium-4 large-3 columns">
                    @LoanApplicationForm.SocialSecurityNumber("Social Security (9 digits)", "Enter your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "9 digit social security number.", "Please enter a valid social security number (123-45-6789)", "LoanApp.Applicants[" + index + "].SocialSecurityNumber", idPrefix + "SocialSecurityNumber", isOnFile: "LoanApp.IsAddCoApplicant || LoanApp.IsAccountServices || (LoanApp.IsGenericPartner && LoanApp.ApplicantIsPrePopulated[" + index + "])")
                 </div>
            }
            <div class="large-3 medium-4 columns">
                <label for="@(idPrefix)DateOfBirth">
                    <sup>*</sup>Date Of Birth (mm/dd/yyyy)
                </label>
                <input type="text" maxlength="20"
                        id="@(idPrefix)DateOfBirth"
                        name="@(idPrefix)DateOfBirth"
                        aria-label="Enter your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")date of birth as a 2 digit month, a 2 digit day, and a 4 digit year."
                        ls-is-on-file="(LoanApp.IsAddCoApplicant && @index === 0) || (LoanApp.IsAccountServices && LoanApp.ApplicantIsPrePopulated[@index]) || (LoanApp.IsGenericPartner && LoanApp.ApplicantIsPrePopulated[@index])"
                        ng-model="LoanApp.Applicants[@index].DateOfBirth"
                        required ls-date-of-birth ls-track-visited>
                <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApplication.@(idPrefix)DateOfBirth.$hasVisited && LoanApplication.@(idPrefix)DateOfBirth.$error.parse == false && LoanApplication.@(idPrefix)DateOfBirth.$error.year">
                    <p>Please enter a valid year.</p>
                </div>
                <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApplication.@(idPrefix)DateOfBirth.$hasVisited && LoanApplication.@(idPrefix)DateOfBirth.$error.parse == false && LoanApplication.@(idPrefix)DateOfBirth.$error.year == false && LoanApplication.@(idPrefix)DateOfBirth.$error.age">
                    <p>You must be 18 years of age to apply for a LightStream loan.</p>
                </div>
                <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApplication.@(idPrefix)DateOfBirth.$hasVisited && LoanApplication.@(idPrefix)DateOfBirth.$error.parse == false && LoanApplication.@(idPrefix)DateOfBirth.$error.year == false && LoanApplication.@(idPrefix)DateOfBirth.$error.maxAge">
                    <p>Please enter a valid year.</p>
                </div>
                <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApplication.@(idPrefix)DateOfBirth.$hasVisited && LoanApplication.@(idPrefix)DateOfBirth.$error.parse">
                    <p>Please enter a valid date.</p>
                </div>

            </div>
            <div class="large-3 medium-4 columns large-pull-3 ">
                <label for="@(idPrefix)DriversLicenseLastFourDigits">
                    <sup>*</sup>Driver's License (last 4 digits)
                </label>
                <div class="row">
                    <div class="medium-8 columns">
                        @LSForm.DriversLicenseLastFour(idPrefix + "DriversLicenseLastFourDigits", "Enter the last 4 digits of your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "driver license.", "LoanApp.Applicants[" + index + "].DriversLicenseLastFourDigits")
                    </div>
                </div>
            </div>
        </div>

</fieldset>

    <fieldset ng-disabled="@index == 0 && LoanApp.IsAddCoApplicant && LoanApp.ApplicantSuppliedOfacQuestions">
        <!-- Citizenship Questions-->
        @Html.Partial("~/Views/Apply/Partials/_OfacQuestions.cshtml", Model)
    </fieldset>
    <fieldset ng-disabled="@index == 0 && LoanApp.IsAddCoApplicant">
        <!-- Employment Section-->
        <div class="row">
            <div class="large-12 columns">
                @if (Model == FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Secondary)
                {
                    <h2 tabindex="0">Co-Applicant Employment Information</h2>
                }
                else 
                { 
                    <h2 tabindex="0">Your Employment Information</h2>
                }
            </div>
        </div>

        <div class="row">
            <div class="medium-6 columns">
                <label for="@(idPrefix)OccupationType">
                    <sup>*</sup>Work Status
                </label>
                @(Html.NgDropDownEnumList(
                "LoanApp.Applicants[" + index + "].Occupation.Type",
                idPrefix + "OccupationType",
                "Select your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "work status.",
                FirstAgain.Domain.Lookups.FirstLook.OccupationTypeLookup.BindingSource,
                true,
                new { @ng_change = "workStatusChanged(" + index + ", '" + idPrefix + "')" }))
            </div>
        </div>

        <div ng-cloak ng-show="LoanApp.Applicants[@index].Occupation.Type == 'EmployedByOther' || LoanApp.Applicants[@index].Occupation.Type == 'EmployedBySelf'">
            <div class="row">
                <div class="medium-6 columns">
                    <label for="@(idPrefix)OccupationDescription">
                        <sup ng-show="employerFieldsRequired(@index)">*</sup>Occupation Description
                    </label>
                    <input type="text"
                           id="@(idPrefix)OccupationDescription"
                           ng-model="LoanApp.Applicants[@index].Occupation.OccupationDescription"
                           aria-label="Type in your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")occupation description."
                           maxlength="50"
                           ng-required="employerFieldsRequired(@index) && !LoanApp.IsAddCoApplicant"
                           ng-disabled="employerFieldsDisabled(@index)"
                           ls-proper-case="true"
                           occupation-autocomplete="LoanApp.Applicants[@index].Occupation.OccupationDescription" />
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label for="@(idPrefix)EmployerName">
                        <sup ng-show="employerFieldsRequired(@index)">*</sup>Company Name
                    </label>
                    <input type="text"
                           id="@(idPrefix)EmployerName"
                           aria-label="Type in your @(idPrefix == "CoApplicant" ? "Co Applicant's " : "")company name."
                           ls-proper-case="true"
                           ng-model="LoanApp.Applicants[@index].Occupation.Employer.EmployerName"
                           ng-required="employerFieldsRequired(@index)"
                           ng-disabled="employerFieldsDisabled(@index)"
                           maxlength="50" />
                </div>
            </div>

            @Html.Partial("~/Views/Apply/Partials/_EmployerAddress.cshtml", Model)

            <div class="row">
                @LoanApplicationForm.PhoneNumberWithExtension("Work Phone (with area code)", "Enter your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "10 digit work phone starting with area code.", "Enter your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "work phone extension if applicable.", "LoanApp.Applicants[" + index + "].Occupation.Employer.PhoneNumber", idPrefix + "EmployerPhone", "employerFieldsRequired( " + index + ")", "employerFieldsDisabled(" + index + ")")

                <div class="large-3 medium-4 columns large-pull-5 medium-pull-4 small-12">
                    @LoanApplicationForm.YearAndMonths(
                ngRequired: "employerFieldsRequired(" + index + ")",
                ngDisabled: "employerFieldsDisabled(" + index + ")",
                label: "Time with current company",
                ariaLabelYear: "Enter the number of years at your "+ (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "current company.",
                ariaLabelMonth: "Enter the number of additional months at your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "current company.",
                nameAndId: idPrefix + "TimeWithEmployer",
                ngModel: "LoanApp.Applicants[" + index + "].Occupation.Employer.TimeWithEmployer")
                </div>
            </div>
            <div class="row">
                <div class="medium-3 columns">
                    <label for="@(idPrefix)GrossAnnualIncomeLabel">
                        <sup ng-show="employerFieldsRequired(@index)">*</sup>{{salaryDescription}}
                    </label>
                    @LSForm.Currency(nameAndId: idPrefix + "GrossAnnualIncome",
                ngModel: string.Format("LoanApp.Applicants[{0}].Occupation.Employer.GrossAnnualIncome", index),
                ariaLabel: "Enter your " + (idPrefix == "CoApplicant" ? "Co Applicant's " : "") + "annual salary.",
                ngRequired: string.Format("employerFieldsRequired({0})", index),
                ngDisabled: string.Format("employerFieldsDisabled({0})", index),
                maxLength: 14,
                ngMin: "0.01",
                ngMax: "99999999.99")
                </div>
                <div class="medium-9 columns">
                    <div class="forminfo aside down" tabindex="0">
                        <p>Do not include bonuses, commissions, tips, etc.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="ConfirmDeleteEmploymentDataModal@(idPrefix)" class="reveal medium" data-reveal data-options="closeOnClick:false">
            <a class="close-reveal-modal" ng-click="cancelChangeWorkStatus(@index, '@idPrefix')">&#215;</a>
            <h2>Work Status Changed</h2>
            <p class="small-12 columns">By selecting {{LoanApp.Applicants[@(index)].Occupation.Type}}, the employment data that has been entered will be cleared. Do you still wish to change the work status on this application?</p>
            <div class="row">
                <div class="small-12 columns">
                    <a href="#" class="button button-medium button-navy" ng-click="cancelChangeWorkStatus(@index, '@idPrefix')">No</a>
                    <a href="#" class="button button-medium" ng-click="confirmChangeWorkStatus(@index, '@idPrefix')">Yes</a>
                </div>
            </div>
        </div>
    </fieldset>

</div>
