@model LightStreamWeb.Models.Apply.ApplyPageModel

@Html.AntiForgeryToken()

@if(Model.ShowDeclineReferralOptIn) {
    <div class="row ruled-top-thin">
        <div class="large-12 columns">
            <b>Optional:</b><br /> In the event that LightStream is unable to approve my loan request, I/we would like LightStream to share my application information with third parties, so that third parties may assist me in obtaining a (non-LightStream) loan.
            By clicking yes below, I/we understand that LightStream may receive a fee, and I/we agree that:
            <ul>
                <li>the third parties can contact me by phone and/ or email</li>
                <li>the <a href="/partial/cms/electronic-disclosures" data-popup="true">Statement on the Use of Electronic Records</a>, and the consents and notices below, apply to any third party to which LightStream refers me</li>
                <li>I/we authorize the third parties to pull my credit report to determine if I qualify; and</li>
                <li>they may also share my information with other third parties for the purpose of extending a loan to me.</li>
            </ul><br />
            <div role="radiogroup" style="text-align:center;" aria-label="Do you agree to sharing your application information with third parties?">
                <input type="radio" class="appConfirmationStepRadio" data-ng-model="LoanApp.DeclineReferralOptIn" name="DeclineReferralOptIn_radio" ng-init="LoanApp.DeclineReferralOptIn = false" data-ng-value="true" id="optional_Y" required><label for="optional_Y" class="radio">Yes</label>
                <input type="radio" class="appConfirmationStepRadio" data-ng-model="LoanApp.DeclineReferralOptIn" name="DeclineReferralOptIn_radio" data-ng-value="false" id="optional_N" required><label for="optional_N" class="radio">No</label>
            </div>
        </div>
    </div>
}

    <div class="row ruled-top-thin">
        <div class="large-12 columns">
            <b>To submit your application, please read:</b><br /> I/We have read and acknowledge receipt of LightStream's <a href="/partial/cms/electronic-disclosures" data-popup="true">Statement on the Use of Electronic Records</a>, via the link provided, and
            hereby agree to receive the loan agreement, all legally required disclosures, notices (including <a href="/modals/privacy" data-popup="true">Privacy Policy</a>), and other information related to this loan transaction in electronic form, and to use electronic
            signatures to sign any loan agreement.
            <div role="radiogroup" style="text-align:center;" aria-label="Do you agree to reading and acknowledging receipt of LightStream’s Statement on the Use of Electronic Records?">
                <input type="radio" class="appConfirmationStepRadio" data-ng-model="LoanApp.ElectronicDisclosures" name="ElectronicDisclosures_radio" data-ng-value="true" id="ElectronicDisclosures_Y" required><label for="ElectronicDisclosures_Y" class="radio">Yes</label>
                <input type="radio" class="appConfirmationStepRadio" data-ng-model="LoanApp.ElectronicDisclosures" name="ElectronicDisclosures_radio" data-ng-value="false" id="ElectronicDisclosures_N" required><label for="ElectronicDisclosures_N" class="radio">No</label>
            </div>
            <div class="formalert" tabindex="0" style="padding-bottom: 0px" ng-show="LoanApp.ElectronicDisclosures === false" ng-cloak="">
                <p style="padding-bottom: 0px">
                    In order to apply for a loan with LightStream, you need to select Yes above, acknowledging receipt of our <a href="/partial/cms/electronic-disclosures" data-popup="true">Statement on the Use of Electronic Records</a> and agree to receive electronic records and to use electronic signatures in any loan transaction.
                </p>
            </div>
            By clicking "Submit" below, I/we:
            <ul>
                <li>acknowledge that the above application is submitted for the purpose of obtaining credit</li>
                <li>certify that all information herein is true, complete, and correct</li>
                <li>acknowledge that @Model.ParentCompanyName may require verification of certain application information in a form and substance satisfactory to @Model.ParentCompanyName, in its sole discretion</li>
                <li>
                    with respect to each phone number provided, consent to @Model.ParentCompanyName and affiliates, agents, and assignees contacting me (by any method, including automated dialing equipment or prerecorded messages) by calling, texting, or other electronic communication
                    about my accounts with @Model.ParentCompanyName and affiliates, and
                </li>
                <li>
                    authorize @Model.ParentCompanyName to make any inquiry, including hard inquiries in the course of review or collection of any credit extended in reliance on this application. I/We authorize and instruct any person, including but not limited to all local, state
                    or federal government agencies or consumer reporting agencies, to complete and furnish @Model.ParentCompanyName any information it may have or obtain in response to such credit inquiries and agree that such information, along with this application, shall remain
                    @Model.ParentCompanyName's property whether or not credit is extended
                </li>
                <li>
                    authorize my wireless operator to use my mobile number, name, address, email, network status, customer type, customer role, billing type, mobile device identifiers (IMSI and IMEI) and other subscriber status details, if available solely, to allow
                    verification of my identity and to compare information I have provided to LightStream with my wireless operator account profile information for the duration of the business relationship.
                </li>
            </ul>
        </div>
    </div>

    <div class="row ruled-top-thin noRule">
        <div class="large-12 columns" tabindex="0">
            @Html.Partial("~/Views/Apply/Partials/_ConfirmStateDisclosures.cshtml")
        </div>
    </div>
