<div ng-show="LoanApp.Applicants[0].Residence.Address.State == 'Florida' || (LoanApp.ApplicationType === 'Joint' && LoanApp.Applicants[1].Residence.Address.State == 'Florida') "  ng-cloak="">
    @Html.Partial("~/Views/Apply/Partials/_FloridaDocStampTax.cshtml")
</div>

<div ng-show="LoanApp.Applicants[0].Residence.Address.State == 'California' || LoanApp.Applicants[1].Residence.Address.State == 'California'" ng-cloak="">
    @Html.Raw(Resources.FAMessages.ApplicationDisclosure_California)
</div>

<div ng-show="LoanApp.Applicants[0].Residence.Address.State == 'Ohio' || LoanApp.Applicants[1].Residence.Address.State == 'Ohio'" ng-cloak="">
    @Html.Raw(Resources.FAMessages.ApplicationDisclosure_Ohio)
</div>

<div ng-show="LoanApp.Applicants[0].Residence.Address.State == 'Vermont' || LoanApp.Applicants[1].Residence.Address.State == 'Vermont'" ng-cloak="">
    @Html.Raw(Resources.FAMessages.ApplicationDisclosure_Vermont)
</div>

<div ng-show="(LoanApp.Applicants[0].Residence.Address.State == 'Wisconsin' || LoanApp.Applicants[1].Residence.Address.State == 'Wisconsin') && LoanApp.LoanAmount <= 25000" ng-cloak="">
    @Html.Raw(Resources.FAMessages.ApplicationDisclosure_Wisconsin)
</div>

