@model LightStreamWeb.Models.Apply.ProgressBarModel

<section class="row">
    <div class="large-12 columns">
        <h2 tabindex="0">Progress</h2>

        <div class="show-for-medium-up applicationProgressNote" tabindex="0">
            <b>Note: </b>You can preview all pages of the application by clicking on the sections of the progress bar below. After you preview them, they must be completed in the order they appear.
        </div>
        <div class="pb" ng-init="currentTabNumber = @Model.Step" role="navigation">

            <div class="step @((Model.Step == 1) ? "active" : "") first" ng-click="saveAndCheckValidity(@Model.Step, '@Url.Action("Index")')">
                <a href="#" class="loan-info" aria-label="@((Model.Step == 1) ? "Current Step" : "Step 1"), Loan Information.">Loan Information</a>
            </div>
            <div class="step @((Model.Step == 2) ? "active" : "") @((Model.Step == 1) ? "transition" : "")" ng-click="saveAndCheckValidity(@Model.Step, '@Url.Action("PersonalInfo")')">
                <a href="#" class="personal-info" aria-label="@((Model.Step == 2) ? "Current Step" : "Step 2"), Personal Information.">Personal Information</a>
            </div>
            <div class="step @((Model.Step == 3) ? "active" : "") @((Model.Step == 2) ? "transition" : "")" ng-click="saveAndCheckValidity(@Model.Step, '@Url.Action("SecurityInfo")')">
                <a href="#" class="security-info" aria-label="@((Model.Step == 3) ? "Current Step" : "Step 3"), Security Information.">Security Information</a>
            </div>
            <div class="step @((Model.Step == 4) ? "active" : "") @((Model.Step == 3) ? "transition" : "")" ng-click="saveAndCheckValidity(@Model.Step, '@Url.Action("Confirm")')">
                <a href="#" class="confirm" aria-label="@((Model.Step == 4) ? "Current Step" : "Step 4"), Confirm and Submit.">Confirm and Submit</a>
            </div>

            <div class="end @((Model.Step >= 4) ? "completed" : "")"><span></span></div>
        </div>
    </div>
</section>

<form>
    <section id="ErrorMessage" class="row ng-cloak ng-hide" ng-cloak="" ng-show="LoanApp && LoanApp.ErrorMessage">
        <div class="large-12 columns panel formalert" tabindex="0">
            <p><strong>There was an error with your submission:</strong></p>
            <p>{{LoanApp.ErrorMessage}}</p>
        </div>
    </section>

    <section class="row ng-cloak ng-hide" ng-cloak="" ng-show="LoanApp && LoanApp.AlertMessage">
        <div class="large-12 columns formwarning">
            <p>{{LoanApp.AlertMessage}}</p>
        </div>
    </section>
</form>