<div class="row">
    <div class="large-3 medium-4 columns">
        <label><sup>*</sup>User ID (6-20 characters)</label>
        <input type="text" id="UserName" name="UserName"
               ng-model="LoanApp.UserCredentials.UserName"
               aria-label="Enter a 6 through 20 character user ID."
               required="required"
               maxlength="20"
               ng-maxlength="20"
               ng-minlength="6"
               ng-pattern="/^[A-Za-z0-9@(@"\!\&\$\,\-\.\_\@")]+$/"
               ls-restrict-to-pattern
               ng-disabled="LoanApp.UserCredentials.UserId || LoanApp.UserCredentials.IsTemporary"
               ng-class="{'temporaryUserName': LoanApp.UserCredentials.IsTemporary == true}"
               @if (ViewBag.PostData != null) { <text> ng-init="LoanApp.UserCredentials.UserName='@ViewBag.PostData.UserName'" </text> } />

        <div class="row" ng-cloak ng-show="LoanApp.ErrorMessage" tabindex="0">
            <div class="formalert">
                <p>{{LoanApp.ErrorMessage}}</p>
            </div>
        </div>
    </div>
    <div class="large-9 medium-8 columns" ng-cloak="">
        <div class="forminfo aside" tabindex="0">
            <p>@Html.Raw(Resources.LoanAppErrorMessages.HintUserId)</p>
        </div>
    </div>

</div>

<div class="row">
    <div class="large-3 medium-4 columns">
        <label><sup>*</sup>Password (8-20 characters)</label>
        <input type="password"
               id="Password"
               aria-label="Enter an 8 through 20 character password."
               autocomplete="off"
               name="Password"
               ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9!&$,-._ ]{8,20}$/"
               ng-model="LoanApp.UserCredentials.Password"
               ng-disabled="LoanApp.UserCredentials.UserId"
               ls-track-visited
               required="required" maxlength="20" minlength="6">

        <div ng-show="LoanApplication.Password.$hasVisited && LoanApplication.Password.$error.pattern" ng-cloak="">
            <div class="formalert hide-no-js" tabindex="0">
                <p>@Html.Raw(Resources.LoanAppErrorMessages.ErrorPasswordRegEx)</p>
            </div>
        </div>
    </div>
    <div class="large-9 medium-8 columns" ng-cloak=""><br />
        <div class="forminfo aside" tabindex="0">
            <p>@Html.Raw(Resources.LoanAppErrorMessages.HintPassword)</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-3 medium-4 columns">
        <label><sup>*</sup>Re-enter Password</label>
        <input type="password"
               id="ConfirmPassword"
               name="ConfirmPassword"
               aria-label="Please verify your chosen password by re-entering it again."
               ls-track-visited
               ls-password-match="LoanApp.UserCredentials.Password"
               ng-model="LoanApp.PasswordConfirmation"
               ng-disabled="LoanApp.UserCredentials.UserId"
               required="required" maxlength="20" minlength="6">

        <div ng-show="LoanApplication.ConfirmPassword.$error.match && LoanApplication.ConfirmPassword.$hasVisited && !LoanApplication.Password.$error.pattern" ng-cloak="">
            <div class="formalert hide-no-js" tabindex="0">
                <p>@Html.Raw(Resources.LoanAppErrorMessages.ErrorPasswordNoMatch)</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <label><sup>*</sup>Security Question</label>
        @(Html.NgDropDownEnumList(
                            "LoanApp.UserCredentials.SecurityQuestionType",
                            "SecurityQuestionType",
                            "Select your security question.",
                            FirstAgain.Domain.Lookups.FirstLook.SecurityQuestionLookup.BindingSource,
                            true,
                            attributes: new { @ng_disabled = "LoanApp.UserCredentials.UserId", @ng_init = ViewBag.PostData == null ? null : string.Format("LoanApp.UserCredentials.SecurityQuestionType='{0}'", ViewBag.PostData.SecurityQuestionType.ToString()) }
                            ))
    </div>
</div>
<div class="row">
    <div class="medium-6 columns">
        <label><sup>*</sup>Security Answer</label>
        <input type="text" id="SecurityQuestionAnswer"
               name="SecurityQuestionAnswer"
               aria-label="Enter your answer to your security question."
               ng-model="LoanApp.UserCredentials.SecurityQuestionAnswer"
               minlength="1"
               maxlength="50"
               ng-pattern="/^[A-Za-z0-9@(@"!&$,-._ ")]+$/"
               ls-restrict-to-pattern
               ng-disabled="LoanApp.UserCredentials.UserId"
               required="required"
               @if (ViewBag.PostData != null) { <text> ng-init="LoanApp.UserCredentials.SecurityQuestionAnswer='@ViewBag.PostData.SecurityQuestionAnswer'" </text> } />

    </div>
    <div tabindex="0" class="medium-6 columns" ng-cloak="">
        <div class="forminfo aside" tabindex="0">
            <p>@Html.Raw(Resources.LoanAppErrorMessages.HintSecurityAnswer)</p>
        </div>
    </div>

</div>