<div class="row">
    <div class="medium-3 columns">
		<label for="ZipCode"><sup>*</sup>Zip Code</label>
        @LSForm.ZipCode(nameAndId: "ZipCode",
                        ariaLabel: "Enter your 5 digit zip code.",
                        ngDisabled: "LoanApp.IsAddCoApplicant || LoanApp.CanUpdateContactInfo === false || (LoanApp.IsAccountServices && LoanApp.ApplicantIsPrePopulated[0])",
                        ngModel: "LoanApp.ZipCode", 
                        required: true)
    </div>
    <div class="medium-3 columns" ng-show='(LoanApplication.ZipCode.$dirty && LoanApplication.ZipCode.$notFound) || LoanApp.UserSelectedState' ng-cloak="">
        <label for="State">State</label>
            @(Html.NgDropDownEnumList(
                    "LoanApp.State", 
                    "State", 
                    "Select state.",
                    FirstAgain.Domain.Lookups.FirstLook.StateLookup.GetFilteredBindingSource(FirstAgain.Domain.Lookups.FirstLook.StateLookup.FilterType.Inbusiness),
                    false))

        <div class="formalert" tabindex="0" ng-show="LoanApplication.ZipCode.$error.notFound" ng-cloak="" aria-label="The zip code you entered cannot be found. Please reenter your zip code.">	
            <p>@Resources.LoanAppErrorMessages.ErrorResZipCodeNotFound</p>
        </div>
    </div>

    <div class="medium-3 columns" tabindex="0" ng-show='LoanApplication.ZipCode.$dirty && LoanApplication.ZipCode.$error.military' ng-cloak="">
        <div class="formalert aside down" ng-cloak="">	
            <p>@Resources.LoanAppErrorMessages.ErrorResZipCodeMilitary</p>
        </div>
    </div>

    <div class="medium-9 columns" tabindex="0" ng-show="LoanApp.State == 'Florida'"  ng-cloak="">	
        <div class="forminfo down aside disclaimer">
            @Html.Partial("~/Views/Apply/Partials/_FloridaDocStampTax.cshtml")
        </div>
    </div>
</div>
