@model LightStreamWeb.Models.Shared.CounterOfferTermsModel

<section class="row offer-terms-table-container" id="OfferTermsTable">
	<h2 class="brand large-12 column">Your Offered Terms:</h2>

    <div class="medium-9 columns">
        <div class="row hide-for-small-only offer-terms-table medium-up-3 large-up-4">
            <div class="column column-block">
                <div style="height: auto; vertical-align: middle;">Loan Terms</div>
                <div style="height: auto; vertical-align: middle;">Loan Amount</div>
                <div style="height: auto; vertical-align: middle;">Loan Term</div>
                <div style="height: auto; vertical-align: middle;">Interest Rate/APR</div>
                <div style="height: auto; vertical-align: middle;">Monthly Payment</div>
                <div style="height: auto; vertical-align: middle;">Payment method</div>
            </div>
            <div class="column column-block">
                <div>Requested</div>
                <div>@Model.Requested.LoanAmount.ToString("C")</div>
                <div>@Model.Requested.LoanTerm months</div>
                <div>@Model.Requested.InterestRate</div>
                <div>@Model.Requested.MonthlyPayment</div>
                <div>@Model.Requested.PaymentMethod</div>
            </div>
            <div class="column column-block">
                <div>Offered</div>
                <div>
                    @Model.Offered.LoanAmount.ToString("C")  
                    @if (Model.Requested.FloridaDocStampTax.HasValue)
                    { 
                        @:<super><a href="" data-flash="FloridaDocStampDisclosure">**</a></super>
                    }
                </div>
                <div>@Model.Offered.LoanTerm Months</div>
                <div>@Model.Offered.InterestRate</div>
                <div>@Model.Offered.MonthlyPayment</div>
                <div>@Model.Offered.PaymentMethod</div>
            </div>
        </div>
        <div class="row show-for-small-only">
            <div class="offer-terms-table-small small-12">
                <div class="row small-up-12">
                    <div class="column column-block">
                        <div style="height: auto; vertical-align: middle;">Loan Amount</div>
                        <div class="row small-up-2">
                            <div class="column column-block">
                                <div>Requested</div>
                                <div>Offered</div>
                            </div>
                            <div class="column column-block">
                                <div>@Model.Requested.LoanAmount.ToString("C")</div>
                                <div>
                                    @Model.Offered.LoanAmount.ToString("C")
                                    @if (Model.Requested.FloridaDocStampTax.HasValue)
                                    {
                                        @:<super><a href="" data-flash="FloridaDocStampDisclosure">**</a></super>
                                    }
                                </div>
                            </div>
                        </div>
                        <div style="height: auto; vertical-align: middle;">Loan Term</div>
                        <div class="row small-up-2">
                            <div class="column column-block">
                                <div>Requested</div>
                                <div>Offered</div>
                            </div>
                            <div class="column column-block">
                                <div>@Model.Requested.LoanTerm months</div>
                                <div>@Model.Offered.LoanTerm Months</div>
                            </div>
                        </div>
                        <div style="height: auto; vertical-align: middle;">Interest Rate/APR</div>
                        <div class="row small-up-2">
                            <div class="column column-block">
                                <div>Requested</div>
                                <div>Offered</div>
                            </div>
                            <div class="column column-block">
                                <div>@Model.Requested.InterestRate</div>
                                <div>@Model.Offered.InterestRate</div>
                            </div>
                        </div>
                        <div style="height: auto; vertical-align: middle;">Monthly Payment</div>
                        <div class="row small-up-2">
                            <div class="column column-block">
                                <div>Requested</div>
                                <div>Offered</div>
                            </div>
                            <div class="column column-block">
                                <div>@Model.Requested.MonthlyPayment</div>
                                <div>@Model.Offered.MonthlyPayment</div>
                            </div>
                        </div>
                        <div style="height: auto; vertical-align: middle;">Payment Method</div>
                        <div class="row small-up-2">
                            <div class="column column-block">
                                <div>Requested</div>
                                <div>Offered</div>
                            </div>
                            <div class="column column-block">
                                <div>@Model.Requested.PaymentMethod</div>
                                <div>@Model.Offered.PaymentMethod</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="disclaimer">@Html.Raw(Model.Offered.LoanOfferDisclaimer)</div>
    </div>

    <div class="medium-3 columns loannotes" id="FloridaDocStampDisclosure">

    @if (Model.Requested.FloridaDocStampTax.HasValue)
    {
	    <p><super>**</super> @Html.Raw(string.Format(Resources.FAMessages.FloridaDocStampDisclosure, "/partial/florida-doc-stamp-info", Model.Offered.FloridaDocStampTax.Value))</p>
    }
	</div>
</section>

