@model LightStreamWeb.Models.ApplicationStatus.IFundingAccountModel
@{
    string ngModelName = "LoanAcceptance";
    if (ViewData["ngModelName"] != null)
    {
        ngModelName = ViewData["ngModelName"].ToString();
    }
}

    <div class="row ruled"  ng-form="Act_Funding_ActNmbrFlds">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-6 columns">
                    @if (Model.IsJoint)
                {
                <label>Authorized Signer(s) on Account</label>
                }
                else
                {
                <label>Authorized Signer on Account</label>
                }
                    @Html.NgDropDownList(
                    ngModel: ngModelName + ".FundingAccount.AuthorizedSigner",
                    name: "FundingAccountAuthorizedSigner",
                    ariaLabel: "Select Authorized Signer on Account",
                    items: Model.AuthorizedSignerList,
                    attributes: new { @ng_disabled = (Model.ApplicationType == FirstAgain.Domain.Lookups.FirstLook.ApplicationTypeLookup.ApplicationType.Individual).ToString().ToLower() })
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <label>9 Digit Institution Routing Number</label>
                    @LSForm.NumberString("FundingAccountRoutingNumber", ngModelName + ".FundingAccount.RoutingNumber", true, minLength: 9, maxLength: 9, attributes: "ls-routing-number")
                </div>
                <div class="medium-6 columns" ng-show="@(ngModelName).IsWire" ng-cloak="">
                    <div class="forminfo down">
                        <p>Please contact your financial institution and confirm the Wire instruction for your loan proceeds.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-6 columns">
                    <div>
                        <label>Account Number </label>
                        @LSForm.BankAccountNumber("FundingAccountNumber", ngModelName + ".FundingAccount.AccountNumber", true, formName: "Act_Funding_ActNmbrFlds", attributes: "autocomplete = 'off' ")
                    </div>
                    <div>
                        <label>Re-enter Account Number</label>
                        @LSForm.BankAccountNumber("ConfirmFundingAccountNumber", ngModelName + ".FundingAccount.ConfirmAccountNumber", true, formName: "Act_Funding_ActNmbrFlds", attributes: "ls-password-match='" + ngModelName + ".FundingAccount.AccountNumber'")
                    </div>
                    <div class="grid-x">
                        <div class="medium-3 cell">
                            <label>Account Type</label>
                        </div>
                        <div class="medium-9 cell">

                            <input type="radio" name="FundingAccountType" id="FundingAccountTypeChecking" ng-required="true" ng-model="@(ngModelName).FundingAccount.IsCheckingAccount" ng-value="true"><label for="FundingAccountTypeChecking">Checking</label>
                            <input type="radio" name="FundingAccountType" id="FundingAccountTypeSavings" ng-required="true" ng-model="@(ngModelName).FundingAccount.IsCheckingAccount" ng-value="false"><label for="FundingAccountTypeSavings">Savings</label>

                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="medium-6 cell">
                            <label>Is this a brokerage account? </label>
                        </div>
                        <div class="medium-6 cell">
                            <input type="radio" name="FundingAccountIsBrokerage" id="FundingAccountIsBrokerageYes" ng-required="true" ng-model="@(ngModelName).FundingAccountIsBrokerageAccount" ng-value="true"><label for="FundingAccountIsBrokerageYes">Yes</label>
                            <input type="radio" name="FundingAccountIsBrokerage" id="FundingAccountIsBrokerageNo" ng-required="true" ng-model="@(ngModelName).FundingAccountIsBrokerageAccount" ng-value="false"><label for="FundingAccountIsBrokerageNo">No</label>

                        </div>

                        <div class="medium-12 columns" ng-cloak ng-show="@(ngModelName).FundingAccountIsBrokerageAccount && @(ngModelName).FundingDate && @(ngModelName).IsWire">
                            <div class="forminfo">
                                <p>Please contact your financial institution and confirm the Wire instructions for your loan proceeds.</p>
                            </div>
                        </div>
                        <div class="medium-12 columns" ng-cloak ng-show="@(ngModelName).FundingAccountIsBrokerageAccount && @(ngModelName).FundingDate && !@(ngModelName).IsWire">
                            <div class="forminfo">
                                <p>Please ensure your brokerage account accepts ACH transactions.</p>
                            </div>
                        </div>
                    </div>

                    <!-- begin brokerage account madness -->
                    @{
                    string showBrokerageFields = ngModelName + ".FundingAccountIsBrokerageAccount && " + ngModelName + ".IsWire";
                    }
                    <article ng-if="@showBrokerageFields">
                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Beneficiary Bank Name </label>
                                @LSForm.BankName(ngModelName + ".BrokerageAccount.BeneficiaryBankName", "BeneficiaryBankName", showBrokerageFields)
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Beneficiary Routing Number</label>
                                @LSForm.NumberString("BeneficiaryRoutingNumber", ngModelName + ".BrokerageAccount.BeneficiaryRoutingNumber",
                                                true, minLength: 9, maxLength: 9, attributes: "ls-routing-number ng-required='" + showBrokerageFields + "'")
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Beneficiary Account Number </label>
                                @LSForm.BankAccountNumber("BeneficiaryAccountNumber", ngModelName + ".BrokerageAccount.BeneficiaryAccountNumber", false, formName: "Act_Funding_ActNmbrFlds", attributes: "ng-required='" + showBrokerageFields + "'")
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Re-Enter Beneficiary Account Number </label>
                                @LSForm.BankAccountNumber("BeneficiaryConfirmAccountNumber", ngModelName + ".BrokerageAccount.BeneficiaryConfirmAccountNumber", false, formName: "Act_Funding_ActNmbrFlds", attributes: "ng-required='" + showBrokerageFields + "' ls-password-match='" + ngModelName + ".BrokerageAccount.BeneficiaryAccountNumber'")
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Intermediary Bank Name </label>
                                @LSForm.BankName(ngModelName + ".BrokerageAccount.IntermediaryBankName", "IntermediaryBankName", showBrokerageFields)
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-12 columns">
                                <label>IntermediaryBank - Routing Number</label>
                                @LSForm.NumberString("IntermediaryRoutingNumber", ngModelName + ".BrokerageAccount.IntermediaryRoutingNumber",
                                                true, minLength: 9, maxLength: 9, attributes: "ls-routing-number ng-required='" + showBrokerageFields + "'")
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Intermediary Bank - Account Number (optional)</label>
                                @LSForm.BankAccountNumber("IntermediaryAccountNumber", ngModelName + ".BrokerageAccount.IntermediaryAccountNumber", false, formName: "Act_Funding_ActNmbrFlds", attributes: "ng-required='" + showBrokerageFields + "'")
                            </div>
                        </div>

                    </article>
                    <!-- end brokerage account section -->
                </div>
                <div class="medium-6 columns">
                    <img src="/content/images/check_routnum_info_large.gif" alt="Check Routing Number Graphic" class="hide-for-small-only">
                </div>
            </div>
        </div>
    </div>