@model LightStreamWeb.Models.ApplicationStatus.VerificationRequestsModel
@using FirstAgain.Common.Extensions
@using VerificationRequestStatus = FirstAgain.Domain.Lookups.FirstLook.VerificationRequestStatusLookup.VerificationRequestStatus;
@using VerificationType = FirstAgain.Domain.Lookups.FirstLook.VerificationTypeLookup.VerificationType;
@using ReceivedStatus = FirstAgain.Domain.SharedTypes.LoanApplication.ReceivedStatus;
@using FirstAgain.Domain.Lookups.FirstLook;

@if (Model.CustomerIdentification.IsRequired())
{
    Html.RenderPartial("~/Views/ApplicationStatus/VerificationRequests/_IdentityVerification.cshtml");
}

@if (Model.CollateralInformation.IsRequired())
{
    Html.RenderPartial("~/Views/ApplicationStatus/VerificationRequests/_CollateralInformation.cshtml");
}
@if (Model.SubjectPropertyAddress.IsRequired())
{
    <section class="row ruled" ng-controller="PropertyBeingImprovedController" id="ImprovedPropertyAddress" ng-init="setupPropertyInfo('@Model.SubjectPropertyAddress.ToJSON()')">
    <form method="post" action="#" name="LoanApplication" class="ng-invalid ng-invalid-max ng-invalid-required ng-dirty ng-invalid-pattern"
          ls-validate-on-submit="ls-validate-on-submit" error-property="LoanApp.ErrorMessage" novalidate="novalidate" style="outline: none;">
        <section ng-show="!LoanApp.Received">
            <section class="row">
                <div class="large-12 columns">
                    <h2 class="brand">@Model.GetPartNumber()Information for Property being Improved</h2>
                    <p><strong class="brand">Due by @Model.DueDate.ToString("D")</strong></p>
                    <p>
                        Please provide us with the information requested below.
                    </p>
                    <label aria-label="Click if your loan property is the the same as your resident address.">
                        <input type="checkbox" id="SubjectPropertySameAsResidentAddress"
                               ng-model="LoanApp.SubjectPropertySameAsResidentAddress" /> Same as resident address
                    </label>
                </div>
            </section>

            @Html.Partial("~/Views/Apply/Partials/_PropertyBeingImproved.cshtml")

            <div class="row">
                <div class="medium-6 columns">
                    <input type="button" class="button button-small" value="Continue" ng-disabled="!LoanApplication.$valid || Waiting" ng-click="savePropertyAddress()" />
                    <img src="@Model.CdnBaseUrl/ajax-loader.gif" ng-show="Waiting" alt="waiting" ng-cloak />
                </div>
            </div>
        </section>

        <section class="row" ng-cloak ng-show="LoanApp.Received">
            <div class="large-12 columns">
                <h2 class="brand">@Model.GetPartNumber(false)Information for Property being Improved</h2>
                <p><strong class="brand">Due by @Model.DueDate.ToString("D")</strong></p>
                <p>
                    <img class="status-icon-inline" src="/Content/images/icon-success.png">Property information has been received, thank you.
                </p>
                <p style="margin-left:2.0rem;">
                    <strong>Address of Property being Improved</strong><br />
                    {{LoanApp.AddressLine1}}<br />
                    {{LoanApp.AddressLine2}}<br />
                </p>
            </div>
        </section>

    </form>
    </section>
    }
    @if (Model.Documents.IsRequired())
    {
        <div id="VerificationList" ng-controller="VerificationUploadController">
            @if (!Model.AllDocumentsReceivedOrWaived)
            {
                <section class="row">
                    <div class="large-12 columns">
                        <h2 class="brand">@Model.GetPartNumber()Upload Documents</h2>
                        <p><strong class="brand">Due by @Model.DueDate.ToString("D")</strong></p>
                        @if (!Model.CurrentStatus.HasBeenFunded())
                        {
                            <p>
                                Please provide us with the @Model.Documents.PluralOrSingluarString() listed below by the date above, otherwise your loan application will not receive further consideration.
                                <strong>Please note: We cannot accept the requested documents via email.</strong>
                                If you have any questions regarding upload of the requested documents, please <a href="mailto:customerservice@lightstream.com">email us</a>. Thank you.
                            </p>
                        }
                    </div>
                </section>
                <section class="row" ng-cloak ng-show="AllDocumentsUploaded">
                    <div class="large-12 columns">
                        <p><img src="/Content/images/icon-success.png">Thank you, your documents have been received. If you need to send additional documents, please upload them below.</p>
                    </div>
                </section>
            }

            <!-- Document upload boxes -->
            @foreach (var block in Model.Documents.Items().Select((x, index) => new { x, index }).GroupBy(x => x.index / 4, y => y.x))
            {
                <section class="row">
                    @foreach (var item in block)
                    {
                        if (item.Status == VerificationRequestStatus.Received || item.IsItemReceiveWaivedAndSatisfiedWaived)
                        {
                            <div class="small-12 medium-3 columns">
                                <div class="boxed" title="@item.Caption">
                                    <h3 class="brand">@item.Caption.Truncate(75, true)</h3>
                                    <div class="status-icon" href=""><img src="/Content/images/icon-success.png"></div>
                                    @if (item.IsItemReceiveWaivedAndSatisfiedWaived)
                                    {
                                        <p class="success">Item no longer needed at this time, thank you.</p>
                                    }
                                    else
                                    {
                                        if (item.NumberOfDocuments > 1)
                                        {
                                            <p class="success">@item.NumberOfDocuments items received, thank you.</p>
                                        }
                                        else
                                        {
                                            <p class="success">Item received, thank you.</p>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="small-12 medium-3 columns">
                                <div class="boxed"
                                     ng-file-drop="onFileSelect($files, '@item.ID', '@item.VerificationType', '@item.ApplicantType', @Model.ApplicationId, @item.VerificationRequestId)"
                                     id="@item.ID"
                                     ng-file-drop-available="dropSupported=true"
                                     ng-file-drag-over-class="dragOverClass($event)"
                                     ng-file-drag-over-delay="100"
                                     ng-file-drop-is-directory="directoryDropped('@item.ID')">
                                    <h3 class="brand">@item.Caption.Truncate(75, true)</h3>
                                    @if (item.Status == VerificationRequestStatus.Resubmit)
                                    {
                                        <div class="status-icon" href=""><img src="/Content/images/icon_alert_small.png"></div>
                                        <span ng-show="isDocumentReady('@item.ID')">
                                            <p ng-show="dropSupported" ng-cloak>Drag and drop files or <span class="click-here">click here to select a file.</span></p>
                                            <p ng-show="!dropSupported" ng-cloak>Drag &amp; drop file upload is not supported. <span class="click-here">Click here to select a file.</span></p>
                                        </span>
                                    }
                                    else
                                    {
                                        <div class="status-icon" href=""><img src="/Content/images/icon-plus.png"></div>
                                        if (item.Status == VerificationRequestStatus.Submitted)
                                        {
                                            <span ng-show="isDocumentReady('@item.ID')">
                                                <p class="success">Uploaded Successfully</p>
                                                @if (item.NumberOfDocuments > 1)
                                                {
                                                    <p>@item.NumberOfDocuments files</p>
                                                }
                                                else
                                                {
                                                    <p>@item.FileNames[0]</p>
                                                }
                                                <p><span class="click-here">Click here to upload another.</span></p>
                                            </span>
                                        }
                                        else
                                        {
                                            <span ng-show="isDocumentReady('@item.ID')">
                                                <p ng-show="dropSupported" ng-cloak>Drag and drop files or <span class="click-here">click here to select a file.</span></p>
                                                <p ng-show="!dropSupported" ng-cloak>Drag &amp; drop file upload is not supported. <span class="click-here">Click here to select a file.</span></p>
                                            </span>
                                        }
                                    }
                                    <input type="file"
                                           name="files"
                                           ng-file-select="onFileSelect($files, '@item.ID', '@item.VerificationType', '@item.ApplicantType', @Model.ApplicationId, @item.VerificationRequestId)"
                                           data-multiple="true"
                                           title="@item.Caption"
                                           onclick="this.value = null"
                                           class="button"
                                           multiple="multiple"
                                           style="top: 0px; bottom: 0px; left: 0px; right: 0px; width: 100%; height:170px; opacity: 0; position: absolute;filter:alpha(opacity=0) !important;">

                                    <div class="upload-progress-bar-container" style="display:none;">
                                        <div class="upload-progress-bar"></div>
                                        <p class="showie8"><img src="@Model.CdnBaseUrl/ajax-loader.gif" alt="" />Uploading....</p>
                                    </div>
                                    <span data-status="success" style="display:none;">
                                        <p class="success">Uploaded Successfully</p>
                                        <p data-field="filename" data-names='@item.FileNamesAsJavaScriptArray'></p>
                                        <p><span class="click-here">Click here to upload another.</span></p>
                                    </span>
                                    <div ng-repeat="error in ErrorMessages | relevantErrors: '@item.ID'" ng-show="hasRelevantErrors('@item.ID')" ng-cloak>
                                        <span>
                                            <img src="/content/images/icon_alert_small.png" class="icon-alert">
                                            <p class="alert relative-width break">{{error.errorMessage}}</p>
                                        </span>
                                    </div>
                                </div>

                                @if (!string.IsNullOrWhiteSpace(item.Instruction))
                                {
                                    <div class="forminfo">
                                        <p class="smaller black">@Html.Raw(item.Instruction)</p>
                                    </div>
                                }
                            </div>
                        }
                    }
                    @for (var i = block.Count(); i < 4; i++)
                    {
                        <div class="small-6 medium-3 columns"></div>
                    }
                </section>
            }

            <!-- Acceptable file types hint -->
            <section class="row">
                <div class="large-12 columns">
                    <p>The following file formats are acceptable for uploading: Adobe Acrobat (PDF), JPEG, JPG, PNG, TIFF. Please note: we cannot accept file sizes that total more than 10 MB (10,000 KB). Any duplicate files uploaded will be discarded.</p>
                </div>
            </section>

            <!-- Fax alternative hint-->
            <section class="row">
                <div class="panel large-12 columns">
                    <div class="large-9 columns">
                    <h3 class="brand">Problems Uploading? Fax Your @Model.Documents.PluralOrSingluarString().ToTitleCase()</h3>
                    </div>
                    <div class="large-9 columns">
                        @if (Model.Documents.Items().Count() > 1)
                        {
                            <p>If your documents are not in one of the acceptable formats, please print a fax cover sheet and fax them to us.</p>
                        }
                        else
                        {
                            <p>If your document is not in one of the acceptable formats, please print a fax cover sheet and fax it to us.</p>
                        }
                    </div>

                    <div class="large-3 columns marginoffset">
                        <a href="/appstatus/faxcover" class="button button-medium" target="_new">Print Cover Sheet</a>
                    </div>
                </div>
            </section>

        </div>

    } @*@if (Model.DocumentUpload.IsRequired()) {*@


