@model LightStreamWeb.Models.ApplicationStatus.ApprovedPageModel

<div ng-controller="LoanAcceptanceController">
    <section class="row">
        <div class="large-12 columns">
            <div class="pb" style="padding-top:2em;">
                <div class="step first active" ng-class="{'active': isStepActive(1) }" ng-click="goToStep('/Review')"><a href="#/Review" id="ReviewLoanTermsProgressBar" class="loan-terms">Review Loan Terms</a></div>
                <!--
                -->
                <div class="step" ng-class="{'active': isStepActive(2), 'transition': isStepActive(1) }" ng-click="goToStep('/LoanAgreement')"><a href="#/LoanAgreement" id="ReviewAndSignLoanAgreementProgressBar" class="loan-agreement">Review and Sign Loan Agreement</a></div>
                <!--
                -->
                <div class="step" ng-class="{'active': isStepActive(3), 'transition': isStepActive(2) }" ng-click="goToStep('/Account')"><a href="#/Account" id="AccountSetupProgressBar" class="account-setup">Account Set Up</a></div>
                <!--
                -->
                <div class="step" ng-class="{'active': isStepActive(4), 'transition': isStepActive(3) }" ng-click="goToStep('/Verify')"><a href="#/Verify" id="VerificationProgressBar" class="verification">Verification</a></div>
                <!--
                -->
                <div class="end" ng-class="{'completed': isStepActive(4) }"><span></span></div>
            </div><!-- end progressbar -->

        </div>
    </section>

    @if (TempData["Alert"] != null)
    {
        <section class="row" id="TempAlert">
            <div class="medium-12 columns">
                <form>
                    <div class="forminfo">
                        <p>@TempData["Alert"]</p>
                    </div>
                </form>
            </div>
        </section>
    }
    <script type="text/ng-template" id="TabReview">
        @Html.Partial("Approved/_Review")
    </script>
    <script type="text/ng-template" id="TabLoanAgreement">
        @Html.Partial("Approved/_LoanAgreement")
    </script>
    <script type="text/ng-template" id="TabAccount">
        @Html.Partial("Approved/_Account")
    </script>
    <script type="text/ng-template" id="TabVerify">
        @Html.Partial("Approved/_Verification")
    </script>
    <script type="text/ng-template" id="TabChangeLoanTerms">
        @Html.Partial("Approved/_ChangeLoanTerms")
    </script>
    <script type="text/ng-template" id="TabConfirmChangeLoanTerms">
        @Html.Partial("Approved/_ConfirmChangeLoanTerms")
    </script>
    <script type="text/ng-template" id="TabProcessing">
        <section>
            <div class="row">
                <div class="medium-12 columns">
                    <p>Please wait a few moments while we validate your information. This could take up to one minute.</p>
                    <img src="/content/images/processing.gif">
                </div>
            </div>
        </section>
    </script>

    <ng-view autoscroll="true"></ng-view>

    <div ng-cloak ng-show="ErrorMessage" ng-bind-html="ErrorMessage" style="position:fixed;top:0;z-index:9999999;width:100%;background-color:red;color:white;text-align:center;padding:0.25em;">{{ErrorMessage}}</div>

    <div id="ConfirmSignOutPartialSignature" class="reveal small" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
        <h2>Loan Acceptance Process Incomplete</h2>

        <p class="disclaimer">Only one signature has been provided.  What would you like to do?</p>
        <a href="" class="button button-medium button-navy" data-close ng-click="provideSecondSignature()">Provide second signature now</a>
        <a href="" class="button button-medium button-navy" data-transition="true" ng-click="persistPartialSignature()">Return later with second signature</a>
    </div>
    <div id="ConfirmSignOut" class="reveal small" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
        <h2>Loan Acceptance Process Incomplete</h2>

        <p>You have not completed the Account Set Up process. If you sign out now, we will save your signed Loan Agreement, however you will have to begin the Account Set Up process over when you return.</p>
        <p>Do you still wish to sign out?</p>
        <a href="#" class="button button-medium button-navy" data-close>No</a>
        <a href="/signin/logout" class="button button-medium " data-transition="true">Yes</a>
    </div>

</div>

@section scripts {
    @Html.Partial("~/Views/ApplicationStatus/_AppStatusChangeNotification.cshtml", Model)

    <script type="text/javascript">
        $(function () {
            var MAX_TRIES = 30;
            var failCount = 0;
            var loadDeclineNotice = function () {
                if (failCount++ > MAX_TRIES) {
                    $('#WaitingForDeclineNotice').remove();
                    return;
                }

                if ($('#WaitingForDeclineNotice').length) {
                    setTimeout(function () {
                        $.post('/AppStatus/LoadDeclineNotice', function (result) {
                            if (result) {
                                $('#WaitingForDeclineNotice').remove();
                                $('#DeclineNoticeHasBeenFound').show();
                            } else {
                                loadDeclineNotice();
                            }
                        });
                    }, 1000);
                }

            };

            loadDeclineNotice();
        });

    </script>
}

