@model LightStreamWeb.Models.ApplicationStatus.CounterVPageModel
@using FirstAgain.Common.Extensions

<section class="row panel">
    <div class="medium-9 columns">
        <div class="row">
            <div class="medium-12 columns">
                <h2 class="brand">Review Counter Offer Terms</h2>

                <h3>@Model.ApplicantNamesText,</h3>

                @foreach (var statement in Model.Statements)
                {
                    <p>@Html.Raw(statement)</p>
                }
            </div>
        </div>
        @if (Model.AddCoApplicantIsEnabled())
        {
            <div class="row">
                <div class="medium-12 columns">
                    <p>@Html.Partial("~/Views/Apply/Partials/_AddCoApplicantButton.cshtml", null)</p>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <h2>Or</h2>

                    <p>If you would like to continue with your individual loan application, please review <a href="#OfferTermsTable">the below information</a> and click the accept button to continue to the funding process.</p>
                </div>
            </div>
        }

    </div>
    <div class="medium-3 columns statusdeclinded">
        <p>For the specific reasons we declined your original request, please read the decline notice below.</p>
        <a href="#" data-href="/enotices/modal" data-popup="true" data-suppress="CreditScoreDisclosureHtml" class="button button-medium button-navy button-small first">View Your Decline Notice</a>
    </div>

    @if (!string.IsNullOrEmpty(Model.VerificationRequests.CustomerInstruction))
    {
        <div class="medium-12 columns">
            <p class="customer-note">@Model.VerificationRequests.CustomerInstruction</p>
        </div>
    }
</section>

<div id="OfferTermsTable">
    @Html.Partial("_CounterOfferTable", Model.Counter)
</div>


@if (Model.VerificationRequests.Any())
{
    Html.RenderPartial("_VerificationRequests", Model.VerificationRequests);
}

@if (Model.CanRejectOffer)
{
    <section class="row ruled">
        <div class="large-9 columns">
            <h2 class="brand">Reject Offer</h2>
            <p>If you choose not to accept the loan terms offered, you may click the button below.</p>

            @Html.Partial("_RejectCounterButton")

            <img src="@Model.CdnBaseUrl/ajax-loader.gif" id="LoadingImage" alt="" style="display:none;" />
        </div>
    </section>
}

@section scripts {
    <script type="text/javascript">
        (function () {
            // SiteCatalyst
            SC.appStatus.counterV();

            // loading / transition image
            $('a[data-transition=true]').on('click', function () {
                $('a[data-transition=true]').click(false);
                $('a[data-transition=true]').css('opacity', '0.75');
                $('#LoadingImage').show();
            });

        });
    </script>
    @Html.Partial("~/Views/ApplicationStatus/_AppStatusChangeNotification.cshtml", Model)
}

