@model LightStreamWeb.Models.ApplicationStatus.ExpiredPageModel

<section class="row panel introrow">
    <div class="medium-12 columns">
        <h2 class="brand">Expired Loan Application</h2>
    </div>

    <div class="medium-12 columns">
        <h3>@Model.ApplicantNamesText,</h3>        

        <p>
            Your @Model.ProductName has expired. 
            @if (!@Model.ApplicationResultedFromAddCoApplicant()) 
            {
                @:You may submit a new application by signing out and clicking Apply Now. 
                @:If you have any questions, please email us at <a href="mailto:@Model.CustomerServiceEmail">@Model.CustomerServiceEmail</a>.                                                                                                                                
            }
        </p>

        <p>@Model.NextStepsMessage</p>

        <p>Thank you.</p>

    </div>

</section>

@section scripts {
    <script type="text/javascript">

    @Html.Partial("~/Views/ApplicationStatus/_AppStatusChangeNotification.cshtml", Model)
    </script>
}



