@model LightStreamWeb.Models.ApplicationStatus.FaxCoverPageModel
@{
    Layout = null;
}
<!doctype html> 
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LightStream Fax Coversheet</title>
    <style type="text/css">
        * {
            text-align: center; 
            font-family: Arial, Helvetica, sans-serif; 
            font-size: 10pt;
        }
        td {
            text-align:left;
        }
    </style>
</head>
<body>
<center>
<form>
	<table border="0" cellpadding="0" cellspacing="0" style="width: 700px; margin:auto;">
		<tr>
			<td>
				<center><img src="/AppStatus/Barcode?number=@Model.BarcodeValue"</center>
			</td>
		</tr>
		<tr>
			<td>
				<center>@Model.BarcodeValue</center>
			</td>
		</tr>
		<tr>
			<td style="padding-bottom: 5px;">
                <img src="/content/images/logo_tm.png" alt="LightStream" />	<br />
			</td>
		</tr>
		
		<tr>
			<td  style="text-align: left;" valign="top" >
			    <pre style="display: inline;">@FirstAgain.Domain.Common.BusinessConstants.Instance.CompanyAddress</pre>
			</td>
		</tr>
		<tr >
			<td align="center">
				<hr style="border: black thin double;" />
				<span style="font-weight: bold; text-align: center;">LIGHTSTREAM FAX COVERSHEET</span>	
				<hr style="border: black thin double;" />
			</td>
		</tr>
		<tr>
			<td>
				<table border="0" cellpadding="10" cellspacing="0" width="100%">
					<tr>
						<td style="border-bottom: black 1px solid; width: 50%;">
							To:&nbsp;LightStream Customer Service</td>
						<td style="border-bottom: black 1px solid; width: 50%;">
							From: @Model.ApplicantNamesText</td>

					</tr>
					<tr>
						<td style="border-bottom: black 1px solid; width: 50%;">
							Date: @DateTime.Now.ToString("d")</td>
						<td style="border-bottom: black 1px solid; width: 50%;">
							Total Number Pages Including Cover:</td>

					</tr>
					<tr>
						<td style="border-bottom: black 1px solid; width: 50%;">
							Regarding Account Number:&nbsp; @Model.AccountNumber</td>
						<td style="border-bottom: black 1px solid; width: 50%;">
							Fax Number: @FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberInboundFax </td>

					</tr>
				</table>			
			</td>
		</tr>
		<tr>
			<td>
				<table id="documents" cellpadding="4" cellspacing="4" width="650px" border="0">
					<tr>
					<td valign="top" style="text-align: left" colspan="3">
						<br />
						<br />
						Please fax the following document(s), along with this coversheet, to @FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberInboundFax. Thank you!</td>
					</tr>
                    @foreach (var document in Model.Documents)
                    {
						<tr style="vertical-align:top">
						<td style="width:10px">&#8226;</td>
						<td style="width:200px">@document.Caption</td>
						<td style="width:440px;padding-left:40px" >@document.Definition</td>
						</tr>
                    }

					<tr>
						<td colspan="3">
							<br />
							<br />
							<span style="font-weight: bold;">Customer Remarks:</span>
						</td>
					</tr>						
				</table>				
					
			</td>
		</tr>					
	</table>

    </form>
</center>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
@Html.RenderScriptTag("~/bundles/scripts-marketing.js")
<script type="text/javascript">
    SC.prefunding.faxCoverSheet();
</script>
</body>
</html>