@model LightStreamWeb.Models.ApplicationStatus.PendingPageModel

<section class="row panel introrow">
    <div class="medium-12 columns">
        <h2 class="brand">@Model.Heading</h2>
    </div>
    <div class="medium-12 columns">
        <h3>@Model.ApplicantNamesText,</h3>

        @foreach (var statement in Model.Statements)
        {
            <p>@Html.Raw(statement)</p>
        }

        @if (Model.AddCoApplicantIsEnabled())
        {
            @Html.Partial("~/Views/Apply/Partials/_AddCoApplicantButton.cshtml", null)
        }

        <p id="RedirectStatus"></p>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
    (function () {
        // SiteCatalyst
        SC.prefunding.pending('@Model.CurrentStatus');


        }());
    </script>
    @Html.Partial("~/Views/ApplicationStatus/_AppStatusChangeNotification.cshtml", Model)
}

