@model LightStreamWeb.Models.ApplicationStatus.WithdrawnPageModel

<section class="row panel introrow">
    <div class="medium-12 columns">
        <h1>Withdrawn Loan Application</h1>
    </div>
    <div class="medium-12 columns">
        <h3>@Model.ApplicantNamesText,</h3>        

        <p>
            <span>
                As requested, your @Model.ProductName was withdrawn on @Model.WithdrawDate.ToString("MMMM d, yyyy").
                If you would like to be considered for a loan, you may submit a new application by signing out and clicking Apply Now.
            </span>  
            @if (!@Model.ApplicationResultedFromAddCoApplicant()) 
            {
                @:If you have any questions, please email us at <a href="mailto:@Model.CustomerServiceEmail">@Model.CustomerServiceEmail</a>.                                                                                                                                
            }
        </p>

        <p>@Model.NextStepsMessage</p>

        <p>Thank you.</p>

    </div>
</section>
