@model FirstAgain.Domain.SharedTypes.ContentManagement.SiteAsset

@Styles.Render("~/bundles/css-responsive-main")

<div style="padding: 30px">    
    @if (Model.Image.CMSPathAndFileExtension.ToLower().EndsWith(".pdf"))
    {
        <a href="@CMSContentHelper.ToImageUrl(Model.Image)" class="button"
           style="border-radius: 4px !important">Click to download @Model.Name</a>
    }
    else
    {
        <h2>@Model.Name</h2><br />
        <img src="@CMSContentHelper.ToImageUrl(Model.Image)" />
    }
    <br />
    <br />

    @{
        string fullUrl = "";
        try
        {
            var url = HttpContext.Current.Request.Url.ToString();
            var http = url.Split(new string[] { "//" }, StringSplitOptions.RemoveEmptyEntries);
            var domain = http[1].Split('/')[0];
            fullUrl = string.Format("{0}//{1}{2}", http[0], domain, Model.Image.ToImageUrl());
        }
        catch (Exception ex)
        {
            fullUrl = "Error: " + ex.Message;
        }
    }
    
    <h3>URL:</h3>
    <input type="text" value="@fullUrl")"  
           style="font-size: larger; width: 100%; padding: 10px; margin-top: 10px; border-radius: 4px"
           onClick="this.select();"/>    
</div>

