@model LightStreamWeb.Models.SignIn.SignInModel



@if (TempData["Timeout"] != null)
{
    <img src="/content/images/icon_alert_small.png" class="icon-alert"> <p style="font-weight: bold; color: #e47600">@TempData["Timeout"]</p>
}

<div class="show-in-process"></div>

@if (Model.DisplayRecoveredUserIdText)
{
    <p>Your user ID is <b>@Model.UserId</b>. Please remember and secure this information. Thank you.</p>
}

    <form class="signin" action="/customer-sign-in" name="SignInForm" novalidate method="post" ng-controller="SignInController" ng-init="init('@Model.ToJSON()')" ls-validate-on-submit>

        @Html.ValidationSummary()
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="medium-10 medium-push-1 columns">
                @if (!Model.IsTempUserId)
                {
                    <label class="left" aria-hidden="true">User ID</label>
                    <input type="text" id="UserId" name="UserId" ng-model="UserId" ng-readonly="IsTempUserId" ng-style="{background: UserIdBackground}"
                           ls-track-visited maxlength="20" required ls-restrict-to-pattern ng-pattern="/@("[!&$,-._@A-Za-z0-9]")/" autocomplete="off" aria-label="Enter your user ID." >
                    <a href="/customer-sign-in/recoveruserid" class="right hide-in-process" aria-label="Click here if you forgot your user ID.">forgot user ID?</a>
                }
                else
                {
                    <label class="left" aria-hidden="true">Temporary User ID</label>
                    <input type="text" id="UserId" name="UserId" class="sign-in-input" ng-model="UserId" ng-readonly="IsTempUserId" ng-style="{background: UserIdBackground}"
                           ls-track-visited maxlength="20" required ls-restrict-to-pattern ng-pattern="/@("[!&$,-._@A-Za-z0-9]")/" autocomplete="off" aria-label="Your temporary user ID is {{UserId.split('').join('. ')}}.">
                }

                <div class="formalert hide-no-js" style="float: left" tabindex="0" ng-show="SignInForm.UserId.$dirty && SignInForm.UserId.$hasVisited && !SignInForm.UserId.$valid" ng-cloak>
                    <p>@Resources.FAMessages.SignInUserId_Val</p>
                </div>

            </div>
        </div>

        <div class="row" style="padding: 0 0 1em 0">
            <div class="medium-10 medium-push-1 columns">

                @if (!Model.IsTempUserId)
                {
                    <label class="left" aria-hidden="true">Password</label>
                    if (!Model.DisplayPasswordSSNPrompt)
                    {
                        <input type="password" id="UserPassword" name="UserPassword" ng-model="UserPassword" ls-track-visited
                               maxlength="20" required autocomplete="off" aria-label="Enter your password.">
                    }
                    else
                    {
                        <input type="password" id="UserPassword" name="UserPassword" ng-model="UserPassword" ls-track-visited
                               maxlength="20" required autocomplete="off" aria-label="Enter your password. Your password is the last 4 digits of your Social Security Number." placeholder="(Last 4 digits of your Social Security Number)">
                    }
                    <a href="/customer-sign-in/forgotpassword" class="right hide-in-process" aria-label="Click here if you forgot your password.">forgot password?</a>
                }
                else
                {
                    <label class="left" aria-hidden="true">Password</label>
                    <input type="password" id="UserPassword" name="UserPassword" class="sign-in-input" ng-model="UserPassword" ls-track-visited
                           maxlength="20" required autocomplete="off" aria-label="Enter your password. Your password is the last 4 digits of your Social Security Number." placeholder="(Last 4 digits of your Social Security Number)">
                }

                <div class="formalert hide-no-js" style="float: left" tabindex="0" ng-show="SignInForm.UserPassword.$dirty && SignInForm.UserPassword.$hasVisited && !SignInForm.UserPassword.$valid" ng-cloak>
                    <p>@Resources.FAMessages.SignInPassword_Val</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-10 medium-push-1 columns">
                <input type="hidden" name="InProcess" value="@Model.InProcess.ToString()" />
                @if (Model.IsTempUserId)
                {
                    <input type="submit" value="CONTINUE" class="button long-button" id="SignInSubmit"/>
                }
                else
                {
                <input type="submit" value="Submit" class="button" id="SignInSubmit"/>
                }
            </div>
        </div>
    </form>

@{ Html.RegisterScriptFile("~/Scripts/app/sign-in-controller.js"); }