@model LightStreamWeb.Models.Apply.BaseInProcessAppPageModel

<section class="row">
    <div class="medium-12 columns">
        @Html.Partial("~/Views/Partials/_TempDataAlert.cshtml")

        @Html.ValidationSummary()

        <form name="ElectronicDisclosureForm" action="@Url.Action("Index")" method="post" novalidate ls-validate-on-submit>
            @Html.AntiForgeryToken()

        <div class="row">
            <div class="medium-12 columns">
                <h1>Welcome, @Model.ApplicantNamesText</h1>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <p>Welcome to LightStream!  We  <a href="/customer-guarantee" data-popup="true">guarantee</a> (and back it with $100) that this will be your best loan experience ever.</p>
                <p>Please take a moment to complete the following steps:</p>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <ol>
                    <li><span>Agreement to do business with us electronically, you'll love our paperless process!</span></li>
                    <li><span>Create a new Username and Password for your online account and provide some basic account security information for your protection.</span></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <p>(Please also note, you will be requested to provide a valid Visa or MasterCard credit card for verification purposes prior to receiving your loan proceeds.)</p>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <h2 class="steps"><span>Step 1.</span> Electronic Disclosures</h2>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns panel">
                <p>Since our loan process is entirely online, you must (1) acknowledge receipt of our 
                <a href="/partial/cms/electronic-disclosures/" data-popup="true">Statement on the Use of Electronic Records</a> 
                (you may click to review), and (2) agree to receive electronic records and to use electronic signatures for signing your loan agreement with us.</p>

                <label class="cms checkbox" >
                    <input type="checkbox" ng-model="ElectronicDisclosures" required name="ElectronicDisclosures" value="true" />
                        @Html.Raw(Model.ApplyPage.Acknowledgement)
                </label>

                <div class="formalert hide-no-js" ng-show="ElectronicDisclosureForm.ElectronicDisclosures.$dirty && !ElectronicDisclosures" ng-cloak>	
                    <p>
                        In order to apply for a loan with LightStream, you need to check the box above, acknowledging receipt of our 
                        <a href="/partial/cms/electronic-disclosures" data-popup="true">Statement on the Use of Electronic Records</a>
                        and agree to receive electronic records and to use electronic signatures in any loan transaction. Thank you.
                    </p>
                </div>

            </div>
        </div>

        <div class="row ruled">
            <div class="medium-12 columns">
                <input type="submit" id="Continue" class="button" value="Submit" />
            </div>            
        </div>
        </form>
    </div>
</section>