@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Base.cshtml";
}

<section class="row ruled">

    @if (TempData["Alert"] != null)
    {
        <div class="panel" id="alertPanel" role="alert" tabindex="0">
            @TempData["Alert"]
        </div>
    }

	<div class="large-10 columns medium-push-1">
	    <h1>SunTrust Teammate Sign In</h1>

        <form class="signin" action="@Url.Action("Index")" name="SignInForm" novalidate method="post" ng-controller="SignInController" ls-validate-on-submit>
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
        <div class="row">
	        <div class="medium-6 columns medium-push-1">
	            <label>User ID</label>
                <input type="text" id="UserId" name="UserId" ng-model="UserId" ls-track-visited maxlength="20" required ls-restrict-to-pattern ng-pattern="/@("[!&$,-._@A-Za-z0-9]")/" autocomplete="off" autofocus="autofocus" tabindex="0">    

                <div tabindex="0" class="formalert hide-no-js" ng-cloak ng-show="SignInForm.UserId.$hasVisited && !SignInForm.UserId.$valid">	
                    <p>@Resources.FAMessages.SignInUserId_Val</p>
                </div>
	        </div>
        </div>
        <div class="row">
	        <div class="medium-6 columns medium-push-1">
	            <label>Password</label>
                <input type="password" id="UserPassword" name="UserPassword" ng-model="UserPassword" ls-track-visited maxlength="20" required autocomplete="off" tabindex="0">    
                <div tabindex="0" class="formalert hide-no-js" ng-cloak ng-show="SignInForm.UserPassword.$hasVisited && !SignInForm.UserPassword.$valid">	
                    <p>@Resources.FAMessages.SignInPassword_Val</p>
                </div>
	        </div>
        </div>
        <div class="row">
	        <div class="medium-6 columns medium-push-1">
	            <input id="SubmitTeammateLogin" type="submit" value="Submit" class="button" tabindex="0" />
	        </div>
        </div>
        </form>
    </div>
</section>


@section scripts {
    <script type="text/javascript">
        angular.module('LightStreamApp')
            .controller('SignInController', function ($scope) { });

        $(function () {
            if ($("#alertPanel").length) {
                setTimeout(function () { $("#alertPanel").focus(); }, 800);
            }
            else {
                $('#UserId').focus();
            }
        });

        //web component is being set in the navbar but suntrust pages do not want the legal banner to show
        document.addEventListener("DOMContentLoaded", () => {
            if (document.getElementsByClassName("web-component")[0]) {
                var el = document.getElementsByClassName('web-component')[0];
                el.remove();
            }
        });

    </script>
}