@model LightStreamWeb.Shared.Rates.DisplayRateModel

<p id="AprDisclosure">
    Payment example: Monthly payments for a @Model.SampleAmountMin.ToString("$#,##0") loan at @Model.Rate.ToString("0.00##%") APR with a term of @Model.SampleTermCaption would result in @Model.SampleNumberOfPayments monthly payments of @Model.SampleMonthlyPayment.ToString("$#,##0.00").
    <br /><br />
    Maximum APR for a LightStream loan is @Model.OverallMaxRate.ToString("0.00##%").
</p>