@model LightStreamWeb.Models.Components.TestimonialModel

<div class="widget widget-customer-comments-wide row">
    <div class="widget-header">
        <h2 class="hide-for-small-only" tabindex="0">
            Unsolicited customer comments
        </h2>
        <h2 class="show-for-small-only">
            The LightStream Experience
        </h2>
    </div>
    <div class="widget-body">
        <div class="large-4 medium-5 small-12 columns customer-comments-image">
            <a href="/customer-testimonials" tabindex="-1" aria-hidden="true" hidden>
                <img src="@Model.TestimonialGraphicUrl" class="cms" alt="What our customers are saying about LightStream" tabindex="0" onclick="$(this).parent().click();" />
            </a>
        </div>
        <div class="customer-comments-title">
            <h3 class="show-for-small-only">
                Unsolicited customer comments
            </h3>
        </div>

        <div class="large-8 medium-7 small-12 columns customer-comments-content">
            <div id="@Model.OwlCarouselId" class="owl-carousel owl-theme">

                @foreach (var comment in Model.Comments)
            {
                    <div class="cms" >
                        <p class="characteristicDescription">@ADAHelper.PreventMultipleBRsRepeatingBlank(comment.Comment)</p>
                        <div class="customerLocation">—@comment.CustomerName @(String.IsNullOrEmpty(@comment.FromLocation) ? "" : String.Format(" from {0}", comment.FromLocation))</div>
                    </div>
                }
            </div>
            <div class="readmore-container">
                <a href="/customer-testimonials" class="readmore">Read more...</a>
            </div>
        </div>

    </div>
</div>