@model LightStreamWeb.Models.PublicSite.LandingPageModel

@if(Model.Content.Infographic != null)
{
<div class="row infographic-container">
    <img class="infographic-desktop" 
         src="@Model.Content.Infographic.InfographicImageDesktop.ToImageUrl()" 
         alt="@Model.Content.Infographic.InfographicImageDesktop.Alt"
         tabindex="-1"
         aria-hidden="true"
         role="presentation" />
    <div tabindex="0" class="screen-reader-only">@Html.Raw(Model.Content.Infographic.InfographicDescription.Replace("\r\n", "<br />"))</div>


    <img class="infographic-mobile" 
         src="@Model.Content.Infographic.InfographicImageMobile.ToImageUrl()" 
         alt="@Model.Content.Infographic.InfographicImageMobile.Alt"
         longdesc="@Model.Content.Infographic.InfographicDescription" />
</div>
}

