@model LightStreamWeb.Models.Components.LandingPageLinksModel

<div class="medium-12 columns">
    <h2 class="cms" tabindex="0">@Model.FooterText</h2>

    <ul class="small-12 medium-up-5 large-up-5 accordian">
        <li class="column column-block home_list1">
            <ul class="toggle">
                <li class="title" tabindex="0">Vehicle Loans</li>
                @foreach (var l in Model.VehicleLinks)
                {
                    <li><a href="/@l.QueryParameterValue" class="cms">@l.DisplayText</a></li>
                }
            </ul>
        </li>

        <li class="column column-block home_list2">
            <ul class="toggle">
                <li class="title" tabindex="0">Home Improvement Loans</li>
                @foreach (var l in Model.HomeImprovementLinks)
                {
                    <li><a href="/@l.QueryParameterValue" class="cms">@l.DisplayText</a></li>
                }
            </ul>
        </li>

        <li class="column column-block home_list3">
            <ul class="toggle">
                <li class="title" tabindex="0">Recreation Loans</li>
                @foreach (var l in Model.RecreationLinks)
                {
                    <li><a href="/@l.QueryParameterValue" class="cms">@l.DisplayText</a></li>
                }
            </ul>
        </li>

        <li class="column column-block home_list4">
            <ul class="toggle">
                <li class="title" tabindex="0">Family Life</li>
                @foreach (var l in Model.FamilyLinks)
                {
                    <li><a href="/@l.QueryParameterValue" class="cms">@l.DisplayText</a></li>
                }
            </ul>
        </li>

        <li class="column column-block home_list5">
            <ul class="toggle">
                <li class="title" tabindex="0"><em>and Anything Else!</em></li>
                @foreach (var l in Model.OtherLinks)
                {
                    <li><a href="/@l.QueryParameterValue" class="cms">@l.DisplayText</a></li>
                }
                <li><em tabindex="0">...or other financing needs!</em></li>
            </ul>
        </li>
    </ul>
</div>