@model LightStreamWeb.Models.Components.MediaCoverageModel

<div class="thatBlueTho" tabindex="0">
    <img class="large-view experienceImage cms" src="@Model.MediaGraphicUrl" alt="LightStream in the news" role="img">
    <img class="mobile-view experienceImage cms" src="@Model.MobileMediaGraphicUrl" alt="LightStream in the news" role="img">
</div>
<h3 class="thatBlueFontTho characteristicTitle" tabindex="0">Media coverage</h3>
<div id="@Model.OwlCarouselId" class="owl-carousel  owl-theme cms" aria-hidden="true">
    @foreach (var mediaCoverage in Model.MediaCoverages)
    {
        <div class="cms">
            <p class="characteristicDescription">@ADAHelper.PreventMultipleBRsRepeatingBlank(@mediaCoverage.Comment)</p>
            <div class="customerLocation">— @mediaCoverage.CustomerName @(String.IsNullOrEmpty(@mediaCoverage.FromLocation) ? "" : String.Format(" from {0}", mediaCoverage.FromLocation))</div>
        </div>
    }
</div>

<ul class="screen-reader-only">
    @{int i = 0;}
    @foreach (var mediaCoverage in Model.MediaCoverages)
    {
        i++;
    <li>
        <div>Comment @i of @Model.MediaCoverages.Count()</div>
        <p>@ADAHelper.PreventMultipleBRsRepeatingBlank(@mediaCoverage.Comment)</p>
        <div>— @mediaCoverage.CustomerName @(String.IsNullOrEmpty(@mediaCoverage.FromLocation) ? "" : String.Format(" from {0}", mediaCoverage.FromLocation))</div>
    </li>
    }
</ul>