@model LightStreamWeb.Models.PublicSite.LandingPageModel

@{
    var ns = Model.Content.NextStep;
}

@if (ns != null)
{
    <div class="next-step-component">
        <div class="row">
            <div class="columns large-12">
                <img src="@ns.NextStepImageDesktop.ToImageUrl()"
                     alt="@ns.NextStepImageDesktop.Alt"
                     class="ns-desktop-image"
                     tabindex="0" />
                <img src="@ns.NextStepImageMobile.ToImageUrl()"
                     alt="@ns.NextStepImageMobile.Alt"
                     class="ns-mobile-image"
                     tabindex="0" />
                <div class="next-step-banner-content">
                    <h1 tabindex="0">@Html.Raw(ns.NextStepTitle)</h1>
                    @if (!string.IsNullOrWhiteSpace(ns.NextStepSubTitle))
                    {
                        <h2 tabindex="0">@Html.Raw(ns.NextStepSubTitle)</h2>
                    }
                    <a class="btn button" href="@ns.NextStepButtonURL" ls-jump-page onclick="SC.main.banner.lendingUncomplicated()" tabindex="0">@ns.NextStepButtonTitle</a>
                </div>
            </div>
        </div>
    </div>
}
