@using FirstAgain.Domain.Common
@using FirstAgain.Domain.Lookups.FirstLook
@using FirstAgain.Domain.SharedTypes.ContentManagement;
@model LightStreamWeb.Models.Components.RateCalculatorModel

@{
    Html.RegisterDeferredStyleFile("~/bundles/styles-rate-calculator");
    Html.RegisterScriptFile("~/bundles/scripts-rate-calculator");
}

<div ng-controller="RateCalculator" ng-init="init('@Model.PurposeOfLoan', '@Model.Discount.ToString()', @Model.IsSuntrustApplication.ToString().ToLower(), @Json.Encode(Model.CustomRateDisclosureContent), '@Model.TypeOfCalculator')" id="rates">

    <div class="row" id="aprRow">
        <div class="small-8 columns">
            <h1 tabindex="0" aria-label="Annual Percentage Rates (APR) for {{rates.RatesDate}}">Annual Percentage Rates (APR)</h1>
        </div>
        <div class="small-4 columns text-right" ng-cloak>
            <time>{{rates.RatesDate}}</time>
        </div>
    </div>

    <div class="row ruled panel">
        <div class="columns medium-12">
            <form action="@(Url.Action("Apply") ?? "/apply")" method="POST" class="loancalc"
                  novalidate ng-submit="apply()" name="LoanCalculator" id="LoanCalculator">
                <div class="input-values medium-8 columns">
                    @if (Model.DisplayItsEasyToFindYourRate)
                    {
                        <div class="thatBlueFontTho sectionHeader" id="itsEasyToFindYourRate" tabindex="0">
                            It's easy to find your rate.
                        </div>
                    }
                    <div class="input-values-row row">
                        <div data-field="LoanPurpose" class="medium-12 columns">
                            @if (Model.TypeOfCalculator == LandingPageContent.RateTableCalculatorType.Auto)
                            {
                                <label for="PurposeOfLoan">Auto Loan Central</label>
                            }
                            else
                            {
                                <label for="PurposeOfLoan">For Rates, Select Loan Purpose</label>
                            }
                            <select ng-cloak class="ng-splash"></select>
                            <select ng-model="PurposeOfLoan" id="PurposeOfLoan" ng-cloak="">
                                <option ng-repeat="lp in @(Model.TypeOfCalculator == @LandingPageContent.RateTableCalculatorType.Auto ? "autoLoanPurposes()" : "rates.LoanPurposes")" value="{{lp.Value}}" title="{{lp.Caption}}"
                                        ng-selected="lp.Value == rates.PurposeOfLoan">
                                    {{lp.Value == 'NotSelected' ? TypeOfCalculator == 'Auto' ? 'Select an Auto Loan' : '' : lp.Caption}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="input-values-row row">

                        <div data-field="LoanAmount" class="medium-4 columns">
                            <label>Loan Amount</label>
                            @LSForm.Currency(nameAndId: "LoanAmount",
ngModel: "LoanAmount",
ngMin: "{{rates.MinLoanAmount}}",
ngMax: "{{rates.MaxLoanAmount}}",
maxLength: 11,
required: false,
ariaLabel: "Please enter an amount between {{rates.MinLoanAmountHint | currency}} and {{rates.MaxLoanAmountHint | currency}}.")
                            <div class="formalert" ng-cloak ng-show='!LoanCalculator.$navigating &&
                                                             LoanCalculator.LoanAmount.$hasVisited &&
                                                             (LoanCalculator.LoanAmount.$error.min || LoanCalculator.LoanAmount.$error.max)' tabindex="0">
                                <p>Please enter an amount between {{rates.MinLoanAmountHint | currency}} and {{rates.MaxLoanAmountHint | currency}}.</p>
                            </div>

                            <div class="forminfo aside down" tabindex="0" ng-show="PurposeOfLoan == 'CreditCardConsolidation' && LoanAmount > 50000" ng-cloak="">
                                <p>Please note: Credit Card/Debt Consolidation loan amounts greater than $50,000 are only available for <a href="/partial/cms/excellent-credit" data-popup="true">excellent-credit applicants.</a></p>
                            </div>
                        </div>


                        <div data-field="LoanTerm" class="medium-4 columns">
                            <label aria-label="Enter your loan term in number of months.">Loan Term (months)<sup>*</sup></label>
                            <input role="textbox" type="number" ls-numbers-only="" ls-track-visited="" name="LoanTermMonths" id="LoanTermMonths"
                                   ng-model="LoanTermMonths" min="{{rates.MinTerm}}" max="{{rates.MaxTerm}}" minlength="2" maxlength="3" pattern="\d*"
                                   aria-label="Enter your loan term in number of months.">
                            <div class="formalert ng-hide" ng-cloak ng-show="!LoanCalculator.LoanTermMonths.$pristine &&
                                                                    !LoanCalculator.$navigating &&
                                                                    LoanCalculator.LoanTermMonths.$hasVisited &&
                                                                    (LoanCalculator.LoanTermMonths.$error.min || LoanCalculator.LoanTermMonths.$error.max)" tabindex="0">
                                <p class="ng-binding" aria-label="Please enter a term between {{rates.MinTerm}} and {{rates.MaxTerm}} months.">Please enter a term between {{rates.MinTerm}} and {{rates.MaxTerm}} months</p>
                            </div>
                            @* <div class="forminfo aside down" tabindex="0" ng-show="PurposeOfLoan == 'HomeImprovement' && LoanAmount >= 25000 &&  LoanTermMonths > 84 &&  LoanTermMonths <= rates.MaxTerm" ng-cloak="">
                                    <p>Please note: Home Improvement terms between 85 and 144 months are only available for <a href="/partial/cms/excellent-credit" data-popup="true">excellent credit applicants.</a></p><br />
                                </div>*@
                             <div class="forminfo aside down" tabindex="0" ng-show="PurposeOfLoan == 'CreditCardConsolidation' && LoanAmount < 25000  && LoanAmount > 0 && LoanTermMonths > 60" ng-cloak="">
                                 <p>Please note: Credit Card/Debt Consolidation loan terms greater than 60 months with a loan amount of less than $25,000 are only available for <a href="/partial/cms/excellent-credit" data-popup="true">excellent-credit applicants.</a></p>
                             </div>
                        </div>
                        <div data-field="PaymentMethod" class="medium-4 columns">
                            <label for="PaymentMethod">Payment Method</label>
                            @(Html.DropDownValueList<PaymentTypeLookup.PaymentType>("PaymentMethod",
                                                    "Select payment method. If invoice is chosen your rate will be 0.50 points higher than AutoPay.  Select AutoPay or Invoice.",
                                                    PaymentTypeLookup.BindingSource,
                                                    PaymentTypeLookup.PaymentType.AutoPay,
                                                    PaymentTypeLookup.PaymentType.NotSelected,
                                                    false))
                        </div>

                    </div>
                </div>

                <div class="calculated_values  medium-4 columns">
                    <p class="calculated" tabindex="0">
                        Monthly Payment:<br />
                        <span ng-show="rates.EstimatedMonthlyPayment" ng-cloak="">
                            {{rates.EstimatedMonthlyPayment.Min | currency }}<span ng-show="rates.EstimatedMonthlyPayment.Max > rates.EstimatedMonthlyPayment.Min"> to {{rates.EstimatedMonthlyPayment.Max | currency }}</span>
                        </span>
                    </p>

                    <p class="calculated" style="padding-top: 8px" tabindex="0">
                        Interest rate / APR:<br />
                        <span ng-show="rates.Rate" ng-cloak="">
                            {{rates.Rate.Min * 100 | number:2 }}%<span ng-show="rates.Rate.Max > rates.Rate.Min">  to {{rates.Rate.Max * 100 | number:2 }}%</span>
                        </span>
                    <p ng-cloak ng-show="rates.Rate && rates.Discount == 'SuntrustPremierBanking' &&
                       rates.PaymentMethod == 'Invoice' " class="legalcopy" tabindex="0">Rates quoted with Premier Banking Discount</p>
                    <p class="legalcopy" tabindex="0" id="applyAnchor">(Exact rate within this range is determined by credit profile)</p>
                    <input type="submit" class="button" value="Apply" ng-click="LoanCalculator.$navigating = true;" aria-hidden="true" tabindex="-1" />
                </div>
            </form>
        </div>

        <div class="medium-12 columns table">
            @Html.Partial("~/Views/Components/_RateTable.cshtml", Model.TypeOfDisplay.ToString())
        </div>
        <a href="@(Url.Action("Apply") ?? "/Apply")" ng-click="LoanCalculator.$navigating = true;" ng-keypress="LoanCalculator.$navigating = true;" tabindex="0" class="button screen-reader-only">Apply</a>
    </div>
</div>
