@model string
@{
    // for clarity
    string FieldPrefix = Model;
    string ngRequired = string.Format("NonAppSpouseData.{0}.HasNonApplicantSpouse && !NonAppSpouseData.{0}.SpouseNotInState", FieldPrefix);
    string ngDisabled = string.Format("NonAppSpouseData.{0}.SpouseNotInState", FieldPrefix);
    string ngAddressDisabled = string.Format("NonAppSpouseData.{0}.SpouseNotInState || NonAppSpouseData.{0}.SameAddress", FieldPrefix);
}


<style type="text/css">
    div.non-applicant-spouse {
        border:1px solid #e6e6e6;
        padding:0.5em;
        border-radius:3px;
        width:650px;
    }
    div.non-applicant-spouse .not-in-state {
        margin-left:1em;
    }
</style>
<div class="non-applicant-spouse">
<table >
    <tr>
        <td colspan="2" style="text-align:left">
            <strong>{{NonAppSpouseData.@(FieldPrefix).Title}}</strong> <label class="not-in-state"><input type="checkbox" runat="server" ng-model="NonAppSpouseData.@(FieldPrefix).SpouseNotInState" /> Spouse does not reside in Wisconsin</label>

        </td>
    </tr>
    <tr>
        <td class="formCell" style="text-align:left;">
            <div class="formFieldLeft" style="width: 170px;">
                <div>First</div>
                <input id="@(FieldPrefix)FirstName" type="text" 
                    ng-model="NonAppSpouseData.@(FieldPrefix).Name.First" 
                    ng-disabled="@ngDisabled"
                    ls-restrict-to-pattern ng-pattern="/^[A-Za-z\' \.]+$/" 
                    maxlength="30" 
                    ng-required="@ngRequired"
                    ls-proper-case="true"
                    class="textBox firstName" 
                    style="width:170px;">    
            </div>
            <div class="formFieldLeft" >
                <div>MI</div>
                <input id="@(FieldPrefix)MI" type="text" 
                    ng-disabled="@ngDisabled"
                    maxlength="1" 
                    ng-model="NonAppSpouseData.@(FieldPrefix).Name.MI" 
                    ls-restrict-to-pattern ls-proper-case="upper"
                    class="textBox middleInitial" 
                    style="width:30px;"
                    ng-pattern="/[A-Za-z]/">    
            </div>
            <div class="formFieldLeft">
                <div style="text-align:left;">Last</div>
                <input id="@(FieldPrefix)LastName" type="text" 
                    ng-model="NonAppSpouseData.@(FieldPrefix).Name.Last" 
                    ng-disabled="@ngDisabled"
                    ls-restrict-to-pattern ng-pattern="/^[A-Za-z\' \.]+$/" 
                    maxlength="30" 
                    ng-required="@ngRequired"
                    ls-proper-case="true"
                    class="textBox lastName" 
                    style="width:170px;">    
            </div>
        </td>
    </tr>
    <tr>
        <td class="formCell">
            <div class="formFieldLeft">
                <div>Spouse's Mailing Address &nbsp;<label><input type="checkbox" ng-disabled="@ngDisabled" ng-model="NonAppSpouseData.@(FieldPrefix).SameAddress" /> Same Address as {{NonAppSpouseData.@(FieldPrefix).ApplicantName}}</label>

                </div>


                <input id="@(FieldPrefix)HomeStreetAddress" type="text" 
                    ng-model="NonAppSpouseData.@(FieldPrefix).Address.AddressLine" 
                    ng-required="@ngRequired"
                    ng-disabled="@ngAddressDisabled"
                    maxlength="50"
@*                        ng-pattern="/^[\d|r]/i"*@
                    ls-proper-case="true"
                    style="width:325px;"
                    >    
            </div>
            <div class="formFieldRight" style="text-align:left;">
                <div>Apt, etc.</div>
                @(Html.NgDropDownSelectList(
                    "NonAppSpouseData." + FieldPrefix + ".Address.SecondaryUnitType", 
                    FieldPrefix + "SecondaryUnitType", 
                    "Select unit type.",
                    FirstAgain.Domain.Lookups.FirstLook.PostalAddressSecondaryUnitTypeLookup.GetFilteredList(FirstAgain.Domain.Lookups.FirstLook.PostalAddressSecondaryUnitTypeLookup.FilterType.Home),
                    string.Format("(({0}) && NonAppSpouseData.{1}.Address.SecondaryUnitValue && NonAppSpouseData.{1}.Address.SecondaryUnitValue.length) && !({2})", ngRequired, FieldPrefix, ngAddressDisabled),
                    new { 
                        @ng_disabled = ngAddressDisabled
                    }
                    ))
                <input id="@(FieldPrefix)SecondaryUnitValue" type="text" 
                    maxlength="10"
                    ng-model="NonAppSpouseData.@(FieldPrefix).Address.SecondaryUnitValue" 
                    ng-required="NonAppSpouseData.@(FieldPrefix).Address.SecondaryUnitType && NonAppSpouseData.@(FieldPrefix).Address.SecondaryUnitType != 'NotSelected'"
                    ng-disabled="@ngAddressDisabled"
                    style="width:75px;"
                    />    

            </div>
        </td>
    </tr>
    <tr id="uxResCityRow" runat="server">
        <td class="formCell">
            <div class="formFieldLeft">
                <div>City</div>
                <input type="text" 
                    id="@(FieldPrefix)City" 
                    ng-model="NonAppSpouseData.@(FieldPrefix).Address.City" 
                    maxlength="50" ls-proper-case="true"
                    ng-disabled="@ngAddressDisabled"
                    ng-required="@ngRequired"
                    class="textBox" style="width:250px;"
                    required>    

            </div>
            <div class="formFieldLeft" style="padding-left: 10px;">
                <div>State</div>

                @(Html.NgDropDownSelectList(
                        ngModel: "NonAppSpouseData." + FieldPrefix + ".Address.State", 
                        name: FieldPrefix + "State",
                        ariaLabel: "Select State.",
                        ngRequired: ngRequired,
                        valueList: FirstAgain.Domain.Lookups.FirstLook.StateLookup.GetFilteredBindingSource(FirstAgain.Domain.Lookups.FirstLook.StateLookup.FilterType.Employer),
                        attributes: new { @ng_disabled = ngAddressDisabled }))
            </div>
            <div class="formFieldLeft">
                <div>Zip Code</div>
                @LSForm.ZipCode(nameAndId: FieldPrefix + "ZipCode", 
                                ariaLabel: "Enter zip code.",
                                ngModel: "NonAppSpouseData." + FieldPrefix + ".Address.ZipCode", 
                                ngRequired: ngRequired,
                                ngDisabled: ngAddressDisabled)

                <asp:TextBox ID="uxResZipCode" runat="server" MaxLength="5" Width="50" CssClass="textBox zipCode" ClientIDMode="Predictable"
                    Digits="true" Enabled="true" />
            </div>
        </td>
    </tr>

</table>
</div>

