@model LightStreamWeb.Models.PreFunding.ChangeLoanTermsPageModel

<section class="row">
<div class="large-12 columns">
    @if (TempData["ErrorMessage"] != null) {
    <div class="row">
        <div class="medium-12 columns">
            <div class="formalert" tabindex="0">
                <p>@TempData["ErrorMessage"]</p>                    
            </div>
        </div>
    </div>
    }

    <div ng-controller="ChangeLoanTermsController" id="ChangeLoanTermsSection">
        <script type="text/ng-template" id="ChangeLoanTermsForm">
            <div class="row">
	            <div class="large-12 columns">
                    <h2 class="brand">Change Loan Terms</h2>

                    <p>@Model.ChangeLoanTermsMessage</p>

                    <p>&nbsp;</p>
                </div>
            </div>

            @Html.Partial("~/Views/ApplicationStatus/_ChangeLoanTermsForm.cshtml")
        </script>
        <script type="text/ng-template" id="ConfirmChangeLoanTerms">
            <div class="row">
	            <div class="large-12 columns">
                    <h2 class="brand">Change Loan Terms</h2>

                    <form>
                    <div class="forminfo">
                        <p>Your new loan terms request will require review by our credit department. Please confirm the new loan terms below before submitting this new loan term request. Although we will promptly review your request, it is possible that the review process may delay your previously scheduled funding.</p>
                    </div>
                    </form>
                    <p>&nbsp;</p>
                </div>
            </div>

            @Html.Partial("~/Views/ApplicationStatus/_ConfirmChangeLoanTermsForm.cshtml")
        </script>

        <ng-view autoscroll="true"></ng-view>
    </div>
       
</div>

</section>


<section class="row ruled">

</section>

@section scripts {
<script type="text/javascript">
    angular.module('ApplicationStatusModule')
        .config(['$routeProvider', function ($routeProvider) {
            $routeProvider.caseInsensitiveMatch = true;
            $routeProvider
                .when('/ConfirmChangeLoanTerms', { templateUrl: 'ConfirmChangeLoanTerms' })
                .when('/ChangeLoanTerms', { templateUrl: 'ChangeLoanTermsForm' })
                .otherwise({ templateUrl: 'ChangeLoanTermsForm' });
        }]);

    angular.module('ApplicationStatusModule')
        .controller('ChangeLoanTermsController', function ($scope, $http, NLTRService, $window, $location, $timeout) {
            NLTRService.setUp($scope, '/appstatus/prefunding/nltrapproved', '/appstatus/prefunding/nltrthankyou', '/appstatus/prefunding/nltrdeclined');
            $scope.LoanAcceptance = {
                ApplicationId: @Model.ApplicationId,
                LoanTerms: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.LoanTerms, new Newtonsoft.Json.Converters.StringEnumConverter())),
                ChangeLoanTerms: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.LoanTerms, new Newtonsoft.Json.Converters.StringEnumConverter()))
                };

            $scope.goBack = function() {
                @if (Model.CurrentStatus == FirstAgain.Domain.Lookups.FirstLook.ApplicationStatusTypeLookup.ApplicationStatusType.PreFundingNLTR) 
                {
                    @:$window.location = '/appstatus/prefunding/nltr';
                }
                else
                {
                    @:$window.location = '/appstatus/prefunding';
                }
            };

            // Navigation + Site Catalyst / Omniture tracking
            $scope.$on('$routeChangeSuccess', function (scope, newRoute, oldRoute) {
                if (!newRoute) {
                    return;
                }

                if (newRoute.loadedTemplateUrl === 'ConfirmChangeLoanTerms') {
                    SC.prefunding.changeLoanTermConfirm();    
                    $timeout(function () {
                        $('#ChangeLoanTermsSection a[data-open=RatesModal]').on('click', function (event) {
                            $(this).attr('data-open', '');
                            $('#RatesModal').foundation('open');
                            event.preventDefault();
                            return false;
                        });
                    });
                }

                $timeout(function () {
                    $("ul.grid-cell-adjust").gridAdjust(); // because of IE8
                });

            });

        });

    SC.prefunding.changeLoanTermOffer();
</script>
}