@model LightStreamWeb.Models.PreFunding.PreFundingPageModel

<section class="row panel">
<div class="large-12 columns">
<form method="post" action="/appstatus/prefunding/changepaymentdate" novalidate ls-validate-on-submit="ls-validate-on-submit" name="ChangePaymentDateForm" ng-controller="ChangePaymentDateController">
    <fieldset ng-disabled="OnFormSuccess">
        <div class="row">
	        <div class="large-12 columns">
                <h2 class="brand">Change Monthly Payment Date</h2>
            </div>
        </div>
        @if (TempData["ErrorMessage"] != null) {
        <div class="row">
            <div class="medium-12 columns">
                <div class="formalert">
                    <p>@TempData["ErrorMessage"]</p>                    
                </div>
            </div>
        </div>
        }


        <div class="row">
            <div class="medium-12 columns">
                <p>Your current monthly payment date is the @Model.PaymentDayOfMonthText of the month. To change your monthly payment date select a new date below: </p>                    
            </div>
        </div>

        <div class="row">
            <div class="medium-3 columns">
            @Html.NgDropDownList(
                    ngModel: "NewPaymentDayOfMonth", 
                    ariaLabel: "Select monthly payment date",
                    name: "NewPaymentDayOfMonth", 
                    items: LSForm.GetPaymentDatesList(true))
            </div>
            <div class="medium-12 columns" ng-cloak ng-show="FirstPaymentDate && NewPaymentDayOfMonth && NewPaymentDayOfMonth != CurrentMonthlyPaymentDate">
                <p>Based on your selected funding date of @Model.FundingDateText, your first monthly payment will be due on:<br /> <strong>{{FirstPaymentDate}}.</strong></p>
                <div class="forminfo">
                    <p>Please note that once your loan has funded, the payment date cannot be modified.</p>
                </div>
            </div>
            <div class="medium-12 columns" ng-cloak ng-show="NewPaymentDayOfMonth && NewPaymentDayOfMonth == CurrentMonthlyPaymentDate">
                <div class="formalert">
                    <p>You have already selected this date as your payment date. To change your monthly payment date, please select a different date and click Submit.</p>
                </div>
            </div>

            
        </div>
            
        
        <div class="row" style="margin-top: 20px">
            <div class="medium-12 columns">
                <a class="button button-medium button-navy" href="/appstatus/prefunding">Return to Previous Page</a>
                <input type="submit" class="button button-medium " value="Submit"  ng-disabled="!NewPaymentDayOfMonth || NewPaymentDayOfMonth == CurrentMonthlyPaymentDate"/>
            </div>
        </div>
    </fieldset>
</form>
</div>

</section>


<section class="row ruled">

</section>

@section scripts {
<script type="text/javascript">
    angular.module('ApplicationStatusModule')
        .controller('ChangePaymentDateController', function ($scope, $http) {
            $scope.CurrentMonthlyPaymentDate = @(Model.PaymentDayOfMonth);
            $scope.$watch('NewPaymentDayOfMonth', function (newVal, oldVal) {
                if ($scope.NewPaymentDayOfMonth) {
                    $http.post('/Services/BankingInformation/GetFirstPaymentDate', {
                        fundingDate: '@Model.FundingDate',
                        dayOfMonth: $scope.NewPaymentDayOfMonth
                    }).success(function (data) {
                        if (data && data.Success) {
                            $scope.FirstPaymentDate = data.FirstPaymentDate;
                        }
                    });
                }
            });
        });

    SC.prefunding.changeMonthlyPmtDate();
</script>
}