@model LightStreamWeb.Models.PreFunding.PreFundingNLTRPageModel
@using FirstAgain.Common.Extensions

<form name="GetNLTRCheckingAccountInfoForm" 
    ng-app="NLTRApp" 
    ng-controller="GetNLTRCheckingAccountInfoController" 
    ls-validate-on-submit 
    method="post"
    on-success="submit()">
<section class="row panel">
    <div class="medium-12 columns ">
	    <div class="row ">
            <div class="medium-12 columns ">
                <h2 class="brand">Account Information and email Preferences</h2>
            </div>
        </div>

	    <div class="row ">
            <div class="medium-12 columns ">
                <h3>Payment Account Information </h3>
                <p>
                    With our AutoPay option, we will automatically debit your designated account for your loan payments.  
                    @if (Model.HasCheckingAccount())
                    {
                        @:Please check whether you would like us to use the same account that you previously provided for AutoPay or a different account.
                    }
                    else
                    {
                        @:Please check whether you would like us to use the same account that we will use for funding or a different account.
                    }
                    Thank You.
                </p>

                @if (Model.HasCheckingAccount())
                {
                    <label>
                        <input type="radio" name="AccountAction" value="SameAsChecking" ng-model="Model.AccountAction" required="required" /> Same account previously provided for AutoPay 
                        @if (!string.IsNullOrEmpty(Model.PaymentAccountNumber) && Model.PaymentAccountNumber.Length > 6)
                        {
                            @:(account ending in **@Model.PaymentAccountNumber.Right(2))
                        }
                    </label>
                }
                else
                {
                    <label>
                        <input type="radio" name="AccountAction" value="SameAsFunding"  ng-model="Model.AccountAction" required="required" /> Same account as funding account 
                        @if (Model.ShouldDisplayFundingAccountNumber())
                        {
                            @:(account ending in **@Model.FundingAccountNumber.Right(2))
                        }

                    </label>
                }
                <label>
                    <input type="radio" name="AccountAction" value="DifferentAccount"  ng-model="Model.AccountAction" required="required" /> Different Account
                </label>
            </div>
        </div>

        <div class="row" ng-if="Model.AccountAction == 'DifferentAccount'" ng-cloak ng-form="Act_NLTR_ActNmbrFlds">
            <div class="medium-6 columns">
                <div class="row">
                    <div class="medium-12 columns">
                        <label>Authorized Signer(s) on Account</label>
                        @Html.NgDropDownList(
                                ngModel: "Model.AuthorizedSigner", 
                                name: "AuthorizedSigner", 
                                ariaLabel: "Select Authorized Signers on Account",
                                items: Model.AuthorizedSignerList,
                                attributes: new { @ng_disabled = (Model.ApplicationType == FirstAgain.Domain.Lookups.FirstLook.ApplicationTypeLookup.ApplicationType.Individual).ToString().ToLower() } )

                    
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        <label>9 Digit Institution Routing Number</label>
                        @LSForm.NumberString("RoutingNumber", "Model.RoutingNumber", true, minLength:9, maxLength:9, attributes: "ls-routing-number")
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        <label>Account Number </label>
                        @LSForm.BankAccountNumber("AccountNumber", "Model.AccountNumber", true, formName: "Act_NLTR_ActNmbrFlds")
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <label>Re-enter Account Number</label>
                        @LSForm.BankAccountNumber("ConfirmPaymentAccountNumber", "ConfirmPaymentAccountNumber", true, formName: "Act_NLTR_ActNmbrFlds", attributes: "ls-password-match='Model.AccountNumber'")
                    </div>
                </div>
            </div>
        </div>


        <div class="row"><div class="medium-12 columns">&nbsp;</div></div>
	    <div class="row ">
            <div class="medium-12 columns ">
                <h3>AutoPay Authorization Agreement </h3>
                <div>
                    <label for="AutoPayAgreement" class="checkbox">
                        <input type="checkbox" ng-model="Model.AutoPayAgreement" id="AutoPayAgreement" required />
                        @Html.Partial("~/Views/ApplicationStatus/_AutoPayDisclosure.cshtml")
                    </label>
                </div>
            </div>
        </div>

        <div class="row"><div class="medium-12 columns">&nbsp;</div></div>
        <div class="row" >
            <div class="medium-12 columns">
                <h3>Email Preferences</h3>
                <p>Check the emails you would like to receive.</p>
            </div>
        </div>

        <div class="row ruled" >
            <div class="medium-12 columns">
                @foreach (var item in Model.GetEmailPreferences())
                {
                    <div>
                        <label>
                            <input type="checkbox" ls-checklist-model="Model.EmailPreferences" name="EmailPreferences[]" checklist-value="@item.Item1" id="@item.Item1" ls-checklist-model />
                            @item.Item2
                        </label>
                    </div>
                }
            </div>
        </div>

        <div class="row" ng-cloak>
            <div class="medium-12 columns">
                <br />
                <input type="submit" class="button button-medium " value="Submit"  ng-disabled="!GetNLTRCheckingAccountInfoForm.$valid"/>
                <img src="@Model.CdnBaseUrl/ajax-loader.gif" ng-cloak ng-show="Waiting" />
            </div>
        </div>


    </div>

</section>
</form>


@section scripts {
    <script type="text/javascript">
        angular.module('ApplicationStatusModule')
            .controller('GetNLTRCheckingAccountInfoController', function ($scope, $window, $http) {
                $scope.Model = {};
                $scope.Model.AuthorizedSigner = '@Model.AuthorizedSignerInitialValue';
                $scope.submit = function () {
                    $scope.Waiting = true;
                    $http.post('/AppStatus/PreFunding/GetNLTRCheckingAccountInfo', $scope.Model)
                        .success(function (data, status) {
                            if (data && data.Success) {
                                $window.location.href = '/appstatus/refresh';
                                $scope.Waiting = false;
                            } else {
                                if (data && data.ErrorMessage) {
                                    $scope.ErrorMessage = data.ErrorMessage;
                                }
                            }
                        });

                };
            });
    </script>

    @Html.Partial("~/Views/ApplicationStatus/PreFunding/_EnabledConfirmSignOut.cshtml")
}