@model LightStreamWeb.Models.PreFunding.PreFundingPageModel
@using FirstAgain.Common.Extensions

<form>

    <section class="row panel">
        <div class="medium-9 columns">
            <div class="row">
                <div class="medium-12 columns">

                    @if (TempData["Alert"] != null)
                    {
                        <div class="forminfo">
                            <p>@Html.Raw(TempData["Alert"])</p>
                        </div>
                    }

                    <h2 class="brand">@Model.ApplicantNamesText,</h2>

                    <h3>Funding Information</h3>
                    <ul class="funding-review">
                        <li>Your loan proceeds of @Model.FundingDataLink(Model.FundingAmount.ToString("C"), "Click to change your loan terms", "/appstatus/prefunding/changeloanterms", !Model.CanRequestNLTR())</li>

                        <li>
                            Are scheduled for deposit @((!Model.IsFundingToday) ? "on" : "") @Model.FundingDataLink(Model.FundingDateText,
"Click to reschedule your funding date",
"/appstatus/prefunding/reschedulefundingdate?ctx=" + Model.Ctx)
                        </li>
                        @if (Model.ShouldDisplayFundingAccountNumber())
                        {
                            <li>
                                We will deposit the funds into your account ending in **@Model.FundingDataLink(Model.FundingAccountNumber.Right(2),
"Click to update your account information",
"/appstatus/prefunding/accountinformationchange#/StepVerify?ctx=" + Model.Ctx)
                            </li>
                        }
                        <li>
                            Your first monthly payment will be due on @Model.FundingDataLink(Model.FirstPaymentDateText,
     "Click here to change your monthly payment date",
     "/appstatus/prefunding/changepaymentdate?ctx=" + Model.Ctx)
                        </li>
                        @if (Model.ShouldDisplayPaymentAccountNumber())
                        {
                            <li>
                                Your payment will be debited from the account ending in **@Model.FundingDataLink(Model.PaymentAccountNumber.Right(2),
"Click to update your account information",
"/appstatus/prefunding/accountinformationchange#/StepVerify?ctx=" + Model.Ctx)
                            </li>
                        }
                    </ul>

                    @if (Model.CanMakeChanges)
                    {
                        <p>If you would like to reschedule your funding date or make any other changes to your pending loan, you may do so anytime prior to @Model.LastChangeDateText.</p>
                    }

                    @if (Model.ImportantMessage.IsNotNullOrEmpty())
                    {
                        <div class="forminstruct">
                            <p>@Html.Raw(Model.ImportantMessage)</p>
                        </div>
                    }
                    else if (Model.PurposeOfLoanIsSecured())
                    {
                        switch (Model.GetPurposeOfLoan())
                        {
                            case FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.UsedAutoPurchaseSecured:
                                if (Model.IsPastLockOut)
                                {
                                    <div class="forminstruct">
                                        <u>IMPORTANT—PLEASE REMEMBER</u>

                                        <p>We want to remind you of a few things so your vehicle purchase and loan set up go smoothly:</p>

                                        <ol>
                                            <li>You must purchase your vehicle from a licensed automobile dealer and not from an individual.</li>
                                            <li>You may purchase only 1 vehicle with this loan.</li>
                                            <li>You must purchase your vehicle within 15 days after receiving the loan proceeds.</li>
                                            <li>Please give the Lienholder Instructions to the dealer at the time you purchase your vehicle, as this will save us both significant paperwork hassles later.</li>
                                            <li>
                                                Within 3 days after your vehicle purchase, please visit our website, LightStream.com, to complete the
                                                Property Description Form, providing us the Vehicle Identification Number (VIN) and other required information about your automobile.
                                            </li>
                                        </ol>
                                    </div>

                                }
                                else
                                {
                                    <div class="forminstruct">
                                        <u>IMPORTANT-PLEASE NOTE</u>
                                        <p>
                                            Please take your lienholder instructions to your licensed automobile dealer at the time of your vehicle purchase.
                                            This will help us both to avoid paperwork hassles later.
                                        </p>

                                        <p>
                                            The instructions were sent to you via email and are also available when you click the
                                            <a data-open="LoanAgreementChoiceModal">View Loan Agreement and Lienholder Instructions</a> link above.
                                        </p>
                                    </div>

                                }
                                break;
                            case FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.AutoRefinancingSecured:
                                <div class="forminstruct">
                                    <p>
                                        <u>IMPORTANT—PLEASE REMEMBER</u>

                                    <p>We want to remind you of a few things so your vehicle purchase and loan set up go smoothly:</p>

                                    <ol>
                                        <li>Your loan proceeds must be used solely to pay off an outstanding auto loan with an existing lender other than LightStream.</li>
                                        <li>You may refinance only 1 vehicle with this loan.</li>
                                        <li>You must pay off your existing auto loan within 15 days of receiving the loan proceeds.</li>
                                        <li>
                                            No later than 3 days after paying off your existing auto loan, please visit our website, LightStream.com,
                                            and certify the vehicle information on our Property Description Form.
                                        </li>
                                        <li>
                                            After you receive your documents from your existing auto lender that release the lender's lien against your vehicle,
                                            you will need to take the necessary steps to have LightStream listed as the new lienholder.  You have two options for doing this:
                                        </li>
                                    </ol>
                                    <p style="padding-left: 50px">
                                        - Go to your local state motor vehicle titling office (such as Department of Motor Vehicles)
                                        with your vehicle documents and request to add LightStream
                                        as a lienholder.  We have attached a copy of our lienholder information to take with you.
                                        <br />
                                        <br />
                                        OR
                                        <br />
                                        <br />
                                        - Mail your title to the address below.  We will then collect from you the necessary documentation to enable us to work with your local state motor
                                        vehicle titling office and place our lien on your behalf.
                                    </p>
                                    <p style="padding-left: 150px; text-align: center;">
                                        LightStream<br />
                                        Attn: Collateral Management<br />
                                        PO Box 22530<br />
                                        Lehigh Valley, PA  18002-2530
                                    </p>
                                    </p>
                                </div>
                                break;
                            case FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.PrivatePartyPurchaseSecured:
                                <div class="forminstruct">
                                    <u>IMPORTANT—PLEASE REMEMBER</u>

                                    <p>We want to remind you of a few things so your vehicle purchase and loan set up go smoothly:</p>

                                    <ol>
                                        <li>Your loan proceeds must be used solely to purchase an automobile from a private party.  The vehicle cannot have an existing lien against it.</li>
                                        <li>You may purchase only 1 vehicle with this loan.</li>
                                        <li>You must purchase your automobile within 15 days of receiving the loan proceeds.</li>
                                        <li>
                                            No later than 3 days after purchasing your automobile, please visit our website, LightStream.com, and
                                            certify the vehicle information on our Property Description Form.
                                        </li>
                                        <li>
                                            After you purchase your automobile, you will need to take the necessary steps to have LightStream listed as the new lienholder.  Go to your local state motor vehicle
                                            titling office (such as Department of Motor Vehicles) with your vehicle documents and request a new title adding LightStream as the lienholder.  We have attached a copy
                                            of our lienholder information for you to provide to the titling office.
                                        </li>
                                    </ol>
                                </div>
                                break;
                            case FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.LeaseBuyOutSecured:
                                <div class="forminstruct">
                                    <u>IMPORTANT—PLEASE REMEMBER</u>

                                    <p>We want to remind you of a few things so your vehicle purchase and loan set up go smoothly:</p>

                                    <ol>
                                        <li>Your loan proceeds must be used solely to purchase an automobile presently being leased from a leasing company or an automobile dealer.</li>
                                        <li>You may purchase only 1 vehicle with this loan.</li>
                                        <li>You must purchase your automobile within 15 days of receiving the loan proceeds.</li>
                                        <li>
                                            No later than 3 days after purchasing your automobile, please visit our website, LightStream.com, and certify the
                                            vehicle information on our Property Description Form.
                                        </li>
                                        <li>
                                            After you purchase your automobile, you will need to take the necessary steps to have LightStream listed as the new lienholder.
                                            If the leasing company or dealer takes care of the vehicle titling paperwork and submits the necessary documents to your local state motor vehicle
                                            titling office (such as the Department of Motor Vehicles), then please provide our lienholder information to the leasing company or dealer.  We have
                                            attached a copy of our lienholder information.  However, if the leasing company or dealer simply assigns the vehicle title over to you, then, you will
                                            need to go to your local motor vehicle titling office to apply for a new title.  In that event, please provide the titling office with the attached
                                            lienholder information.
                                        </li>
                                    </ol>
                                </div>
                                break;

                        }
                    }
                </div>
            </div>

        </div>
        <div class="medium-3 columns statusdeclinded">
            <a data-open="LoanAgreementChoiceModal"
               class="button button-medium button-navy button-small first">View Loan Agreement@((Model.PurposeOfLoanIsSecured()) ? " and Lienholder Instructions" : "")</a>
        </div>
    </section>

    <div id="LoanAgreementChoiceModal" class="reveal small" data-reveal>
        <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>

        <p>
            You may view, save, or print your loan agreement in either html or pdf format. The
            pdf provides a "clean" version of your loan agreement (no HTML headers or footers)
            but requires an Adobe Reader, version 9.0 or later.
        </p>

        <ul>
            <li><a href="/enotices/viewloanagreement/@Model.HtmlLoanAgreementEdocId" class="button button-medium button-navy" target="_blank">View loan agreement in html</a></li>
            @if (@Model.PdfLoanAgreementEdocId > 0)
            {
                <li><a href="/enotices/download/@Model.PdfLoanAgreementEdocId" class="button button-medium button-navy" target="_blank">View loan agreement in pdf</a></li>
            }
            <li><a href="https://get.adobe.com/reader/" data-jump="true"><img src="/content/images/logo_get_adobe_reader.gif" alt=""></a></li>
        </ul>
    </div>

    @if (Model.CanMakeChanges)
    {
        <section class="row ruled homefeatures" data-changes="true">
            <div class="large-12 columns">
                <h2 class="brand">Need to Make a Change?</h2>
            </div>

            @if (Model.CanRequestNLTR())
            {
                <div class="medium-3 columns text-center">
                    <a href="/appstatus/prefunding/changeloanterms?ctx=@Model.Ctx" id="ChangeLoanTermsImage">
                        <span><img src="/content/images/change-loan-terms.png" alt="" /></span>
                        <p>Change Loan terms </p>
                    </a>
                </div>
            }

            <div class="@if(Model.CanRequestNLTR()){ <text>medium-3</text>} else{<text>medium-4</text>} columns text-center">
                <a href="/appstatus/prefunding/reschedulefundingdate?ctx=@Model.Ctx" id="RescheduleFundingDateImage">
                    <span><img src="/content/images/reschedule-funding-date.png" alt="" /></span>
                    <p>Reschedule your funding date</p>
                </a>
            </div>

            <div class="@if(Model.CanRequestNLTR()){ <text>medium-3</text>} else{<text>medium-4</text>} columns text-center">
                <a href="/appstatus/prefunding/accountinformationchange#/StepVerify?ctx=@Model.Ctx" id="AccountInformationChangeImage">
                    <span><img src="@Model.CdnBaseUrl/account-change.png" alt="" /></span>
                    <p>Account Information Change</p>
                </a>
            </div>

            <div class="@if(Model.CanRequestNLTR()){ <text>medium-3</text>} else{<text>medium-4</text>} columns text-center">
                <a href="/appstatus/prefunding/changepaymentdate?ctx=@Model.Ctx" id="ChangeMonthlyPaymentDateImage">
                    <span><img src="/content/images/bullets/refinance-existing-loans.png" alt="Change Monthly Payment Date" /></span>
                    <p>Change Monthly Payment Date</p>
                </a>
            </div>
        </section>

        <section class="row ruled" data-changes="true">
            <div class="large-9 columns">
                <h2 class="brand">Cancel Pending Loan </h2>
                <p>To cancel your pending loan, you may click the button below.</p>

                <a href="/appstatus/prefunding/cancel" class="button button-navy button-medium" id="CancelPendingLoan">Cancel Pending Loan</a>

                <img src="@Model.CdnBaseUrl/ajax-loader.gif" id="LoadingImage" alt="" style="display:none;" />
            </div>
        </section>
    }
</form>

@section scripts {
    <script type="text/javascript">
        $(function () {
            SC.prefunding.fundingInfo();

            @if (Model.CanMakeChanges)
        {
        <text>
            var secondsUntilLockOut = @Model.SecondsUntilLastChangeDate;
            if (secondsUntilLockOut > 0) {
                var interval = setInterval(function () {
                    secondsUntilLockOut = secondsUntilLockOut - 1;
                    if (secondsUntilLockOut <= 1) {
                        clearInterval(interval);
                        $('ul.funding-review li a').click(false);
                        $('[data-changes]').fadeOut(500, function () {
                            window.location.href = '/appstatus/refresh';
                        });
                    }
                }, 1000);
            }
            </text>
        }
        });
    </script>

    @Html.Partial("~/Views/ApplicationStatus/_AppStatusChangeNotification.cshtml", Model)
}