@model LightStreamWeb.Models.PreFunding.PreFundingNLTRPageModel

<section class="row panel">
    <div class="row">
        <div class="medium-9 columns">
            <h2 class="brand">@Model.Heading</h2>

            @foreach (var statement in Model.Statements)
            {
                <p>@Html.Raw(statement)</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="medium-9 columns">

            <div class="row ">
                <div class="medium-6 columns ">
                    <h2 class="brand">New Loan Terms Request:</h2>
                </div>
                <div class="medium-6 columns ">
                    <a href="#" data-open="RatesModal" class="right no-track" target="_self">View @((Model.PurposeOfLoanIsSecured()) ? "Secured Auto" : "") Rates / Terms</a>
                </div>
            </div>
            <div class="row">
                <div class="medium-9 columns ">
                    <div class="row offerTermsTable " id="OfferTermsTable">
                        <div class="grid-x ">
                            <div class="cell small-6 coltitle brand hide-for-small-only">Loan Terms</div>
                            <div class="cell small-6 coltitle coltitle-last brand hide-for-small-only">Requested</div>
                        </div>
                        <div class="grid-x ">
                            <div class="cell small-6 brand">Loan Amount</div>
                            <div class="cell small-6">
                                @Model.LoanTerms.LoanAmount.ToString("C")  @if (Model.LoanTerms.FloridaDocStampTax.HasValue)
                                { @:<super><a href="" data-flash="FloridaDocStampDisclosure">**</a></super>
                                    }
                            </div>
                        </div>

                        <div class="grid-x ">
                            <div class="brand cell small-6 ">Loan Term</div>
                            <div class="cell small-6">@Model.LoanTerms.LoanTerm months</div>
                        </div>
                        <div class="grid-x ">
                            <div class="brand cell small-6 ">Interest Rate/APR</div>
                            <div class="cell small-6">@Model.LoanTerms.InterestRate</div>
                        </div>
                        <div class="grid-x ">
                            <div class="brand cell small-6 ">Monthly Payment</div>
                            <div class="cell small-6">@Model.LoanTerms.MonthlyPayment</div>
                        </div>
                        <div class="grid-x ">
                            <div class="brand cell small-6 ">Payment method</div>
                            <div class="cell small-6">@Model.LoanTerms.PaymentMethod</div>
                        </div>
                    </div>
                </div>
                <div class="medium-3 columns statusdeclinded">
                    @if (Model.CanRequestNLTR())
                    {
                        <a href="/appstatus/prefunding/changeloanterms" class="button button-medium button-navy button-small first">Change This Request</a>
                    }
                </div>
            </div>


            <div class="disclaimer">@Html.Raw(Model.LoanTerms.LoanOfferDisclaimer)</div>
        </div>

        <div class="medium-12 columns loannotes" id="FloridaDocStampDisclosure">
            @if (Model.LoanTerms.FloridaDocStampTax.HasValue)
                    {
                    <p><super>**</super> @Html.Raw(string.Format(Resources.FAMessages.FloridaDocStampDisclosure, "/partial/florida-doc-stamp-info", Model.LoanTerms.FloridaDocStampTax.Value))</p>
                    }
        </div>

        <div class="row ">
            <div class="medium-12 columns ">
                @if (Model.NextStep == LightStreamWeb.Models.PreFunding.PreFundingNLTRPageModel.NextSteps.ProceedToLoanAgreement)
                    {
                    <a href="/appstatus/prefunding/signloanagreement?ctx=@Model.Ctx" class="button">Proceed To Loan Agreement</a>
                    }
                    else
                    {
                    <form method="post" action="/appstatus/prefunding/acceptpreviousterms">
                        <input type="submit" class="button" value="Continue with Previous Terms" />
                    </form>
                    }
            </div>
        </div>

    </div>


</section>

@if (Model.CanCancelRequest)
{

    <section class="row ruled">
        <div class="large-9 columns">
            <h2 class="brand">Cancel This Request</h2>
            <p>To cancel your pending loan or this request, you may click the button below.</p>

        <a href="#" data-open="CancelNLTROrLoanModal" class="button button-navy button-medium">Cancel This Request</a>

        <img src="@Model.CdnBaseUrl/ajax-loader.gif" id="LoadingImage" alt="" style="display:none;"/>
	</div>
</section>

<div id="CancelNLTROrLoanModal" class="reveal small"  data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
                <h2>Cancel this Request</h2>

                <p>What would you like to do?</p>

                <form method="post" action="/appstatus/prefunding/cancelnltrorloan">
                    <input type="hidden" name="Ctx" value="@Model.Ctx" />
                    <label><input type="radio" name="action" value="NLTR" required /> Cancel the new loan terms request but continue with previous loan terms.</label>
                    <label><input type="radio" name="action" value="Loan" required /> Cancel entire loan application.</label>

                    <br/>
                    <div>
                        <a href="#" class="button button-medium button-navy" style="margin: 0 !important" data-close>Cancel</a>
                        <input type="submit" class="button button-medium" style="margin: 0 !important" value="Next" />
                    </div>

                    <br />
                    <p>Please note that if you cancel this pending loan, and then change your mind, you will need to reapply.</p>
                </form>
            </div>
}

            @section scripts {
                @Html.Partial("~/Views/ApplicationStatus/PreFunding/_EnabledConfirmSignOut.cshtml")
            }
