@model LightStreamWeb.Models.PreFunding.PreFundingNLTRPageModel
@using FirstAgain.Common.Extensions

<form name="SelectEmailPreferencesForm" 
    ng-app="NLTRApp" 
    ng-controller="SelectEmailPreferencesController" 
    ls-validate-on-submit 
    method="post"
    on-success="submit()">
<section class="row panel">
    <div class="medium-12 columns ">
	    <div class="row ">
            <div class="medium-12 columns ">
                <h2 class="brand">Select email Preferences</h2>
            </div>
        </div>

        <div class="row"><div class="medium-12 columns">&nbsp;</div></div>
        <div class="row" >
            <div class="medium-12 columns">
                <p>Monthly payment invoices are automatically emailed to you 15 days prior to your payment due date, please check if you would like us to send you an email confirmation of payments received.</p>
            </div>
        </div>

        <div class="row ruled" >
            <div class="medium-12 columns">
                @foreach (var item in Model.GetEmailPreferences())
                {
                    <div>
                        <label>
                            <input type="checkbox" ls-checklist-model="Model.EmailPreferences" name="EmailPreferences[]" checklist-value="@item.Item1" id="@item.Item1" ls-checklist-model />
                            @item.Item2
                        </label>
                    </div>
                }
            </div>
        </div>

        <div class="row" ng-cloak>
            <div class="medium-12 columns">
                <br />
                <input type="submit" class="button button-medium " value="Submit"  />
                <img src="@Model.CdnBaseUrl/ajax-loader.gif" ng-cloak ng-show="Waiting" />
            </div>
        </div>


    </div>

</section>
</form>


@section scripts {
    <script type="text/javascript">
        angular.module('ApplicationStatusModule')
            .controller('SelectEmailPreferencesController', function ($scope, $window, $http) {
                $scope.Model = {};
                $scope.submit = function () {
                    $scope.Waiting = true;
                    $http.post('/AppStatus/PreFunding/UpdateEmailPreferences', $scope.Model)
                        .success(function (data, status) {
                            if (data && data.Success) {
                                $window.location.href = '/appstatus/refresh';
                                $scope.Waiting = false;
                            } else {
                                if (data && data.ErrorMessage) {
                                    $scope.ErrorMessage = data.ErrorMessage;
                                }
                            }
                        });

                };
            });
    </script>

    @Html.Partial("~/Views/ApplicationStatus/PreFunding/_EnabledConfirmSignOut.cshtml")
}