@{
    ViewBag.Title = "Signature";
}

<h2>Signature</h2>
<script src="/scripts/jquery-plugins/jquery.signaturepad.js"></script>
<link rel="stylesheet" href="/Content/signature-pad/jquery.signaturepad.css">

<script type="text/javascript">    
$(document).ready(function () {
    $('div.sigPad').signaturePad(
    {
        defaultAction: 'drawIt',
        penColour: 'black',
        lineColour: '#E57A00',
        lineWidth: 1,
        lineTop: $('.sigPad canvas').attr('height') - 2
    });

    $('html.touch div.clearButton span').text('Draw above to sign');
    $('html.touch li.drawIt span').text(' if you prefer to sign.');

    $('[id$=uxDefaultSignOut] a').click(function (e) {
        $('.sigPad').each(function () {
            if ($(this).is(':visible') != false) {
                $sigPad = $(this).signaturePad();
                if ($sigPad.usingScriptFont() || $sigPad.getSignature().length) {
                    IncompleteAppStatusDialogs.BasicIncomplete();
                    e.preventDefault();
                    return false;
                }
            }
        });

        return true;
    });

    // disable super-slow omniture click tracking on signature links
    var old = s.mr;
    s.mr = function (sess, q, rs, ta, u) {
        if (!window.event.toElement.classList.contains("no-track")) {
            old(sess, q, rs, ta, u);
        }
    };

    $('#submitSignatures').click(function () {
        $('.sigPad').each(function () {
            if ($(this).is(':visible') == false) {
                return;
            }
            $sigPad = $(this).signaturePad();
            if ($sigPad.validateForm()) {
                $.ajax({
                    type: 'POST',
                    url: '/Signature/Submit',
                    data: {
                            usingScriptFont: $sigPad.usingScriptFont(),
                            signatureJSON: $sigPad.getSignatureString(),
                            isCoApplicant: $(this).data('is-coapplicant'),
                            applicantName: $(this).data('name')
                        }
                }).done($.proxy(function (response) {
                    if (response.Success) {
                        $(this).hide();
                        $(this).after();
                        $(this).after('<div style="background-image: url(' + response.ImageURL + '); background-repeat: no-repeat; height:74px;width:585px;" /><div>' + response.TimeStamp + '</div>');

                        // if all are signed.... reload the page
                        if ($('.sigPad:visible').length == 0) {
                            $('input[id$=uxBottomOfPageButton]').trigger('click');
                        } else { 
                            // if this is a joint app, and only one is signed, hook up the "don't leave" method
                            $('[id$=uxDefaultSignOut] a').click(function () {
                                $.post('/Signature/PersistPartial');
                                IncompleteAppStatusDialogs.IncompleteSignature();
                                return false; 
                             });
                        }
                    } else {
                        alert('There was an error saving your signature')
                    }
                }, $(this)));
            } else {
                window.location.hash = "scrollToSignatures";
            }
        });
    });
});

</script>


<div class="sigPad signed" data-name="<%: Name %>" data-is-coapplicant="@Model.IsCoApplicant">
    <b>@Model.Name</b>
    <input id="uxName" type="hidden" runat="server" enableviewstate="false" />
    <div class="signatureBox">
        <div class="sigWrapper">
            <div class="typed" style="background-image:url('/signature/generate?name=@Model.Name');background-position:0% 0%" ></div>
            <canvas class="pad" width="@Model.Width" height="@Model.Height"></canvas>
            <input id="signatureData" type="hidden" name="output" class="output" runat="server" enableviewstate="false" />
        </div>
        <div class="clearButton"><span>Hold down left mouse button and draw above to sign.</span><br /><a href="#clear" class="orange-button">Clear</a></div>
    </div>
    <ul class="sigNav">
    <li class="typeIt"><a href="#" class="no-track use-script-font" id="@((Model.IsCoApplicant) ? "useScriptFontCoApplicant" : "useScriptFontApplicant")">Click here</a> <span> if you prefer to have your signature inserted using our script font.</span></li>
    <li class="drawIt"><a href="#" class="no-track">Click here</a> <span> if you prefer to use your mouse to sign.</span></li>
    </ul>
</div>
