@model LightStreamWeb.Models.AccountServices.AccountServicesContactUsModel

<form method="post" action="/modals/contact-us" id="ContactUsForm" class="contact-us-modal">

    <div class="row">
        <div class="large-8 columns medium-12">
            <div id="ThankYouMessage" style="display:none">
                <h3>Thank You</h3>
                <p>
                    If a response from us is required, we will email you promptly during our normal business hours.
                </p>
            </div>
            <div id="FormContent">
                <h3>Questions?</h3>
                @Html.AntiForgeryToken()
                <p class="description">If you have any questions or comments, you may email us using the form below. We will respond promptly during our normal business hours. </p>

                <p class="error-message" style="display:none;"></p>
                @Html.ValidationSummary()
                <fieldset>
                    <ul>
                        <li><label>To:</label> LightStream</li>

                        <li>
                            <label for="Name">From:</label>
                            @Html.DropDownList("Name", Model.NameOptions, new { @required = "required" })
                        </li>
                        <li>
                            <label for="EmailAddress">Email Address:</label>
                            @Html.DropDownList("EmailAddress", Model.EmailAddressOptions, new { @required = "required" })
                        </li>
                        <li>
                            <label for="Subject">Re:</label>
                            @Html.DropDownList("Subject", Model.ReasonOptions)
                        </li>
                        <li><label for="Message">Questions or Comments</label><textarea rows="10" cols="30" name="Message" id="Message" required="true"></textarea></li>
                    </ul>
                </fieldset>
                <p class="description">(For security reasons, we strongly discourage the submission of personal information)</p>

                <input type="hidden" name="ApplicationId" />
                <input type="hidden" name="UserId" value="@Model.UserId" />

                <input type="submit" name="submit" value="Send" class="button" />
            </div>

        </div>
        <div class="large-4 columns medium-12">
            <div class="right medium-12 columns">
                <p><a href="/modals/privacy" data-popup="true" class="no-track right">Privacy/Security</a></p>
            </div>

            <div class="medium-12 columns">
                <p class="description">
                    To reduce our costs (and yours), we prefer that you contact us using the email form provided here.
                    However, if you need assistance with your loan application, you may call us @FirstAgain.Domain.Common.BusinessConstants.Instance.BusinessHours.ToString(FirstAgain.Common.TimeZoneUS.EasternStandardTime).
                </p>

                <p class="description">
                    Our phone number is:<br />
                    <a href="tel:@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain">@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain</a>
                </p>

                <p class="description">Please note that we do not take applications over the phone. Thank you.</p>
            </div>
        </div>
    </div>
</form>

<script src="/scripts/jquery-plugins/jquery.form-3.5.1.js" defer></script>
<script src="/scripts/app/account-services/contact-us.js" defer></script>

