@model LightStreamWeb.Models.PublicSite.CTABarModel

<div class="row thatBlueTho ctaBar" id="ctaBar" aria-hidden="true">
    <div class="cta-outer-container columns medium-4">
        <div class="cta-inner-container">
            <div class="cta-icon-container">
                <div class="cta-ls ctaIcon"></div>
            </div>

            <div class="cta-item-container">
                <div class="cta-item-left">
                    <div class="cta-item-text" style="z-index: 10;" tabindex="0">
                        Why LightStream?
                    </div>
                    <div class="cta-item-text-left">
                        @if (Model.ShowCTAWhyLightStreamLink)
                        {
                            <small style="text-decoration: underline; cursor: pointer" id="ctaWatchVideo" class="cms" aria-hidden="true">Watch our video</small>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-outer-container columns medium-4">
        <div class="verticalLine"></div>
        <div class="cta-inner-container">
            <div class="cta-icon-container">
                <div class="cta-dollar ctaIcon"></div>
            </div>
            <div class="cta-item-text" aria-hidden="true">
                <div aria-hidden="true">$100 Loan Experience Guarantee<sup class="noLinkSup">1</sup></div>
            </div>
        </div>
    </div>
    <div class="cta-outer-container columns medium-4">
        <div class="verticalLine"></div>
        <div class="cta-inner-container">
            <div class="cta-icon-container">
                <div class="cta-check ctaIcon"></div>
            </div>
            <div class="cta-item-text" aria-hidden="true">
                <div aria-hidden="true">We will beat any qualifying rate.<sup class="noLinkSup">2</sup></div>
            </div>
        </div>
    </div>
</div>

<div class="row cms" id="ctaDescriptions" aria-hidden="true">
    <div class="columns medium-4" tabindex="0">
        @Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 0 ? Model.CTABarDescriptions[0] : "") : ""))
    </div>

    <div class="columns medium-4" tabindex="0">
        @Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 1 ? Model.CTABarDescriptions[1] : "") : ""))
    </div>

    <div class="columns medium-4" tabindex="0">
        @Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 2 ? Model.CTABarDescriptions[2] : "") : ""))
    </div>
</div>

<div class="screen-reader-only" aria-hidden="false">
    <ul>
        <li>
            <h3>Why LightStream?</h3>
            <p>@Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 0 ? Model.CTABarDescriptions[0] : "") : ""))</p>
        </li>
        <li>
            <h3>$100 Loan Experience Guarantee. <em>Disclosure 1 to follow.</em></h3>
            <p>@Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 1 ? Model.CTABarDescriptions[1] : "") : ""))</p>
        </li>
        <li>
            <h3>We will beat any qualifying rate. <em>Disclosure 2 to follow.</em></h3>
            <p>@Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 2 ? Model.CTABarDescriptions[2] : "") : ""))</p>
        </li>
    </ul>
</div>