
<footer class="row" style="max-width:760px;">
    <div class="medium-2 columns">
        <a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="@Model.CdnBaseUrl/plant-a-tree-small.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>
    </div>
    <div class="medium-8 columns legalcopy text-center">
        <p class="cms" id="PreDisclosuresFooter">@{Html.RenderAction("PreDisclosuresFooter", "Components");}</p>
        <p id="SameDayFundingDisclosure" class="legalcopy" tabindex="0"></p>
        <p class="cms" id="Footer">@{Html.RenderAction("Footer", "Components");}</p>
    </div>
    <div class="medium-2 columns">
        <div class="row text-right">
            <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.lightstream.com&lang=en" data-jump="true" data-popup="true" data-name="NortonSecured" data-width="580" data-height="480"><img src="@Model.CdnBaseUrl/norton.png" alt="Norton Security Badge" width="132" height="68"/></a>
        </div>

        <div class="row social">
            <a href="@Model.TwitterURL" target="_blank" data-jump="true"><i class="ls ls-twitter ls-1x"></i></a>
            <a href="@Model.FacebookURL" target="_blank" data-jump="true"><i class="ls ls-facebook ls-1x"></i></a>
            <a href="@Model.GoogleplusURL" target="_blank" data-jump="true"><i class="ls ls-google-plus ls-1x"></i></a>
            <a href="@Model.YoutubeURL" target="_blank" data-jump="true"><i class="ls ls-youtube ls-1x"></i></a>
        </div>

    </div>
</footer>
