@model LightStreamWeb.ContentManager
@Html.Partial("~/Views/PublicSite/Partials/pr-media.cshtml")

<ul class="press-releases testimonials">
    @foreach (var pr in Model.GetMultiple<FirstAgain.Domain.SharedTypes.ContentManagement.MediaCoveragePublisher>().SelectMany(p => p.Articles, (p, a) => new { Graphic = p.Graphic, Article = a }).OrderByDescending(a => a.Article.ArticleDate))
    {
        <li>
            @pr.Graphic.ToImageTag()
            <span>
                <a href="@pr.Article.Hyperlink" target="_blank" data-jump="true">@pr.Article.HeadlineText</a>
                <cite>@pr.Article.SubheaderText</cite>
            </span>
        </li>
    }
</ul>
