@model BaseLightstreamPageModel
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie ie9"> <![endif]-->
<!--[if gt IE 9]>  <html lang="en" class="no-js ie">     <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
    <!--<![endif]-->
<head>
    @if (Model.CanIFrame)
    {
    <base target="_blank" /> }

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <title>@(Model.HeadTitle ?? Model.Title)</title>
    @Model.CanonicalTag()
    @RenderSection("metaTags", required: false)
    <meta name="description" content="@(Model.MetaDescription ?? "LightStream offers unsecured loans online for all their personal needs. On approval, money can be wired the next day to purchase anything including refinancing an existing loan, home improvement project, pre K-12 education, wedding, new or used auto, motorcycle, RV, adoption, fertility, medical expense, and more.")" />
    <meta name="keywords" content="@(Model.MetaKeywords ?? "excellent credit, car loan, home improvement financing, timeshare financing")" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/content/images/apple-touch-icon.png">
    @Styles.Render("~/bundles/css-third-party-redesign")
    @if(!IsSectionDefined("layout"))
    {
        @Styles.Render("~/bundles/css-responsive-main-wide")
    }
    else
    {
        @RenderSection("layout", required: false);
    }

    @RenderSection("styles", required: false)
    @if(FirstAgain.Domain.Common.BusinessConstants.Instance.Environment == FirstAgain.Domain.Lookups.FirstLook.EnvironmentLookup.Environment.Production)
    {
        <script type = "text/javascript" src = "//nexus.ensighten.com/suntrust/lightstream/Bootstrap.js" ></script>
    }
    else
    {
        <script type = "text/javascript" src = "//nexus.ensighten.com/suntrust/lightstreamdev/Bootstrap.js" ></script>
    }
    <script type = "text/javascript" src = "//LightStream.7eer.net/container-1695.js"></script>

    @if(Model.EnableRUM)
    {
        <script>
            var _prum = [['id', '54bd2fd4abe53db14dd8e5c9'],
                         ['mark', 'firstbyte', (new Date()).getTime()]];
            (function()
            {
                var s = document.getElementsByTagName('script')[0]
                  , p = document.createElement('script');
                p.async = 'async';
                p.src = '//rum-static.pingdom.net/prum.min.js';
                s.parentNode.insertBefore(p, s);
            })();
        </script>

    }
    <!--[if gte IE 9]><!-->
    <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type = "text/javascript" >
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='/scripts/jquery/jquery-2.2.4.min.js' type='text/javascript'%3E%3C/script%3E"));
        }
    </script>
    <link rel = "stylesheet" href="/content/typekit-base64-fonts.css" />
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
        <script src = "/scripts/console-shim.js" ></ script >
        @if(Model.EnableFileUpload)
        {
            @*The following makes zero sense. This script is already included in the "angular" bundle - but IE8/9 need the shim loaded before angular, in a separate file. *@
            <script src="/scripts/angular-file-upload/angular-file-upload-shim.min.js"></script>
        }
    <![endif]-->
    @if (Model.EnableFileUpload)
    {
        @Scripts.Render("~/bundles/angular-file-upload")
    }
    else
    {
        @Scripts.Render("~/bundles/angular")
    }

    <!--[if lt IE 9]>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
      <script src="https://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
      <script src="https://html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
      @Styles.Render("~/bundles/css-ie8")
      <script src="/Scripts/ie8.js?r=1407"></script>
    <![endif]-->
    <!--[if IE 9]>
      <link rel="stylesheet" href="/Content/ie9.css">
    <![endif]-->
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/Content/ie7.css">
    <![endif]-->
    @Html.RenderScriptTag("~/bundles/scripts-adobe-target.js")
</head>


@if (!IsSectionDefined("bodyTag"))
{
    @:<body class="@Model.BodyClass"
                  if (!string.IsNullOrWhiteSpace(Model.NgApp)) { @:ng-app="@Model.NgApp"
                      @:id="ng-app"
                  } @:>
}
else
{
    @RenderSection("bodyTag", required: false);
}

@if (!IsSectionDefined("header"))
{
    <header id="header" class="row widerow">
        <script type="text/javascript">mboxCreate('LightStream_Global_top');</script>
        @Html.Partial("~/Views/Components/Navbar/_OldNavbar.cshtml", null)
        @RenderSection("hero", required: false)

    </header>
}
else
{
    @RenderSection("header", required: false)
    @RenderSection("hero", required: false)
}

@RenderBody()

@if (!IsSectionDefined("footer"))
{
    <footer class="row">                              
        <nav class="medium-10 small-8 columns hide-for-small-only tight-p-right tight-p-left social-icon-wfix">
            <ul>
                <li><a href="/who-we-are">About</a></li>
                <li><a href="/rates-loan-calculator">Rates/Terms</a></li>
                @if (Model is LightStreamWeb.Models.AccountServices.AccountServicesPageModel)
                {
                    <li><a href="/Apply/AccountServices">Apply</a></li>
                } else {
                    <li><a href="/Apply">Apply</a></li>
                }

                @if (AppSettingsHelper.IsRatchMatchOfferEnabled())
                {
                    <li class="rate-match"><a href="@Url.RouteUrl("RateBeat")">Rate Beat</a></li>
                }
                <li><a href="/privacy-security">Privacy/Security</a></li>
                <li><a href="/licensing">Licensing</a></li>
                <li><a href="/contact-us">Questions</a></li>
                <li><a href="/site-map">Site Map</a></li>
                <li><a href="/affiliate-program">Affiliate Program</a></li>
                <li><a href="https://jobs.suntrust.com/search/?q=LightStream&location=San+Diego%2C+CA">Careers</a></li>
            </ul>
        </nav>

        <nav class="medium-10 small-8 columns show-for-small-only tight-p-right">
            <ul>
                <li><a href="/who-we-are">About</a></li>
                <li><a href="/rates-loan-calculator">Rates/Terms</a></li>
                @if (Model is LightStreamWeb.Models.AccountServices.AccountServicesPageModel)
                {
                    <li><a href="/Apply/AccountServices">Apply</a></li>
                }
                else {
                    <li><a href="/Apply">Apply</a></li>
                }

                @if (AppSettingsHelper.IsRatchMatchOfferEnabled())
                {
                    <li class="rate-match"><a href="@Url.RouteUrl("RateBeat")">Rate Beat</a></li>
                }
                <li><a href="/privacy-security">Privacy/Security</a></li>
                <li><a href="/licensing">Licensing</a></li>
                <li><a href="/contact-us">Questions</a></li>
                <li><a href="/site-map">Site Map</a></li>
                <li><a href="/affiliate-program">Affiliate Program</a></li>
                <li><a href="https://jobs.suntrust.com/search/?q=LightStream&location=San+Diego%2C+CA">Careers</a></li>
            </ul>
        </nav>

        <div class="medium-2 small-4 columns social tight-p-left tight-p-right social-icon-wfix">
            <a href="@Model.TwitterURL" target="_blank" data-jump="true" data-tracking="Twitter"><i class="fa fa-twitter-square"></i></a>
            <a href="@Model.FacebookURL" target="_blank" data-jump="true" data-tracking="Facebook"><i class="fa fa-facebook-square"></i></a>
            <a href="@Model.GoogleplusURL" target="_blank" data-jump="true" data-tracking="GooglePlus"><i class="fa fa-google-plus-square"></i></a>
            <a href="@Model.YoutubeURL" target="_blank" data-jump="true" data-tracking="Youtube"><i class="fa fa-youtube-square"></i></a>
        </div>
        <article class="large-12 columns legalcopy">
            <p class="cms" id="PreDisclosuresFooter">@{Html.RenderAction("PreDisclosuresFooter", "Components");}</p>
            @RenderSection("APRDisclosure", required: false)
            <p id="SameDayFundingDisclosure" class="legalcopy"></p>
            <p class="cms" id="Footer">@{Html.RenderAction("Footer", "Components");}</p>
        </article>

        <div class="large-12 columns footer_images">
            <a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="/content/images/plantatree_106x32.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>
            <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.lightstream.com&lang=en" data-jump="true" data-popup="true" data-name="NortonSecured" data-width="580" data-height="480"><img src="/content/images/norton.png" alt="Norton Security Badge" width="132" height="68" /></a>
        </div>

    </footer>
                }
                else
                {
                    @RenderSection("footer", required: false)
                }

@* --- Global modal dialogs*@
<div id="PlantATreeModal" class="reveal small cms" data-reveal>
    @{Html.RenderAction("PlantATree", "Components");}
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
</div>
<div id="JumpPageModal" class="reveal long small" data-reveal>
    <div class="row">
        <div class="medium-12 columns">
            <a title="LightStream" href="/"><img src="~/content/images/logo_tm_color.jpg" alt="LightStream" border="0" width="240" height="80" /></a>
            <h5>You Are Leaving LightStream.com</h5>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <p>
                By clicking Continue, you will be taken to a third-party Web site which is not affiliated with LightStream, a division of SunTrust Bank.
                The privacy policy, level of security or accessibility standards may differ from ours. We encourage you to review the privacy policy and
                security offered on the third-party site prior to providing any personal information. LightStream is not responsible for and does not
                endorse, guarantee or monitor content, availability, viewpoints, partners, advertisers, products or services that are offered or expressed
                on third-party Web sites. You can click the Return to LightStream.com button now to return to the previous page or you can use the Back
                button on your browser after you leave.
            </p>
        </div>
    </div>
    <div class="row">
        <a id="JumpPageModalTarget" href="#" target="_blank" class="button button-small large-5 medium-12 small-12 columns">Continue</a>
        <a class="button button-small button-navy large-5 medium-12 small-12 columns" onclick="$('#JumpPageModal').foundation('close');return false;">Return to LightStream.com</a>
    </div>
</div>
<div id="AjaxModal" class="reveal small" data-reveal> </div>
<div id="AjaxModalMedium" class="reveal medium" data-reveal> </div>
<div id="AjaxModalLarge" class="reveal large" data-reveal> </div>
<div id="DisclosureModal" class="reveal large" data-reveal> </div>
@* --- Scripts *@
@Html.RenderScriptTag("~/bundles/scripts-typekit.js")
@Scripts.Render("~/bundles/scripts-app-main")
@Html.RenderScriptTag("~/bundles/scripts-marketing.js")

<!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/js/foundation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/js/foundation/foundation.section.js"></script>
  <script src="/scripts/rem.min.js"></script>
<![endif]-->
@Html.RegisteredScripts()
@RenderSection("scripts", required: false)
@if (!IsSectionDefined("QATools"))
{
    { Html.RenderAction("Environment", "Components"); }
}
else
{
    @RenderSection("QATools", required: false)
}
@{
    bool logClientSideErrors = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["LogClientSideErrors"]);
}
@if (logClientSideErrors)
{
    <script src="/scripts/app/log-errors.js" type="text/javascript"></script>
}
@if (!IsSectionDefined("analytics"))
{
    @Html.Partial("~/Views/Components/GoogleRemarketing.cshtml", null);
    @Html.Partial("~/Views/Components/FacebookPixel.cshtml", null);
    @Html.Partial("~/Views/Components/TwitterTracking.cshtml", null);
}
else
{
    @RenderSection("analytics", required: false);
}

</body>

</html>