@{
    Layout = "~/Views/Layouts/_EmptyScriptPage.cshtml";
}
@model FirstAgain.Domain.SharedTypes.LoanApplication.WebApplicationAPIModel

@section scripts {
    <script type="text/javascript">
        angular.module('WebApplicationAPIModule', ['webStorageModule', 'ls.services'])
            .controller('WebApplicationAPIController',
                function ($scope, $window, $timeout, loanAppSessionService) {
                    $scope.LoanApp = loanAppSessionService.load();

                    $scope.LoanApp.PurposeOfLoan.Type = "@Model.PurposeOfLoan";
                    $scope.LoanApp.ApplicationType = "@Model.ApplicationType";
                    @if (Model.FACT.HasValue) {
                        <text>$scope.LoanApp.FACTData.FACT = </text>@Model.FACT<text>;
                    </text>
                    }
                    @if (!string.IsNullOrEmpty(Model.ApplicationId)) {
                    <text>
                    $scope.LoanApp.MarketingEntityData = [];
                    $scope.LoanApp.MarketingEntityData.push({
                        "MarketingEntity":"PartnerApplicationId",
                        "EntityValue": "@Model.ApplicationId" });
                    </text>
                    }


                    $scope.LoanApp.Applicants[0].FirstName = "@Model.ApplicantFirstName";
                    $scope.LoanApp.Applicants[0].MiddleInitial = "@Model.ApplicantMiddleInitial";
                    $scope.LoanApp.Applicants[0].LastName = "@Model.ApplicantLastName";
                    $scope.LoanApp.Applicants[0].EmailAddress = "@Model.ApplicantEmailAddress";

                    $scope.LoanApp.Applicants[1].FirstName = "@Model.CoApplicantFirstName";
                    $scope.LoanApp.Applicants[1].MiddleInitial = "@Model.CoApplicantMiddleInitial";
                    $scope.LoanApp.Applicants[1].LastName = "@Model.CoApplicantLastName";
                    $scope.LoanApp.Applicants[1].EmailAddress = "@Model.CoApplicantEmailAddress";
                    @if (Model.LoanAmount.HasValue)
                    {
                        <text>$scope.LoanApp.LoanAmount = </text>@Model.LoanAmount<text>;
                    </text>
                    }

                    @if (Model.LoanTermMonths.HasValue)
                    {
                        <text>$scope.LoanApp.LoanTermMonths = </text>@Model.LoanTermMonths<text>;
                    </text>
                    }

                    $scope.LoanApp.LoanPaymentType = "@Model.LoanPaymentType";

                    $scope.LoanApp.ZipCode = "@Model.ZipCode";
                    $scope.LoanApp.Applicants[0].Residence.Address.AddressLine = "@Model.ApplicantHomeStreetAddress";
                    $scope.LoanApp.Applicants[0].Residence.Address.City = "@Model.ApplicantResidenceAddressCity";
                    $scope.LoanApp.Applicants[0].Residence.Address.State = "@Model.ApplicantResidenceAddressState";
                    $scope.LoanApp.Applicants[0].Residence.Address.ZipCode = "@Model.ApplicantResidenceAddressZipCode";

                    $scope.LoanApp.Applicants[1].Residence.Address.AddressLine = "@Model.CoApplicantHomeStreetAddress";
                    $scope.LoanApp.Applicants[1].Residence.Address.City = "@Model.CoApplicantResidenceAddressCity";
                    $scope.LoanApp.Applicants[1].Residence.Address.State = "@Model.CoApplicantResidenceAddressState";
                    $scope.LoanApp.Applicants[1].Residence.Address.ZipCode = "@Model.CoApplicantResidenceAddressZipCode";

                    loanAppSessionService.save($scope.LoanApp);
                    $timeout(function() {
                        $window.location.href = '/apply/';
                    }, 100);
                });
    </script>
}
    <div ng-app="WebApplicationAPIModule" ng-controller="WebApplicationAPIController" ng-cloak>
        <!-- TODO: replace with cdn url when we go back and do angular js templates, 
            currently no easy way to use re-usable url -->
        <img src="/content/images/ajax-loader.gif" />
    </div>