@{
    Layout = "~/Views/Layouts/_EmptyScriptPage.cshtml";
}
@model LightStreamWeb.Models.Apply.ApplyFromReferralModel

@section scripts {
<script type="text/javascript">
    angular.module('TeammateReferralModule', ['webStorageModule', 'ls.services'])
        .controller('TeammateReferralController',
            function ($scope, $window, $timeout, loanAppSessionService) {
                $scope.LoanApp = loanAppSessionService.load();

                $scope.LoanApp.PurposeOfLoan.Type = "@Model.PurposeOfLoan";
                $scope.LoanApp.ApplicationType = "@Model.ApplicationType";
                $scope.LoanApp.TeammateReferralId = @Model.TeammateReferralId;
                $scope.LoanApp.FACTData.FACT = @Model.FirstAgainCodeTrackingId;
                $scope.LoanApp.Applicants[0].EmailAddress = "@Model.EmailAddress";
                $scope.LoanApp.LoanAmount = @Model.LoanAmount;
                $scope.LoanApp.Discount = '@Model.Discount';

                @if (!string.IsNullOrEmpty(Model.ZipCode))
                {
                    <text>
                $scope.LoanApp.ZipCode = "@Model.ZipCode";
                $scope.LoanApp.HmdaComplianceProperty.Address.AddressLine = "@Model.AddressLine";
                $scope.LoanApp.HmdaComplianceProperty.Address.City = "@Model.City";
                $scope.LoanApp.HmdaComplianceProperty.Address.State = "@Model.State";
                $scope.LoanApp.HmdaComplianceProperty.Address.ZipCode = "@Model.ZipCode";
                $scope.LoanApp.HmdaComplianceProperty.Address.SecondaryUnit.Type = "@Model.SecondaryUnitType";
                $scope.LoanApp.HmdaComplianceProperty.Address.SecondaryUnit.Value = "@Model.SecondaryUnitValue";
                </text>
                }

                loanAppSessionService.save($scope.LoanApp);
                $timeout(function() {
                    $window.location.href = '/apply/';
                }, 100);
            });
</script>
}
<div ng-app="TeammateReferralModule" ng-controller="TeammateReferralController" ng-cloak>
    <img src="@Model.CdnBaseUrl/ajax-loader.gif" />
</div>