@model LightStreamWeb.Models.Apply.ApplyPageModel

<section class="row">
    <div class="large-6 columns">
        <h1 tabindex="0">Loan Application</h1>
        <p tabindex="0">Already a LightStream customer? <a href="/customer-sign-in?jumpToApply=true">Sign in</a>.</p>
    </div>
</section>

@Html.Partial("~/Views/Apply/Partials/_ProgressBar.cshtml", new LightStreamWeb.Models.Apply.ProgressBarModel(1))

<section class="row">
    <div class="large-12 columns" tabindex="0">
        <p class="note"><sup>*</sup>indicates required field</p>
    </div>
</section>

@Html.Partial("~/Views/Apply/Partials/_BasicRequirements.cshtml")

@LoanApplicationForm.StartForm("nextStep('" + @Url.Action("PersonalInfo") + "', 1)")

@Html.Partial("~/Views/Apply/Partials/_ApplicationType.cshtml")

@Html.Partial("~/Views/Apply/Partials/_PurposeOfLoan.cshtml")

@if (Model.ShouldDisplayReferredBy())
{
    @Html.Partial("~/Views/Apply/Partials/_HowYouHeard.cshtml")
}

@Html.Partial("~/Views/Apply/Partials/_ZipAndState.cshtml")

@Html.Partial("~/Views/Apply/Partials/_LoanAmountAndTerm.cshtml")

@Html.Partial("~/Views/Apply/Partials/_LoanPaymentType.cshtml")

@Html.Partial("~/Views/Apply/Partials/_RateAndEstimatedMonthlyPayment.cshtml")

@LoanApplicationForm.EndForm()

@section scripts {
    <script type="text/javascript">
        $(function () {
            SC.apply.loanInfo();

            $('form').on('submit', function (e) {
                SC.apply.loanInfo(true);
            });

            $('div.pb div.step').on('click', function (e) {
                SC.apply.loanInfo(true);
            });
        });
    </script>
    <script src="~/scripts/app/mouse-leave-window-popup.js" type="text/javascript"></script>
} 