@model LightStreamWeb.Models.SignIn.RecoverUserIDModel
@{
    ViewBag.Title = "Recover User ID";
    Layout = "~/Views/Layouts/_Base.cshtml";
}

@section metaTags {
    <meta name="robots" content="noindex">
}

    <section class="row ruled">

        <div class="ls-no-js panel">
            For security purposes (yours and ours), we recommend you need to enable javascript in order to sign in.  Thank you.
        </div>

        @if (TempData["Alert"] != null)
        {
            <div class="panel" id="alertPanel" role="alert" tabindex="0">
                @TempData["Alert"]
            </div>
        }

        <div class="large-10 columns medium-push-1">
            <h1>Recover User ID</h1>
            <p class="screen-reader-only">Please provide us with either your social security number or your reference or account number to help us recover your user ID.</p>
            <p aria-hidden="true">Please provide us with <em>either</em> option below to help us recover your user ID.</p>

            <form class="signin" action="/customer-sign-in/recoveruserid" name="RecoverUserId" novalidate method="post" ls-validate-on-submit="ls-validate-on-submit">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @{ViewData.Add("formName", "RecoverUserId");}
                @Html.Partial("~/Views/SignIn/Partials/_EnterAccountNumberOrSSN.cshtml", Model.AccountNumberOrSSN, ViewData)
                <div class="row">
                    <div class="medium-6 columns medium-push-1">
                        <input type="submit" value="Next" class="button" tabindex="0" />
                    </div>
                </div>
            </form>
        </div>
    </section>

<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>

@section scripts {
    <script src="~/scripts/app/EnterAccountNumberOrSSNController.js" type="text/javascript"></script>
    <script type="text/javascript">
        // omniture
        SC.main.signIn();

        $(function () {
            if ($("#alertPanel").length) {
                setTimeout(function () { $("#alertPanel").focus(); }, 800);
            }
        });

        $('form').on('submit', function () {
            return true;
        });
    </script>
}

