@model LightStreamWeb.Models.SignIn.ResetPasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Layouts/_Base.cshtml";
}
<section class="row ruled">

    <div class="ls-no-js panel">
        For security purposes (yours and ours), we recommend you need to enable javascript in order to sign in.  Thank you.
    </div>

    @if (TempData["Alert"] != null)
    {
        <div class="panel" id="alertPanel" role="alert" tabindex="0">
            @TempData["Alert"]
        </div>
    }

	<div class="large-10 columns medium-push-1">
	    <h1>Change Your Password</h1>
        Select your new password for your user ID <b>@Model.CustomerUserID</b>.

        <form class="signin" action="/customer-sign-in/resetpassword" name="ResetPassword" novalidate method="post" ng-controller="ResetPasswordController" ls-validate-on-submit="ls-validate-on-submit">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <div class="row" style="margin-top: 1rem">
	            <div class="medium-4 columns medium-push-1">
                    <label>New Password (8-20 characters)</label>
                    @LSForm.NewPassword("ResetPassword","Password","Password","1==1")
                </div>
                <div class="medium-6 columns" ng-show="PasswordOnFocus" ng-cloak="">
	                <div class="forminfo aside">
	                    <p>@Html.Raw(Resources.LoanAppErrorMessages.HintPassword)</p>
	                </div>
	            </div>
            </div>
            <div class="row">
	            <div class="medium-4 columns medium-push-1">
                    <label>Re-enter Password</label>
                    @LSForm.NewPassword("ResetPassword","ConfirmPassword","ConfirmPassword","1==1", false, null, false)
	                <div ng-show="ResetPassword.ConfirmPassword.$hasVisited && PasswordMismatch" ng-cloak="">
	                    <div class="formalert hide-no-js" tabindex="0">
	                        <p>@Html.Raw(Resources.LoanAppErrorMessages.ErrorPasswordNoMatch)</p>
	                    </div>
	                </div>
                </div>
            </div>            
            <div class="row">
	            <div class="medium-4 columns medium-push-1">
	                <input type="submit" value="Next" class="button" tabindex="3" />
	            </div>
            </div>
        </form>
    </div>
</section>

<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>

@section scripts {
    <script type="text/javascript">
        angular.module('LightStreamApp')
            .controller("ResetPasswordController", function ($scope) {
            $scope.$watch('Password', function () {
                $scope.PasswordMismatch = false;
                $scope.ConfirmPassword = null;
                $scope.ResetPassword.ConfirmPassword.$setValidity("confpwd", true);
                $scope.ResetPassword.ConfirmPassword.$clearTrackVisited();
            });
            $scope.$watch('ConfirmPassword', function () {
                $scope.PasswordMismatch = false;
                $scope.ResetPassword.ConfirmPassword.$setValidity("confpwd", true);
                if ($scope.Password && $scope.Password.length > 0) {
                    if ($scope.Password.localeCompare($scope.ConfirmPassword) != 0) {
                        $scope.PasswordMismatch = true;
                        $scope.ResetPassword.ConfirmPassword.$setValidity("confpwd", false);
                    }
                }
            });
        });

        // omniture
        SC.main.signIn();

        $('form').on('submit', function () {
            return true;
        });

        $(function () {
            if ($("#alertPanel").length) {
                setTimeout(function () { $("#alertPanel").focus(); }, 800);
            }
        });
    </script>
}

