@model LightStreamWeb.Models.SignIn.SelectAccountModel
@{
    ViewBag.Title = "Recover User ID";
    Layout = "~/Views/Layouts/_Base.cshtml";
}

<section class="row ruled">

    <div class="ls-no-js panel">
        For security purposes (yours and ours), we recommend you need to enable javascript in order to sign in.  Thank you.
    </div>

    <div ng-app="SelectAccount" ng-controller="SelectAccountCtrl">
        @if (TempData["Alert"] != null)
        {
            <div class="panel" id="alertPanel" role="alert" tabindex="0">
                @TempData["Alert"]
            </div>
        }
        else
        {
            <div class="panel" ng-show="SelectAccount.$pristine==false && SelectAccount.$invalid==true">
                Please select one of the accounts below.
            </div>
        }
	    <div class="large-10 columns medium-push-1">
	        <h1>Recover User ID</h1>
            Our records indicate that you have more than one user ID with us. To recover the appropriate user ID, please select one below.

            <form class="signin" action="/customer-sign-in/selectaccount" name="SelectAccount" novalidate method="post" ls-validate-on-submit="ls-validate-on-submit">
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @foreach (var selectedAccount in @Model.UserAccountInfo)
                {
                    <div class="row" style="margin-top:1.5rem">
                        <div class="medium-6 columns medium-push-1">                        
                            <div><input type="radio" id="SelectedUserId" name="SelectedUserId" value="@selectedAccount.UserId" ng-required="true" ng-model="SelectedUserId"/><span style="margin-left:0.5rem"><b>User ID associated with the following:</b></span></div>
                            <div style="margin-left:1.5rem">@selectedAccount.AccountIdentifierLabel @selectedAccount.AccountIdentifier</div>
                            <div style="margin-left:1.5rem">Account Type: @selectedAccount.ApplicationType</div>
                            <div style="margin-left:1.5rem">@selectedAccount.ApplicationDateLabel @String.Format("{0:d}",selectedAccount.ApplicationDate)</div>
                            <div style="margin-left:1.5rem">LoanAmount: @String.Format("{0:C}",selectedAccount.LoanAmount)</div>
                        </div>
                    </div>
                }
                <div class="row" style="margin-top:1.5rem">
	                <div class="medium-6 columns medium-push-1">
	                    <input type="submit" value="Next" class="button"/>
	                </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>

@section scripts {
    <script type="text/javascript">
        angular.module('SelectAccount', []).controller('SelectAccountCtrl', function ($scope) { });

        // omniture
        SC.main.signIn();

        $('form').on('submit', function () {
            return true;
        });

        $(function () {
            if ($("#alertPanel").length) {
                setTimeout(function () { $("#alertPanel").focus(); }, 800);
            }
        });
    </script>
}
