@model LightStreamWeb.Models.Components.TestimonialModel
<div id="customer-comments-wide" class="row">
    <div class="small-4 columns">
        <h3 class="thatBlueFontTho characteristicTitle" tabindex="0">Unsolicited customer comments</h3>
        <a href="/customer-testimonials" tabindex="-1" aria-hidden="true" hidden>
            <img data-src="@Model.TestimonialGraphicUrl" class="experienceImage cms lazy" alt="What our customers are saying about LightStream" onclick="$(this).parent().click();" tabindex="0" />
        </a>
    </div>
    <div class="small-8 columns">
        <div id="@Model.OwlCarouselId" class="owl-carousel owl-theme">

            @foreach (var comment in Model.Comments)
            {
                <div class="cms">
                    <p class="characteristicDescription">@comment.Comment</p>
                    <div class="customerLocation">—@comment.CustomerName @(String.IsNullOrEmpty(@comment.FromLocation) ? "" :  String.Format(" from {0}", comment.FromLocation))</div>
                </div>
            }
        </div>
        <div class="readmore-container">
            <a href="/customer-testimonials" class="readmore">Read more...</a>
        </div>
    </div>
</div>