@model LightStreamWeb.Models.PublicSite.LandingPageModel

@if (Model.IsFeatureBulletSectionThemeDefined) {
<style>
   #feature-bullets  .row {
        background-color: @Model.FeatureBulletSectionCustomizations.FeatureBulletSectionTheme.BackgroundColor  !important;
    }

    #feature-bullets > div > h2 {
        color: @Model.FeatureBulletSectionCustomizations.FeatureBulletSectionTheme.SectionSubheaderTextColor  !important;
    }

    #feature-bullets > div > div > div > div > h3, #feature-bullets > div > div > div > h3 {
        color: @Model.FeatureBulletSectionCustomizations.FeatureBulletSectionTheme.FeatureBulletCaptionTextColor  !important;
    }

    #feature-bullets > div > div > div > div > h6, #feature-bullets > div > div > div > h6 {
        color: @Model.FeatureBulletSectionCustomizations.FeatureBulletSectionTheme.FeatureBulletTextColor !important;
    }
</style>
}

@if (Model.FeatureBullets != null && Model.FeatureBullets.Count > 0)
{
    <section id="feature-bullets">
        <div class="row">
            @if (Model.IsFeatureBulletsSectionHeaderDefined)
            {
                <h2 class="cms" tabindex="0">@Html.Raw(Model.FeatureBulletSectionCustomizations.FeatureBulletsSectionHeader)</h2>
            }

            @if (Model.IsFeatureBulletsSectionSubheaderDefined)
            {
                <div class="cms sub-header" id="feature-bullet-sub-header" tabindex="0">@Html.Raw(Model.Content.FeatureBulletSectionCustomizations.FeatureBulletsSectionSubheader)</div>
            }            

            @if (Model.FeatureBullets.Count() == 3)
            {
                foreach (var bullet in Model.FeatureBullets)
                {
                    <div class="columns large-4 medium-4 small-12">
                        <img class="cms" src="@bullet.Graphic.DefaultGraphic.ToImageUrl()" alt="" role="presentation" />
                        <div>
                            <h3 class="cms" tabindex="0">@Html.Raw(bullet.Text)</h3>
                            <h6 class="cms sub-text" tabindex="0">
                                @Html.Raw(bullet.SubText)
                            </h6>
                        </div>
                    </div>
                }
            }
            else
            {
                for (int i = 0; i < Model.FeatureBullets.Count; i++)
                {
                    var bullet = Model.FeatureBullets[i];

                    if ((i + 2) % 2 == 0)
                    {
                        @Html.Raw("<div class=\"row\">");
                    }

                    <div class="columns large-6 medium-6 small-12">
                        <img class="cms" src="@bullet.Graphic.DefaultGraphic.ToImageUrl()" alt="" role="presentation" />
                        <div>
                            <h3 class="cms" tabindex="0">@Html.Raw(bullet.Text)</h3>
                            <h6 class="cms sub-text" tabindex="0">
                                @Html.Raw(ADAHelper.PreventMultipleBRsRepeatingBlank(bullet.SubText))
                            </h6>
                        </div>
                    </div>

                    if ((i + 2) % 2 != 0 || i == Model.FeatureBullets.Count - 1)
                    {
                        @Html.Raw("</div>");
                    }
                }
            }
        </div>
    </section>
}
