@using FirstAgain.Domain.Common

@model LightStreamWeb.Models.Apply.SunTrustApplyPageModel

@section styles {
    <style type="text/css">

    </style>
}

@{Html.RegisterScriptFile("~/scripts/app/loan-application.js");}

@Html.Partial("~/Views/Apply/Suntrust/_ProgressBar.cshtml", new LightStreamWeb.Models.Apply.ProgressBarModel(1))

<section class="row">
    <div class="large-12 columns">
        <p class="note"><sup>*</sup>indicates required field</p>
    </div>
</section>

<section class="row">
    <div class="teammate-alert">
        <p>Confirm the following during your Needs Met Conversation</p>
    </div>
    <p></p>
</section>

<section class="row">
    <div class="large-12 columns panel">
        <h2><a href="#" class="expand_hide" id="ToggleBasicRequirements">Basic Requirements  <i class="fa fa-caret-down"></i></a></h2>
        <div class="mobileonlytoggle cms">
            @foreach (var r in Model.SuntrustBasicRequirements)
            {
                <p>@Html.Raw(r)</p>
            }
        </div>
    </div>
</section>

@LoanApplicationForm.StartFormWithInit("initSuntrustApp();", "nextStep('" + Url.Action("LoanInfo") + "', 1);")

@Html.Partial("~/Views/Apply/Partials/_ApplicationType.cshtml")
@Html.Partial("~/Views/Apply/Partials/_PurposeOfLoan.cshtml")
@Html.Partial("~/Views/Apply/Suntrust/_LoanAmount.cshtml")

<span ng-if="LoanApp.PurposeOfLoan.IsHomeImprovement" ng-cloak>
    @Html.Partial("~/Views/Apply/Partials/_PropertyBeingImproved.cshtml")
</span>

@Html.Partial("~/Views/Apply/Suntrust/_BasicInfoFields.cshtml")

@LoanApplicationForm.EndForm(" ng-disabled=\"EmployeeLookupWaiting\" ")

