@model LightStreamWeb.Models.Apply.SunTrustApplyPageModel

@{Html.RegisterScriptFile("~/scripts/app/loan-application.js");}

@Html.Partial("~/Views/Apply/Suntrust/_ProgressBar.cshtml", new LightStreamWeb.Models.Apply.ProgressBarModel(2))

<section class="row">
    <div class="large-12 columns">
        <p class="note"><sup>*</sup>indicates required field</p>
    </div>
</section>

@LoanApplicationForm.StartFormWithInit("initSuntrustApp();", "nextStep('" + Url.Action("PersonalInfo") + "', 2);")

@Html.Partial("~/Views/Apply/Partials/_LoanAmountAndTerm.cshtml")

@if (Model.DisplayMode == LightStreamWeb.Models.Apply.SunTrustApplyPageModel.IntroPageDisplayMode.PremierBanking)
{
    @Html.Partial("~/Views/Apply/Suntrust/_PremierLoanPaymentType.cshtml")
}
else if (Model.DisplayMode == LightStreamWeb.Models.Apply.SunTrustApplyPageModel.IntroPageDisplayMode.PrivateWealth)
{
    @Html.Partial("~/Views/Apply/Suntrust/_PWMLoanPaymentType.cshtml")
}
else
{
    @Html.Partial("~/Views/Apply/Partials/_LoanPaymentType.cshtml")
}
@Html.Partial("~/Views/Apply/Partials/_ZipAndState.cshtml")

<div class="row">
    <div class="medium-6 columns">
        <label>May we ask how you heard about us?</label>
        @(Html.NgDropDownList(
                "LoanApp.HowYouHeardAboutUs",
                "howYouHeard",
                "Select how you heard about us",
                Model.GetMarketingSources(),
                required:false)
        )
    </div>
</div>

@Html.Partial("~/Views/Apply/Partials/_RateAndEstimatedMonthlyPayment.cshtml")

@LoanApplicationForm.EndForm()
     
