@model LightStreamWeb.Models.Apply.SunTrustApplyPageModel

@{Html.RegisterScriptFile("~/scripts/app/loan-application.js");}

@Html.Partial("~/Views/Apply/Suntrust/_ProgressBar.cshtml", new LightStreamWeb.Models.Apply.ProgressBarModel(3))

<section class="row">
    <div class="large-12 columns">
        <p class="note"><sup>*</sup>indicates required field</p>
    </div>
</section>

@LoanApplicationForm.StartFormWithInit("initSuntrustApp();", "nextStep('" + Url.Action("Confirm") + "', 3);")

<section class="row">
    <div class="large-12 columns">
        <h2>Your Information</h2>
    </div>
</section>

@Html.Partial("~/Views/Apply/Partials/_Applicant.cshtml", FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Primary)

<span ng-if="LoanApp.ApplicationType == 'Joint'">
    <section class="row">
        <div class="large-12 columns">
            <h2>Co-Applicant Information</h2>
        </div>
    </section>

    @Html.Partial("~/Views/Apply/Partials/_Applicant.cshtml", FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Secondary)
</span>


<span ng-init="SuppressTeammateAlerts = LoanApp.PurposeOfLoan.IsHomeImprovement">
    @Html.Partial("~/Views/Apply/Partials/_OtherAnnualIncome.cshtml")
</span>

@Html.Partial("~/Views/Apply/Partials/_OtherFinancialInformation.cshtml")

<span ng-if="LoanApp.PurposeOfLoan.IsHomeImprovement">

    <section class="row">
        <div class="large-12 columns">
            <h2>Information for Property being Improved</h2>
        </div>
    </section>

    @Html.Partial("~/Views/Apply/Partials/_PropertyBeingImproved.cshtml")

</span>

<section class="row">
    <div class="large-12 columns disclaimer teammate-alert">
        <p class="note">
            Important Note: Federal law requires all financial institutions to notify applicants that they will obtain,
            verify and record information that identifies each person who opens an account or applies for a loan. When you open an account
            or apply for a loan we are required to ask your name, address, date of birth, and other information that will allow you to be
            identified as the account or loan applicant. In addition, we may ask for identifying documents in order to verify this information.
        </p>
    </div>
</section>
<br />

@LoanApplicationForm.EndForm()

