@using FirstAgain.Domain.Common

@model LightStreamWeb.Models.Apply.SunTrustApplyPageModel

@section styles {
    <style type="text/css">
    </style>
}

@{Html.RegisterScriptFile("~/scripts/app/loan-application.js");}


<section class="row">
    <div class="large-12 columns">
        <h1>Referral Information</h1>
    </div>
</section>

<section class="row">
    <div class="teammate-alert">
        <p>Teammate, please explain the following to the client:</p>
    </div>
    <p></p>
</section>

<section class="row">
    <div class="large-12 columns panel">
        <h2>Application reminders...</h2>
        <ul class="cms bullets">
            <li>Confirm your client has internet access and an email address  <a href="#" data-open="onlineExperience"> <span class="forminfo" /></a></li>
            <li>
                Remind your client that LightStream is for clients with Good
                <a href="/partial/cms/good-credit" data-popup="true"> <span class="forminfo"></span></a> or Excellent Credit

                <a href="/partial/cms/excellent-credit" data-popup="true"><span class="forminfo" /></a>
            </li>
            <li>
                Ensure your client is applying for an eligible purpose
                <a href="#" data-open="loanRestrictions"><span class="forminfo" /></a>
            </li>
            <li>
                Encourage applicants to submit a full and complete application
                <a href="#" data-open="assetDisclaimer"><span class="forminfo" /></a>
            </li>
        </ul>
        <p><b>NOTE:</b> click  <span class="forminfo" /> for additional information. </p>
    </div>
</section>

<section class="row">
    <div class="large-12">
        <p class="note"><sup>*</sup>indicates required field</p>
    </div>
</section>



@LoanApplicationForm.StartFormWithInit("initSuntrustApp(true);", "submitLoanApp('" + Url.Action("SubmitReferral") + "', '" + Url.Action("ReferralThankYou") + "');")

<div class="row" ng-cloak="" ng-show="!!LoanApp.AlertMessage">
    <div class="large-12 columns formwarning">
        <p>{{LoanApp.AlertMessage}}</p>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">
        <label><sup>*</sup>Client Email Address</label>
        <input id="ApplicantEmailAddress" name="ApplicantEmailAddress" type="email" maxlength="150"
               required="required" ls-track-visited=""
               ng-model="LoanApp.ApplicantEmailAddress"
               ng-blur="validateReferralEmail()"
               ng-pattern="/@(@"^(?!.*([\.])\1)[a-z0-9_\-\.\+]{2,}@[a-z0-9_\-\.]{1,}\.[a-z]{2,}$/i")">
    </div>
    <div class="medium-6 columns">
        <div class="forminfo aside down" ng-hide="LoanApp.ReferralEmailValidation.hasValidationFailed || LoanApp.ReferralEmailValidation.isValidating">
            <p>Confirm client's email address</p>
        </div>
        <div class="aside down">
            <span ng-cloak ng-show="LoanApp.ReferralEmailValidation.isValidating">
                <img src="@Model.CdnBaseUrl/ajax-loader.gif" alt="loading">
                <span>Please wait while we verify your email.</span>
            </span>
            <div class="formalert" tabindex="0" ng-cloak ng-show="LoanApp.ReferralEmailValidation.hasValidationFailed">
                <p>There may be an issue with the email provided.<br />Please review and correct, or continue.</p>
            </div>
        </div>
    </div>
</div>

<section class="row columns">
    <div class="row columns">
        <input type="radio" id="IsExistingClientNo" name="IsExistingClientNo" ng-model="LoanApp.IsExistingClient" ng-required="true" ng-value="false" /><label for="IsExistingClientNo">New Client</label>
    </div>

    <div class="row columns" ng-if="LoanApp.IsExistingClient == false" ng-cloak>
        <div class="medium-3 columns">
            @LoanApplicationForm.SocialSecurityNumber("SSN", "Enter your 9 digit social security number.", "Please enter a valid social security number", "LoanApp.SocialSecurityNumber", "NewSocialSecurityNumber", isRequired: "false")
        </div>

        <div class="medium-9 columns">
            <div class="forminfo aside down">
                <p>Please enter the client’s social security number</p>
            </div>
        </div>
    </div>

    <div class="row columns">
        <input type="radio" id="IsExistingClientYes" name="IsExistingClientYes" ng-model="LoanApp.IsExistingClient" ng-required="true" ng-value="true" /><label for="IsExistingClientYes">Existing Client</label>
    </div>

    <div class="row columns" ng-if="LoanApp.IsExistingClient == true" ng-cloak>
        <div class="medium-3 columns">
            @LoanApplicationForm.SocialSecurityNumber("SSN", "Enter your 9 digit social security number.", "Please enter a valid social security number. If unavailable, please select New Client above", "LoanApp.SocialSecurityNumber", "ExistingSocialSecurityNumber")
        </div>

        <div class="medium-9 columns">
            <div class="forminfo aside down">
                <p>Please enter the client’s social security number</p>
            </div>
        </div>
    </div>

    <div class="formalert" tabindex="0" ng-if="(LoanApp.IsExistingClient == undefined && LoanApplication.$submitted) ||
        (LoanApp.IsExistingClient == undefined && (LoanApplication.PurposeOfLoan.$dirty || LoanApplication.LoanAmount.$dirty))" ng-cloak>
        <p>Please select an option</p>
    </div>
</section>

@Html.Partial("~/Views/Apply/Partials/_PurposeOfLoan.cshtml")
@Html.Partial("~/Views/Apply/Suntrust/_LoanAmount.cshtml")

<span ng-if="LoanApp.PurposeOfLoan.IsHomeImprovement" ng-cloak>
    @Html.Partial("~/Views/Apply/Suntrust/_ApplicationType.cshtml")

    @Html.Partial("~/Views/Apply/Partials/_PropertyBeingImproved.cshtml")
</span>

@if (Model.DisplayMode == LightStreamWeb.Models.Apply.SunTrustApplyPageModel.IntroPageDisplayMode.PrivateWealth)
{
    @Html.Partial("~/Views/Apply/Suntrust/_OfficerIdFields.cshtml")

}
else
{
    @Html.Partial("~/Views/Apply/Suntrust/_EmployeeIdFields.cshtml")
}

<div class="row" style="margin-top:0.75em">
    <div class="medium-6 columns">
        <input type="submit" id="Continue" class="button" value="Continue" ng-disabled="EmployeeLookupWaiting" />
        <img src="@Model.CdnBaseUrl/ajax-loader.gif" ng-cloak ng-show="Loading" />
        <div class="formalert" tabindex="0" ng-show="LoanApp.ErrorMessage" ng-cloak>
            <p>{{LoanApp.ErrorMessage}}</p>
        </div>

    </div>
</div>

<div class="reveal" id="onlineExperience" data-reveal>
    @Html.Partial("~/Views/Apply/Partials/_OnlineExperienceModal.cshtml")
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true" class="close-reveal-modal">&times;</span>
    </button>
</div>

<div class="reveal" id="loanRestrictions" data-reveal>
    @Html.Partial("~/Views/Apply/Partials/_LoanRestrictions.cshtml")
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true" class="close-reveal-modal">&times;</span>
    </button>
</div>

<div class="reveal" id="assetDisclaimer" data-reveal>
    @Html.Partial("~/Views/Apply/Partials/_TotalIncomeAssetDisclaimer.cshtml")
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true" class="close-reveal-modal">&times;</span>
    </button>
</div>

@LoanApplicationForm.EndFormWithoutButton()


