
<div hidden data-ls-api-base-url='@Model.PublicRestApiUri'></div>
<div class="web-component">
    <lswc-legal-banner></lswc-legal-banner>
</div>

<!-- Backdrop -->
<div class="backdrop mobile-menu-backdrop"></div>
<!-- /Backdrop -->
<!-- Nav Container -->
<div class="nav-container">
    <div class="row">
        <!-- Desktop Nav-->
        <div class="large-12 columns desktop-nav navbar affix bg-biscay @Model.NavClass">

            <div class="navbar-inner">
                <!-- Navbar Container -->
                <div class="navbar-container">
                    <div class="row">
                        <div class="large-12 columns columns-fluid">
                            <!-- Navbar Brand -->
                            <div class="navbar-brand-container pull-left">
                                <h1 class="navbar-brand">
                                    <a href="@Model.LogoUrl">
                                        <img src="@Model.CdnBaseUrl/lightstream-logo.png" alt="LightStream">
                                    </a>
                                </h1>
                            </div>
                            <!-- /Navbar Brand -->
                            <!-- Navigation -->
                            <div class="navbar-navigation-container pull-right">
                                <div class="navbar-navigation">
                                    <!-- Navigation Header -->
                                    <div class="navbar-navigation-header">
                                        <div class="row">
                                            <div class="large-12">
                                                <nav class="pull-right">
                                                    <ul class="navbar-navigation-header-links">

                                                        <li><a class="btn btn-small btn-link" data-open="RatesModal" aria-label="Summary of Rates">Rates</a></li>
                                                        <li><a class="btn btn-small btn-link no-track" href="/partials/who-we-are" data-popup="true" aria-label="Summary of About">About</a></li>
                                                        <li><a class="btn btn-small btn-link no-track" href="/modals/privacy" data-popup="true">Security</a></li>
                                                        <li><a class="btn btn-small btn-link no-track" href="/modals/contact-us" data-popup="true">Contact Us</a></li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Navigation Header -->
                                    <!-- Navigation Footer -->
                                    <!-- /Navigation Footer -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Navbar Container -->
            </div>
        </div>
        <!-- /Desktop Nav-->
        <!-- Mobile Nav-->
        <div class="small-12 mobile-nav">
            <div class="nav-bar affix">
                <ul class="left-nav pull-left">
                    <li class="hamburger">
                        <a href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                            <i class="fa fa-times hide"></i>
                        </a>
                    </li>
                    <li class="logo">
                        <h2><a href="@Model.LogoUrl"><i class="ls ls-logo ls-1x-logo"></i></a></h2>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /Mobile Nav-->
    </div>
</div>
<!-- /Nav Container -->
<!-- Mobile Menu-->
<div class="mobile-menu">
    <ul>
        <li class="menu">
            <div class="large-12 medium-12 columns">
                <nav>
                    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false" data-slide-speed="0">
                        <li class="accordion-item root-nav-item">
                            <a href="#" data-open="RatesModal">
                                <i class="ls ls-rate ls-pull-left"></i>
                                <span class="title">
                                    Rates
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item root-nav-item">
                            <a class="no-track" href="/partials/who-we-are" data-popup="true">
                                <i class="ls ls-lightstream ls-pull-left"></i>
                                <span class="title">
                                    About
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item root-nav-item">
                            <a class="no-track" href="/modals/privacy" data-popup="true">
                                <i class="ls ls-app-lock ls-pull-left"></i>
                                <span class="title">
                                    Security
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item root-nav-item">
                            <a class="no-track" href="/modals/contact-us" data-popup="true">
                                <i class="ls ls-comment ls-pull-left"></i>
                                <span class="title">
                                    Contact Us
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item">
                            <div class="social">
                                <ul>
                                    <li><a href="@Model.BloggerURL" target="_blank" data-jump="true" data-tracking="e-Journal" aria-label="LightStream Blog"><i class="ls ls-blogger ls-1x"></i></a></li>
                                    <li><a href="@Model.YoutubeURL" target="_blank" data-jump="true" data-tracking="YouTube" aria-label="LightStream YouTube"><i class="ls ls-youtube ls-1x"></i></a></li>
                                    <li><a href="@Model.FacebookURL" target="_blank" data-jump="true" data-tracking="Facebook" aria-label="LightStream Facebook"><i class="ls ls-facebook ls-1x"></i></a></li>
                                    <li><a href="@Model.TwitterURL" target="_blank" data-jump="true" data-tracking="Twitter" aria-label="LightStream Twitter"><i class="ls ls-twitter ls-1x"></i></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </li>
    </ul>
</div>
<!-- /Mobile Menu-->