@model LightStreamWeb.Models.PublicSite.LandingPageModel

<div id="partner-nav-mobile">
    <div class="small-12 mobile-nav">
        <div class="nav-bar affix">
            <div style="height: 50%">
                <ul class="left-nav pull-left">
                    <li class="hamburger">
                        <a href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                            <i class="fa fa-times hide"></i>
                        </a>
                    </li>
                    <li class="logo">
                        <h2><a href="/"><i class="ls ls-logo ls-1x-logo"></i></a></h2>
                    </li>
                </ul>
                <ul class="right-nav pull-right">
                    <li class="apply-now">
                        <a class="alert btn-round" href="/apply" onclick="SC.main.navbar.applyNow()">APPLY NOW</a>
                    </li>
                    <li class="sign-in">
                        <a class="alert btn-round" href="/customer-sign-in" onclick="SC.main.navbar.signIn()">SIGN IN</a>
                    </li>
                </ul>
            </div>

            <div class="partner-logo-container">
                @if (String.IsNullOrEmpty(@Model.Content.PartnerLogo.Hyperlink))
                {
                    <a><img src="@Model.Content.PartnerLogo.ToImageUrl()" alt=""></a>
                }
                else
                {
                    <a href="@Model.Content.PartnerLogo.Hyperlink" data-jump="true"><img src="@Model.Content.PartnerLogo.ToImageUrl()" alt="@Model.Content.PartnerLogo.Alt"></a>
                }
            </div>
        </div>
    </div>
</div>