@{ 
    Layout = "~/Views/Layouts/_Base.cshtml";
}

@model LightStreamWeb.Models.Shared.IPageWithHeading

@section bodyTag {
    @if (IsSectionDefined("bodyTag"))
    {
        @RenderSection("bodyTag", required: false)
    } else
    {
         @:<body class="account sub @Model.BodyClass">
}
}
@section layout {
    @Styles.Render("~/bundles/css-responsive-main")
}

@section header {
    @if (IsSectionDefined("header"))
    {
        @RenderSection("header", required: false)
    }
    else
    {

        @Html.Partial("~/Views/Components/Navbar/AccountServicesNav.cshtml")

        <!-- Header -->
        <header id="header" class="row">
            <div class="large-12 columns headline">
                <h2>@Model.Heading</h2>
            </div>
        </header>
        <!-- /Header -->
    }
}

@RenderBody()

@Html.Partial("~/Views/AccountServices/Modals/_TimeoutModal.cshtml")

@if (IsSectionDefined("APRDisclosure"))
{
    @section APRDisclosure {
        @RenderSection("APRDisclosure", required: false)
    }
}

@section styles {
    @RenderSection("styles", required: false)
    @Styles.Render("~/bundles/css-jquery-ui")
    @Styles.Render("~/bundles/css-account-services")
}


<div class="reveal small" data-reveal id="RatesModal">
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
    @Html.Partial("~/Views/Components/_RateTable.cshtml", "Default")
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts-account-services")
    @RenderSection("scripts", required: false)
}

@section CmsFooter {
    <p class="cms" id="FundedAccountFooter">@Html.Action("FundedAccountFooter", "Components")</p>
}
