@{ Layout = "~/Views/Layouts/_Base.cshtml"; }

@using FirstAgain.Domain.SharedTypes.ContentManagement;

@model LightStreamWeb.Models.ApplicationStatus.ApplicationStatusPageModel

@section bodyTag {
    @if (!IsSectionDefined("bodyTag"))
    {
        @:<body class="@Model.BodyClass" ng-app="ApplicationStatusModule">
}
        else
        {
            @RenderSection("bodyTag", required: false)
        }
}

@section header {
    @Html.Partial("~/Views/Components/Navbar/AppStatusNav.cshtml", Model)
}

@RenderBody()

@Html.Partial("~/Views/AccountServices/Modals/_TimeoutModal.cshtml")

<div class="reveal small" data-reveal id="RatesModal"
     ng-controller="RatesModalController"
     @switch (Model.RateModalDisplay) { case LightStreamWeb.Models.ApplicationStatus.ApplicationStatusPageModel.RateModalDisplayType.NotSelected: @: ng-init="loadRatesGrid('NotSelected', false)"
     break; case LightStreamWeb.Models.ApplicationStatus.ApplicationStatusPageModel.RateModalDisplayType.ReadOnlyPurposeOfLoan: @: ng-init="loadRatesGrid('@Model.GetPurposeOfLoan()', true)"
     break; case LightStreamWeb.Models.ApplicationStatus.ApplicationStatusPageModel.RateModalDisplayType.ApplicationRates: @: ng-init="loadApplicationRates('@Model.ApplicationId', '@Model.GetPurposeOfLoan()', '@Model.CurrentStatus')"
     break; }>
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
    @Html.Partial("~/Views/Components/_RateTable.cshtml", LandingPageContent.RateTableCalculatorDisplayType.Default.ToString())
</div>

@Html.Partial("~/Views/ENotices/_Modal.cshtml")




@section styles {
    @RenderSection("styles", required: false)
    @Styles.Render("~/bundles/css-jquery-ui")
    @Styles.Render("~/bundles/css-account-services")
    <link rel="stylesheet" href="/Content/signature-pad/jquery.signaturepad.css">
}

@section footer {
    @if (!IsSectionDefined("footer"))
    {
        <footer class="row">

            <article class="medium-6 small-12 columns legalcopy">
                <p class="cms" id="Footer">@{Html.RenderAction("Footer", "Components");}</p>
                @RenderSection("APRDisclosure", required: false)
                <p id="SameDayFundingDisclosure" class="legalcopy" tabindex="0"></p>
            </article>

            <div class="medium-4 small-8 columns footer_images">
                <div>
                    <a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="@Model.CdnBaseUrl/plant-a-tree-small.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>
                    <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.lightstream.com&lang=en" data-jump="true" data-popup="true" data-name="NortonSecured" data-width="580" data-height="480"><img src="@Model.CdnBaseUrl/norton.png" alt="Norton Security Badge" width="132" height="68" /></a>
                </div>

                <div class="social">
                    <a href="@Model.TwitterURL" target="_blank" data-jump="true"><i class="ls ls-twitter ls-1x"></i></a>
                    <a href="@Model.FacebookURL" target="_blank" data-jump="true"><i class="ls ls-facebook ls-1x"></i></a>
                    <a href="@Model.GoogleplusURL" target="_blank" data-jump="true"><i class="ls ls-google-plus ls-1x"></i></a>
                    <a href="@Model.YoutubeURL" target="_blank" data-jump="true"><i class="ls ls-youtube ls-1x"></i></a>
                </div>
            </div>


        </footer>
    }
    else
    {
        @RenderSection("footer", required: false)
    }
}

@section scripts {
    @Scripts.Render("~/bundles/scripts-application-status")
    @RenderSection("scripts", required: false)
}

