@{ Layout = "~/Views/Layouts/_Base.cshtml"; }

@model LightStreamWeb.Models.Apply.ApplyPageModel

@section bodyTag {
    @if (IsSectionDefined("bodyTag"))
    {
        @RenderSection("bodyTag", required: false)
    }
    else
    {
        @:<body class="@Model.BodyClass" id="ng-app" ng-app="LoanAppModule" ng-controller="LoanApplicationController" onunload="">
            <div class="pre-ie8">We have detected that you are using an older version of Internet Explorer. Please <a href="https://browser-update.org/update-browser.html" target="_new">upgrade your web browser</a> for the best experience.</div>
        }
}

@section header {
    @if (IsSectionDefined("header"))
    {
        @RenderSection("header", required: false)
    }
    else
    {
        @Html.Partial("~/Views/Components/Navbar/ApplyNav.cshtml")
    }

}

@section metaTags {
    <meta name="robots" content="noindex">
}

@RenderBody()

@section styles {
    @RenderSection("styles", required: false)
    @Styles.Render("~/bundles/css-jquery-ui")
}

@section footer
{
    <!-- Page Footer -->
    <div class="page-footer">
        @if (IsSectionDefined("footer"))
        {
            @RenderSection("footer", required: false)
        }
        else
        {
            <footer class="row">

                <article class="large-12 columns legalcopy">
                    <p class="cms" id="Footer" tabindex="0">@{Html.RenderAction("Footer", "Components");}</p>
                    @RenderSection("APRDisclosure", required: false)
                    <p id="SameDayFundingDisclosure" class="legalcopy" tabindex="0"></p>
                </article>

                <div class="large-12 columns footer_images">
                    <a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="@Model.CdnBaseUrl/plant-a-tree-small.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>
                    <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.lightstream.com&lang=en" data-jump="true" data-popup="true" data-name="NortonSecured" data-width="580" data-height="480"><img src="@Model.CdnBaseUrl/norton.png" alt="Norton Security Badge" width="132" height="68" /></a>
                </div>
            </footer>
        }
    </div>
    <!-- /Page Footer -->
}

<!-- Modals -->
<div class="reveal small" data-reveal id="RatesModal">
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
    @Html.Partial("~/Views/Components/_RateTableWithPurpose.cshtml")
</div>
<!-- /Modals -->

@section scripts {
    @Scripts.Render("~/bundles/scripts-apply")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        //Fix for IE / Safari, that don't support fieldset disabled
        $(function () {
            if ($('fieldset[disabled=disabled]').length === 1 && $('fieldset:disabled').length === 0) {
                $('fieldset[disabled=disabled] input').attr('disabled', 'disabled');
                $('fieldset[disabled=disabled] select').attr('disabled', 'disabled');
            }
        });
    </script>
    @* Currently both pixels have the same facebook Id, until that changes this code will have to switch
        between the two JS implementations. *@
    @if (IsSectionDefined("ThankYouPix"))
    {
        @RenderSection("ThankYouPix", required: false)
    }
    else
    {
        @* This is to combat the facebook pixel code that is exclude in the Apply section. In _Base.cshtml
            it is turned off, but then we need to determine if to turn it back on or use the ThankYou Pixel
            instead. *@
    }
}

@*Analytics not needed on these pages*@
@section analytics {}
