@{ Layout = "~/Views/Layouts/_Base.cshtml"; }

@using FirstAgain.Domain.SharedTypes.ContentManagement;

@model LightStreamWeb.Models.Apply.BaseInProcessAppPageModel

@section bodyTag {
    @if (!IsSectionDefined("bodyTag"))
    {
        @:<body class="@Model.BodyClass" id="ng-app" ng-app="LoanAppModule" ng-controller="LoanApplicationController">
}
else
{
    @RenderSection("bodyTag", required: false)
}
}

@section header {
    @if (!IsSectionDefined("header"))
    {
        <div hidden data-ls-api-base-url='@Model.PublicRestApiUri'></div>
        <div class="web-component">
            <lswc-legal-banner></lswc-legal-banner>
        </div>

        <header id="header" class="row">
            <div class="large-12 columns">

                <div class="row darktint headerbar">
                    <div class="small-9 medium-4 columns">
                        <h1><a href="@Url.Action("Index")"><img src="@Model.CdnBaseUrl/lightstream-logo.png" alt="logo_2x" /></a></h1>
                    </div>

                    <a href="javascript:void(0);" class="small-2 columns navtoggle" id="show_menu"><i class="fa fa-bars"></i></a>

                    <div class="medium-8 columns">
                        <nav class="mainmenu">
                            <ul>
                                <li data-nav="about-us"><a href="/partials/who-we-are" data-popup="true" class="no-track">About Us</a></li>
                                <li data-nav="rates"><a href="#" data-open="RatesModal" class="no-track">Rates/Terms</a></li>
                                <li data-nav="privacy"><a href="/modals/privacy" data-popup="true" class="no-track">Privacy/Security</a></li>
                                <li data-nav="sign-out"><a href="/signin/logout" class="sign-out">Sign Out</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </header>
    }
    else
    {
        @RenderSection("header", required: false)
    }
}

@RenderBody()

@section styles {
    @RenderSection("styles", required: false)
}

@section footer {
    @if (!IsSectionDefined("footer"))
    {
        <footer class="row">

            <article class="large-12 columns legalcopy">
                <p class="cms" id="Footer">@{Html.RenderAction("Footer", "Components");}</p>
                @RenderSection("APRDisclosure", required: false)
                <p id="SameDayFundingDisclosure" class="legalcopy" tabindex="0"></p>
            </article>

            <div class="large-12 columns footer_images">
                <a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="@Model.CdnBaseUrl/plant-a-tree-small.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>
                <a href="https://trustsealinfo.websecurity.norton.com/splash?form_file=fdf/splash.fdf&dn=www.lightstream.com&lang=en" data-jump="true" data-popup="true" data-name="NortonSecured" data-width="580" data-height="480"><img src="@Model.CdnBaseUrl/norton.png" alt="Norton Security Badge" width="132" height="68" /></a>
            </div>

        </footer>
    }
    else
    {
        @RenderSection("footer", required: false)
    }
}

<div class="reveal small" data-reveal id="RatesModal">
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
    @Html.Partial("~/Views/Components/_RateTable.cshtml", LandingPageContent.RateTableCalculatorDisplayType.Default.ToString())
</div>

@section scripts {
    @Scripts.Render("~/bundles/scripts-apply")
    @RenderSection("scripts", required: false)
}

